﻿
@{
    ViewBag.Title = "Boudl Abha Photos";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/areas/ar/assets/plugins/galleryslider/unitegallery/css/unite-gallery.css" rel="stylesheet" />
    <link href="~/areas/ar/assets/plugins/galleryslider/unitegallery/themes/default/ug-theme-default.css" rel="stylesheet" />
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page gallery-header">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar">الرئيسية</a></li>
        <li><a href="javascript:;">بودل أبها</a></li>
        <li class="active">معرض الميديا</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Gallery Container -->
<div class="gallery-container container gallery-grid">
    <!-- Gallery Container -->
    <div id="gallery" style="display:none;">
        <img alt="Preview Image 1" src="http://csadms.com/boudl-apart/assets/img/thumb/Abha/1.jpg"
             data-image="http://csadms.com/boudl-apart/assets/img/branches/Abha/1.jpg" data-description="Abha">

        <img alt="Preview Image 1" src="http://csadms.com/boudl-apart/assets/img/thumb/Abha/2.jpg"
             data-image="http://csadms.com/boudl-apart/assets/img/branches/Abha/2.jpg" data-description="Abha">

        <img alt="Preview Image 1" src="http://csadms.com/boudl-apart/assets/img/thumb/Abha/3.jpg"
             data-image="http://csadms.com/boudl-apart/assets/img/branches/Abha/3.jpg" data-description="Abha">

        <img alt="Preview Image 1" src="http://csadms.com/boudl-apart/assets/img/thumb/Mahayel/1.jpg"
             data-image="http://csadms.com/boudl-apart/assets/img/branches/Mahayel/1.jpg" data-description="Mahayel Aseer">

        <img alt="Preview Image 1" src="http://csadms.com/boudl-apart/assets/img/thumb/Mahayel/5.jpg"
             data-image="http://csadms.com/boudl-apart/assets/img/branches/Mahayel/5.jpg" data-description="Mahayel Aseer">

        <img alt="Preview Image 1" src="http://csadms.com/boudl-apart/assets/img/thumb/Mahayel/6.jpg"
             data-image="http://csadms.com/boudl-apart/assets/img/branches/Mahayel/6.jpg" data-description="Mahayel Aseer">
    </div>
</div>
<!-- End of Gallery Container -->
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-common-libraries.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-functions.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-thumbsgeneral.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-thumbsstrip.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-touchthumbs.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-panelsbase.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-strippanel.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-gridpanel.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-thumbsgrid.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-tiles.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-tiledesign.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-avia.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-slider.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-sliderassets.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-touchslider.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-zoomslider.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-video.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-gallery.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-lightbox.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-carousel.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-api.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/themes/default/ug-theme-default.js'></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#gallery").unitegallery();
        });
    </script>
}



