﻿@model Boudl.Client.Mvc.FindAHotelDTO
@{
  Layout = null;
}
<script type="text/javascript" src="~/assets/js/jquery.js"></script>

<script>
   $(document).ready(function () {
        $("#hoteldetails").hide();
   });
   function hidediv()
   {
       $("#hoteldetails").hide();
   }
</script>

<div class="" id="hoteldetails" hidden>
    <div class="card">
        <div class="text-right"><i class="fa fa-times " style="cursor: pointer" onclick="return hidediv()"></i></div>
        <img id="imgmap" class="img-responsive" alt="Hotel Branch ">
        <div class="card-body">
            <h2 class="card-title"><label class="text" id="mapdivtitle"></label></h2>
            <a id="booklink" href="javascript:;" class="btn-book-now">احجز الأن</a>
        </div>
    </div><!-- end card -->
    <div class="card-footer">
        <a id="weblink" href="javascript:;" class="book-now-btn">اعرض الفندق <i class="fa fa-external-link"></i></a>
    </div>
</div>
<div class="loc-map mHeight" id="map">
</div>
<input type="hidden" value="" id="ZoomValue" />
<input type="hidden" value="@Model.Lat.Replace("(","")" id="txtlatitude" />
<input type="hidden" value="@Model.Lng.Replace(")","")" id="txtlongitude" />


   
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr49OIN7MEM9KhBHOY1WAP_CKFd3uy7Ho&callback=initMap">
</script>
<script type="text/javascript">
    var map;
    var markers = [];
    var markers1 = [];
    var gmarkers1 = [];
    var umarkers2 = [];
    var ugmarkers2 = [];
    var lastinfowindow;
    var locIndex = [];
    var data;
    var res;
    var HotelId = "";
    var AmenityId = "";
    var infowindow;
    //var url = "http://controlpanel.boudlgroup.com/Uploads/"
    var url = '@(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["imageurl"]))';
    var websiteurl = '@(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["hostFolder"]))';


    //Credit: MDN
    if (!Array.prototype.forEach) {
        Array.prototype.forEach = function (fn, scope) {
            for (var i = 0, len = this.length; i < len; ++i) {
                fn.call(scope, this[i], i, this);
            }
        }
    }
    var array = [];

    function getIcon(type) {
        switch (type) {
            case 6: return "";
            case 7: return websiteurl+"assets/img/Boudl.png";
            case 8: return websiteurl+"img/Braira.png";
            case 9: return websiteurl+"assets/img/Aber.png";
            case 10: return websiteurl+"images/MapIcons/Narcissus.png";
            default: return "";
        }
    }
    var markerCluster;
    var lt = $("#txtlatitude").val();
    var lg = $("#txtlongitude").val();
    var tlat = lt == "0" ? 22.722470 :  lt;
    //alert(tlat);
    var tlng = lg == "0" ? 47.3357758 : lg;
    //alert(tlng);
    var tzoom = JSON.stringify(@Model.Zoom) == "0" ? 3 : JSON.stringify(@Model.Zoom);
    //alert(tzoom);
    @*var tlat = @Model.Lat == null ? 22.722470 :  @Model.Lat;
    alert(tlat);
    var tlng = @Model.Lng == null ? 47.3357758 : @Model.Lng;
    alert(tlng);
    var tzoom = @Model.Zoom == null ? 3 : @Model.Zoom;
    alert(tzoom);*@

    function initMap() {

        //var mapOptions = {
        //    zoom: 3,
        //    center: { lat: 22.7224706, lng: 47.3357758 },
        //    mapTypeId: google.maps.MapTypeId.TERRAIN
        //};
        var mapOptions = {
            zoom: parseInt(tzoom),
            center: { lat: parseFloat(tlat), lng: parseFloat(tlng) },
            mapTypeId: google.maps.MapTypeId.TERRAIN,
             fullscreenControl: false,
            mapTypeControl: false
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        infowindow = new google.maps.InfoWindow({
            content: ''
        });
        var temp="";
        if(@Model.Id == 1)
        {
            temp = JSON.stringify(@Model.AmenityIds);
        }
        else
        {
            temp = "";
        }
        $.ajax({
            url: '@Url.Action("getAmenities","FindAHotel")',
            type: "POST",
            dataType: "text json",
            data: { AmenitiesIDs: temp },
            //contentType: "application/json; charset=utf-8",
            success: function (result, status, jqXHR) {
                data = result;//data = JSON.stringify(result) ;
                markers1 = data;
                for (i = 0; i < markers1.length; i++) {
                    addMarker(markers1[i]);
                }
                //markerCluster = new MarkerClusterer(map, gmarkers1, {
                //    imagePath: 'https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m'
                //});

                loadmpa(map, gmarkers1);
            },
            error: function (res) {
            }
        });
    }
    function loadmpa(_map, gmarkers1) {
        //markerCluster.clearMarkers();
        //markerCluster.addMarkers(newmarkers);
        markerCluster = new MarkerClusterer(map, gmarkers1, {
            imagePath: 'https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m'
        });
    }
    function addMarker(marker) {
        var category = marker.AmenityIds;
        var title = marker.BranchNameAr;
        var titleEn = marker.BranchNameEn;
        var pos = new google.maps.LatLng(parseFloat(marker.Lat), parseFloat(marker.Lng));
        var icons = getIcon(marker.HotelId);
        var BranchImage = marker.BranchImage;
        var link = marker.BookingURL;
        var hotelnameAr = marker.HotelNameAr;
        var hotelnameEn = marker.HotelNameEn;
        //var content = "<div style='width:300px;height:100px'><h3>" + marker.BranchNameEn + "</h3>" + marker.AddressEn + "</div><div> <a href='" + marker.BookingURL;
        //var content = "<div style='width:200px;height:80px; '><div><strong>" + marker.BranchNameEn + "</strong> - " + marker.AddressEn + "</div><div><br/><a  style='background:#504742; color:#fff; padding:3px;' href='" + marker.BookingURL + "' target='_blank'>Book Now </a> &nbsp;  </div></div>";
        var content = "";
        marker1 = new google.maps.Marker({
            title: title,
            titleEn: titleEn,
            position: pos,
            category: category,
            icon: icons,
            map: map,
            image: BranchImage,
            link: link,
            hotelNameEn :hotelnameEn,
            hotelNameAr :hotelnameAr
        });

        //var ourMarker = getMarker(title)
        //google.maps.event.trigger(ourMarker, 'click');

        gmarkers1.push(marker1);
        //Marker click listener
        google.maps.event.addListener(marker1, 'click', (function (marker1, content) {
            return function () {
                // console.log('Gmarker 1 gets pushed');
                //infowindow.setContent('');

                //infowindow.setContent(content);
                //infowindow.open(map, marker1);
                //map.panTo(this.getPosition());
                //map.setZoom(5);
                showdata(marker1);
            }
        })(marker1, content));
        //google.maps.event.addListener('zoom_changed', function() {
        //    infowindow.setContent('Zoom: ' + map.getZoom());
        //    alert('Zoom: ' + map.getZoom());
        //});
        google.maps.event.addListener(map, 'zoom_changed', function (event) {
            // alert('Lat: ' + event.latLng.lat() + ' and Longitude is: ' + event.latLng.lng());
            var a = map.getZoom();
            var ab = map.getMapTypeId();
            var abc = map.getCenter();
            $("#ZoomValue").val(a);
            $("#latitude").val(abc);

            var aaaa=map.getProjection;
            console.log($("#ZoomValue").val());
            console.log($("#latitude").val());




            //document.getElementById('ZoomValue').value =a.toString();
        });
        google.maps.event.addListener(marker, 'dragstart', function (event) {
            //alert('Lat: ' + event.latLng.data.Latitude() + ' and Longitude is: ' + event.latLng.data.Longitude());
            $("#latitude").val(event.latLng.data.Latitude());
            $("#longitude").val(event.latLng.data.Longitude());
            console.log($("#latitude").val());
            console.log($("#longitude").val());




        });

    }
    function showdata(marker1) {
        $("#hoteldetails").show();
        $("#imgmap").attr("src", url + marker1.image);
        $("#mapdivtitle").text(marker1.hotelNameAr +" "+ marker1.title);
        //$("#mapdivtitle").append(marker1.title);
        $("#booklink").attr("href", marker1.link);
        $("#weblink").attr("href", websiteurl+"ar/branches/"+ marker1.titleEn.replace(" ","-"));

    }
    //
    //filterMarkers = function (category) {
    //    var newmarkers = [];
    //    var checked = $("input[type=checkbox]:checked");
    //    var selTypes = [];
    //    for (var i = 0, len = checked.length; i < len; i++) {
    //        selTypes.push($(checked[i]).val());
    //    }
    //    //var cc = $('input[type=checkbox]').prop('checked');

    //    for (i = 0; i < markers1.length; i++) {
    //        marker = gmarkers1[i];
    //        var aaa = selTypes;
    //        var bb = aaa.map(Number);
    //        var selLen = bb.length;
    //        var typeList = marker.category;
    //        var markerTypeArr = marker.category.split(" ").join('');
    //        //debugger;
    //        //var b = markerTypeArr.split(',');
    //        var c = markerTypeArr.split(',').map(Number);
    //        var commonTypes = $.grep(bb, function (element) {
    //            return $.inArray(element, c) !== -1;
    //        });
    //        if (bb.length == 0) {
    //            if (c.indexOf(parseInt(bb)) < 0) {
    //                marker.setVisible(true);
    //                //newmarkers.push(marker);
    //            }
    //        }
    //        else {
    //            if (commonTypes.length == selLen) {
    //                marker.setVisible(true);
    //                //newmarkers.push(marker);
    //            }
    //            else
    //                marker.setVisible(false);
    //        }
    //        newmarkers.push(marker);
    //    }


    //    //markerCluster.redraw()
    //    //markerCluster.clearMarkers();
    //    //markerCluster.removeMarker(newmarkers);
    //    //markerCluster.resetViewport();

    //    //markerCluster = new MarkerClusterer(map, gmarkers1, {});
    //    //markerCluster.setMap(null);
    //    //loadmpa(map, newmarkers)
    //    //initMap();
    //}
    //google.maps.event.addDomListener(window, "load", initialize);

    //$(document).ready(function () {
    //    $("input.cbamenity").on('change', function () {
    //        console.log("changed");

        //});
        @*$.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { HtId: HotelId, AmtId: AmenityId },
                url: '@Url.Action("View")',
                dataType: "json",
                success: function (data) {
                    alert(data);
                    $("#divhotelcities").html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                    $("#divhotelcities").html("");
                }
            })*@
        @*debugger;
        var HotelId = "";
        var AmenityId = "";
        var $buttonClicked = $(this);
        var id = $buttonClicked.attr('data-id');
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetMapData")',
            //url:TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: { HtId: HotelId, para: AmenityId },
            datatype: "json",
            success: function (data) {
                $('#divhotelcities').html(data);
                //$('#full').modal(options);
                //$('#full').modal('show');

            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    });*@

</script>
@*<script type="text/javascript">
    //$(document).ready(function () {
        //$("#hoteldetails").hide();
        var map;
        var markers = [];
        var markers1 = [];
        var gmarkers1 = [];
        var umarkers2 = [];
        var ugmarkers2 = [];
        var lastinfowindow;
        var locIndex = [];
        var data;
        var res;
        var HotelId = "";
        var AmenityId = "";
        var infowindow;
        var url = "http://boudl.com/boudlgrouptest/Banners/"

        //Credit: MDN
        if (!Array.prototype.forEach) {
            Array.prototype.forEach = function (fn, scope) {
                for (var i = 0, len = this.length; i < len; ++i) {
                    fn.call(scope, this[i], i, this);
                }
            }
        }
        var array = [];
        //A utility function that translates a given type to an icon
        //function getIcon(type) {
        //    switch (type) {
        //        case 6: return "";
        //        case 7: return "http://boudl.com/assets/img/corporate/fav.png";
        //        case 8: return "http://boudl.com/brairadev/assets/img/fav.png";
        //        case 9: return "http://boudl.com/aberdev/assets/img/favicon.ico";
        //        case 10: return "http://boudl.com/boudlgroupdev/images/narcissus_favicon.ico";
        //        default: return "";
        //    }
        //}
        function getIcon(type) {
            switch (type) {
                case 6: return "";
                case 7: return "http://boudl.com/assets/img/Boudl.png";
                case 8: return "http://boudl.com/brairadev/assets/img/Braira.png";
                case 9: return "http://boudl.com/aberdev/assets/img/Aber.png";
                case 10: return "http://boudl.com/boudlgroupdev/images/MapIcons/Narcissus.png";
                default: return "";
            }
        }
        //var gmarkers1 = [];
        //var markers1 = [];
        //var infowindow = new google.maps.InfoWindow({
        //    content: ''url: '@Url.Action("getBranches","Offers")',
    //});
 
        var markerCluster;

        function initMap() {

            var mapOptions = {
                zoom: 3,
                center: { lat: 22.7224706, lng: 47.3357758 },
                mapTypeId: google.maps.MapTypeId.TERRAIN
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            infowindow = new google.maps.InfoWindow({
                content: ''
            });
            debugger;
            //var result = JSON.stringify(@Model.JsonData);
            //var result = '[{"Id":39,"HotelId":7,"HotelNameEn":"Boudl","HotelNameAr":"بودل",'
            //result = result +'"AddressEn":".",'
            //result = result +'"AddressAr":".",'
            //result = result +'"BranchNameEn":"Al Woroud",'
            //result = result +'"BranchNameAr":"الورود",'
            //result = result +'"CountryEn":"Saudi Arabia",'
            //result = result +'"CountryAr":"المملكة العربية السعودية",'
            //result = result +'"CityEn":"Riyadh",'
            //result = result +'"CityAr":"الرياض",'
            //result = result +'"Lat":"24.772546",'
            //result = result +'"Lng":"46.675958",'
            //result = result +'"BookingURL":"https://worood.boudl.com/V8Client/Inquiry.aspx",'
            //result = result +'"slug":"al-woroud",'
            //result = result +'"AmenityIds":"2, 13, 17, 18, 23, 27, 28, 35, 45, 46",'
            //result = result +'"BranchImage":"Boudl-Al-Worod-بودل-الورود--7-.jpg",'
            //result = result + '"JsonData":"",'
            //result = result +'"listFindHotel":""}]';
            //data = result;
            //markers1 = data;
            //debugger;
            //for (i = 0; i < markers1.length; i++) {
            //    //debugger;
            //    addMarker(markers1[i]);
            //}
            //loadmpa(map, gmarkers1);
            $.ajax({
                url: '@Url.Action("getAmenities","FindAHotel")',
                type: "GET",
                dataType: "text json",
                success: function (result, status, jqXHR) {
                    data = result;//data = JSON.stringify(result) ;
                    markers1 = data;
                    for (i = 0; i < markers1.length; i++) {
                        addMarker(markers1[i]);
                    }
                    //markerCluster = new MarkerClusterer(map, gmarkers1, {
                    //    imagePath: 'https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m'
                    //});

                    loadmpa(map, gmarkers1);
                },
                error: function (res) {
                }
            });
        }
    function loadmpa(_map, gmarkers1) {
            //markerCluster.clearMarkers();
            //markerCluster.addMarkers(newmarkers);
            markerCluster = new MarkerClusterer(map, gmarkers1, {
                imagePath: 'https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m'
            });
        }
    function addMarker(marker) {
            var category = marker.AmenityIds;
            var title = marker.BranchNameEn;
            var pos = new google.maps.LatLng(parseFloat(marker.Lat), parseFloat(marker.Lng));
            var icons = getIcon(marker.HotelId);
            var BranchImage = marker.BranchImage;
            var link = marker.BookingURL;

            //var content = "<div style='width:300px;height:100px'><h3>" + marker.BranchNameEn + "</h3>" + marker.AddressEn + "</div><div> <a href='" + marker.BookingURL;
            //var content = "<div style='width:200px;height:80px; '><div><strong>" + marker.BranchNameEn + "</strong> - " + marker.AddressEn + "</div><div><br/><a  style='background:#504742; color:#fff; padding:3px;' href='" + marker.BookingURL + "' target='_blank'>Book Now </a> &nbsp;  </div></div>";
            var content = "";
         var marker1 = new google.maps.Marker({
                title: title,
                position: pos,
                category: category,
                icon: icons,
                map: map,
                image: BranchImage,
                link: link
            });

            //var ourMarker = getMarker(title)
            //google.maps.event.trigger(ourMarker, 'click');

            gmarkers1.push(marker1);
            // Marker click listener
            google.maps.event.addListener(marker1, 'click', (function (marker1, content) {
                return function () {
                    // console.log('Gmarker 1 gets pushed');
                    infowindow.setContent('');

                    infowindow.setContent(content);
                    //infowindow.open(map, marker1);
                    //map.panTo(this.getPosition());
                    //map.setZoom(5);
                    showdata(marker1);
                }
            })(marker1, content));
        }
        function showdata(marker1) {
            $("#hoteldetails").show();
            $("#imgmap").attr("src", url + marker1.image);
            $("#mapdivtitle").text(marker1.title);
            //$("#mapdivtitle").append(marker1.title);
            $("#maplink").attr("href", marker1.link);

        }

        //
        //filterMarkers = function (category) {
        //    var newmarkers = [];
        //    var checked = $("input[type=checkbox]:checked");
        //    var selTypes = [];
        //    for (var i = 0, len = checked.length; i < len; i++) {
        //        selTypes.push($(checked[i]).val());
        //    }
        //    //var cc = $('input[type=checkbox]').prop('checked');

        //    for (i = 0; i < markers1.length; i++) {
        //        marker = gmarkers1[i];
        //        var aaa = selTypes;
        //        var bb = aaa.map(Number);
        //        var selLen = bb.length;
        //        var typeList = marker.category;
        //        var markerTypeArr = marker.category.split(" ").join('');
        //        //debugger;
        //        //var b = markerTypeArr.split(',');
        //        var c = markerTypeArr.split(',').map(Number);
        //        var commonTypes = $.grep(bb, function (element) {
        //            return $.inArray(element, c) !== -1;
        //        });
        //        if (bb.length == 0) {
        //            if (c.indexOf(parseInt(bb)) < 0) {
        //                marker.setVisible(true);
        //                //newmarkers.push(marker);
        //            }
        //        }
        //        else {
        //            if (commonTypes.length == selLen) {
        //                marker.setVisible(true);
        //                //newmarkers.push(marker);
        //            }
        //            else
        //                marker.setVisible(false);
        //        }
        //        newmarkers.push(marker);
        //    }


        //    //markerCluster.redraw()
        //    //markerCluster.clearMarkers();
        //    //markerCluster.removeMarker(newmarkers);
        //    //markerCluster.resetViewport();

        //    //markerCluster = new MarkerClusterer(map, gmarkers1, {});
        //    //markerCluster.setMap(null);
        //    //loadmpa(map, newmarkers)
        //    //initMap();
        //}
        //google.maps.event.addDomListener(window, "load", initialize);

        $(document).ready(function () {
            $("input.cbamenity").on('change', function () {
                console.log("changed");

            });
            @*$.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { HtId: HotelId, AmtId: AmenityId },
                url: '@Url.Action("View")',
                dataType: "json",
                success: function (data) {
                    alert(data);
                    $("#divhotelcities").html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                    $("#divhotelcities").html("");
                }
            })*@
            @*var HotelId = "";
            var AmenityId = "";
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { HtId: HotelId, AmtId: AmenityId },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                    //$('#full').modal(options);
                    //$('#full').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });*@

    @*//});*@
@*</script>*@


@*}*@