﻿
@{
    ViewBag.Title = "بودل سيتى سنتر";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<div class="room-detail-page">
    <!-- Main Slider -->
    <div id="room-details-slider">
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/CityCentre/1.jpg" alt="CityCentre 1" />
        </div>
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/CityCentre/2.jpg" alt="CityCentre 2" />
        </div>
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/CityCentre/3.jpg" alt="CityCentre 3" />
        </div>
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/CityCentre/4.jpg" alt="CityCentre 4" />
        </div>
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/CityCentre/5.jpg" alt="CityCentre 5" />
        </div>
    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <div class="heading-box">
                <h2>بودل <span>سيتى سنتر</span></h2><!-- Title -->
            </div>
            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="الوصول" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="المغادرة" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">البالغون</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">الأطفال</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default h-75" value="إحجز الآن" type="submit" onClick="window.open('http://citycenter.boudl.com/V8Client/Inquiry.aspx');" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                يقع فندق بودل سيتى سنتر بطريق الملك عبد العزيز بحفر الباطن ، و يعتبر هذا الفندق بتصميمه الكلاسيكى أحد أبرز مباني مدينة حفر الباطن والأسهل تمييزا حيث يتيح خيارات مذهلة لقضاء الاجازات و العمل على حد سواء ومن حسن حظ ضيوفنا أن فندق بودل سيتى سنتر نظرا لقيمته المدهشة تتعدد خياراته الغنية للاستمتاع بالإقامة<br />
                ليس هذا كل شيء حيث يوفر أماكن إقامة ذاتية الخدمة بأحدث الاجهزة و مطعم وكوفى شوب على مدار الساعة وايضا مكتب استقبال على مدار الساعة وكذلك خدمة الغرف و يمكنك الدخول المجاني غير المحدود الي شبكة الانترنت من خلال خدمة الواى فاى فى جميع انحاء الفندق ، توافر مرافق غسيل وكى الملابس الى جانب تميزك بالتمتع باسعار تنافسية و إدارة حجوزاتك من خلال الإنترنت بدون رسوم على الحجز والدفع ببطاقة الائتمان<br />
                وقد تم تجهيز جميع غرف الفندق الـ 45 ( استاندر- استوديو – جنيور سويت – رويال سويت ) بأفخم أنواع الأثاث العصرى . ريثما تنتهي من الاستمتاع بالمشهد، يمكنك اختيار ما تريد من المجموعة الأوسع من مرافق الترفيه في المنطقة،حيث تميزة بأطلالتة المباشرة على الاسواق التجارية الكبرى بالمدينة مما يتيح لك التنقل اليها بسهولة ويسر<br />
                وسوف تستمتع بسهولة الوصول إلى جميع وسائل الراحة المحلية و مناطق التسوق بالسيارة . فالمنطقة ككل مخدومة بشكل ممتاز بسيارات الأجرة، إضافة إلى خدمة الليموزين الخاصة كما يقدم فندق بودل سيتى سنتر المؤلف بشكل كامل من الغرف الفخمة مجموعة من كبيري الخدم الشخصيين، المتحمسين لمنحك شعوراً فريداً بحسن ضيافتنا منقطعة النظير


            </p>
            <br />

        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/areas/ar/assets/img/branches/CityCentre/services.jpg" alt="Boudl CityCentre Services" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">خدمات الفندق </div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-wifi"></i> واي فاي مجاني </li>
                        <li><i class="fa fa-coffee"></i> كوفي شوب</li>
                        <li><i class="fa fa-car"></i> مواقف سيارات مجانية </li>
                        <li><i class="fa fa-heartbeat"></i> مركز للياقة البدنية </li>
                        <li><i class="fa fa-user"></i> خدمة العرسان</li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->
<div id="map" class="loc-map">

</div>

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var myLatLng = new google.maps.LatLng(28.436357, 45.973215);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/boudl-apart/assets/img/corporate/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}
