﻿
@{
    ViewBag.Title = "Narcissus Obhur Jeddah";
}
@section styles{
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/boudl-apart/assets/img/headers/News-Boudl.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li><a href="~/news">News</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <img src="~/assets/img/news/narcissus-jeddah.png" class="post-img" alt="Narcissus Obhur Jeddah" />
                <h3 class="post-title">Narcissus Obhur Jeddah</h3>
                <div class="post-desc">
                    <p>
                        Narcissus Obhur five-star resort is now open to the public, which is located in the northern part of Jeddah. The resort combines luxury and relaxation with its world-class design for the apartment units. It is also the place for businessmen to meet in well-equipped meeting rooms.The diversity of restaurants is a combination of East and West charm, and the tranquility and beautiful sea views are a destination for visitors wishing to relax in luxury.
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">10 - May - 2018</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}
