﻿@model BoudlHotel.CareerApplicationDTO
@{
    ViewBag.Title = "Careers at Boudl Hotels Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        .text-danger2 {
            color: red;
        }
    </style>
}



<!-- Internal Page Header -->
<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar">الرئيسية</a></li>
        <li class="active">وظائف</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<div id="welcome1" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2><span>وظائف</span></h2>
        <div class="subtitle">قدم الآن على مهنتك المفضلة فى فروع بودل </div>
        <!-- Title -->
    </div>
</div>
<!-- <div class="booking-title-box careers-bg"> -->
<div class="booking-title-box ">
    <div class="booking-title-box-inner container">
        <!-- Booking form -->
        <form class="booking-form clearfix" action="#">
            <br/>
            <!-- Do Not remove the classes -->
            @if (ViewData["Success"] != null)
            {
                //Success
                @Html.Raw(ViewData["Success"].ToString())

            }
            else
            {
                if (ViewData["Error"] != null)
                {
                    //failure
                    @Html.Raw(ViewData["Error"].ToString())
                }

                if (ViewBag.JobCatList != null)
                {
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">نوع المهنة</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="JobCategoryId" id="ddlJobCat" required>
                                <option selected="selected" value="">اختر</option>
                            </select>
                        </div>
                        <div id="lbValidateJobCat"></div>
                    </div>
                }

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">المهنة</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="PositionId" id="ddlPosition" required>
                            <option selected="selected" value="">اختر</option>
                        </select>
                    </div>
                    <div id="lbValidatePos"></div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2">الاسم</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.FullName, new { id = "txtFullName", @class = "form-control", @maxlength = 250, @placeHolder = "الاسم بالكامل", @required = "true" })
                    </div>
                    <div id="lbValidateFName"></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">رقم الجوال</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Phone, new { @type = "tel", id = "txtPhoneNumber", @maxlength = "12", @placeholder = "رقم الهاتف ( مكون من ١٢ رقم )", @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)" })
                    </div>
                    <div id="lbValidatePhone"></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">البريد الإلكتروني</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Email, new { @type = "Email", id = "txtEmail", @class = "form-control", @maxlength = "150", @placeholder = "البريد الإلكتروني", @required = "true" })
                    </div>
                    <div id="lbValidateEmail"></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">ارفق ملف</label>
                    <div class="col-sm-4">
                        <input name="fileUpload" id="DocUpload" accept="application/msword,application/pdf" type="file" required />
                        @Html.ValidationMessageFor(model => model.ProfilePath, "", new { @class = "text-danger2" })
                    </div>
                    <div id="lbValidateFile"></div>
                </div>
                <div class="booking-button-container">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <button id="btnSubmit" style="margin-left:150px;" onclick="validateDestination()" class="btn btn-default">ارسال</button>
                    </div>
                </div>
            }
            

        </form>
    </div>
</div>
<!-- Welcome -->

<div id="welcome" class="container">
    <div class="main-content container">
        <!-- Page Content -->
        <aside class="sidebar right-sidebar col-sm-6">
            <!-- Text Widget -->
            <div class="widget widget_text">
                <div class="textwidget text-justify">
                    <p>
                        مرحبا بك فى فنادق بودل, نحن يُسعدنا للغاية توظيف وتطوير من يهتم بأن يكون جزء من مؤسسة بودل لصناعة الضيافة وكل من يهتم بمجال السياحة و الفنادق. نحن نفخر بكوننا أول شركة تمتلك مجموعة فنادق فى المملكة العربية السعودية وأيضا توسعنا لنقدم خدماتنا الفندقية المميزة فى دولة الكويت. يملأنا الشغف بأن نكون الأسم الأول فى عالم الضيافة على مستوى العالم و لن نحقق ذلك بدون تواجدك معنا, هنا أنت محاط بأشخاص أذكياء و على كفاءة عالية ليكونوا دائما دافع لك الى الأمام لتبرز قدراتك و مهاراتك فى شتى مجالات الفندقة. هيا بنا نغير مفهوم العالم عن الضيافة الى الأفضل, لا تتردد فى البحث عن المهنة التى ترغب بها و أن ترسل لنا سيرتك الذاتية.
                    </p>
                </div>
            </div>
        </aside>
        <!-- Sidebar Section -->
        <div class="page-content col-sm-6">
            <!-- Rooms Container -->
            <div class="room-container room-grid clearfix">
                <!-- Room Boxes -->
                <div class="room-box col-xs-12">
                    <div class="img-container">
                        <img src="~/assets/img/corporate/careers-at-boudl.jpg" alt="Careers at Boudl Apart Hotel" />
                    </div>
                </div>
            </div>
            <!-- End of Rooms Container -->
        </div>
        <!-- Sidebar Section -->

    </div>
</div>
<!-- End of Welcome -->

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages room-details trans-header sticky")
        $("p").removeClass("p1"); $("p").removeClass("p2"); $("p").removeClass("p3"); $("p").removeClass("p4"); $("p").removeClass("p5");
    </script>
<script>
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode < 47 || charCode > 57))
                return false;
            return true;
        }
</script>
    <script type="text/javascript">
            function validateDestination() {
                var JobCate = $("#ddlJobCat").val();
                var Position = $("#ddlPosition").val();
                var location = $("#ddlLocation").val();
                var FName = $("#txtFullName").val();
                var PhoneNum = $("#txtPhoneNumber").val();
                var TEmail = $("#txtEmail").val();
                //var Position = $("#").val();


                if (JobCate == "" || JobCate == "0") {
                    $("#lbValidateJobCat").html("*إختر مجال وظيفي");
                    //$("#lbValidate").attr('style', 'color: #99003d !important');
                    $("#lbValidateJobCat").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidateJobCat").html("");
                }
                if (Position == "" || Position=="Select" || Position=="0") {
                    $("#lbValidatePos").html("*إختر وظيفة");
                    $("#lbValidatePos").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidatePos").html("");
                }
                if (location == "") {
                    $("#lbValidateLocation").html("*إختر المكان");
                    $("#lbValidateLocation").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidateLocation").html("");
                }
                if (FName == "") {
                    $("#lbValidateFName").html("*ادخر الإسم بالكامل");
                    $("#lbValidateFName").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidateFName").html("");
                }
                if (PhoneNum == "" || length(PhoneNum)!=12) {
                    //$("#lbValidatePhone").html("*Enter 12 digit phone number with country code");

                    $("#lbValidatePhone").html("*ادخل رقم الجوال");
                    $("#lbValidatePhone").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidatePhone").html("");
                }
                if (TEmail == "") {
                    $("#lbValidateEmail").html("*ادخل البريد اللإلكتروني");
                    $("#lbValidateEmail").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidateEmail").html("");
                }
            }
            //$("body").addClass("homepage trans-header sticky white-datepicker");
            $(document).ready(function () {
                var jobcat=null;
                var ctId=null;
                var loc=null;
                //$("#ddlJobCat").empty();
                //$("#ddlJobCat").append($('<option>', {
                //    value: 0
                //}));
                var model = @Html.Raw(ViewBag.JobCatList);
                for(var i = 0; i < model.length; i++) {

                    $('#ddlJobCat').append($('<option>', {
                        value: model[i].Id,
                        text: model[i].NameAr
                    }))

                }
                $('#ddlJobCat').trigger("chosen:updated");
                $('#ddlJobCat').change(function () {
                    //var value = $(this).val();
                    jobcat=$(this).val();
                    $("#ddlPosition").empty();
                    $("#ddlPosition").append($('<option>', {
                        value: 0,
                        text:'Select'
                    }));
                    var model1 = @Html.Raw(ViewBag.PositionList);
                    for(var i = 0; i < model1.length; i++) {
                        if (model1[i].JobCategoryId == jobcat) {
                            $('#ddlPosition').append($('<option>', {
                                value: model1[i].Id,
                                text: model1[i].PositionAr
                            }))
                        }
                    }
                    $('#ddlPosition').trigger("chosen:updated");
                });
                @*$('#ddlPosition').change(function () {
            //var value = $(this).val();
            //ctId=parseInt($(this).val());
            ctId=$(this).val();
            $("#ddlLocation").empty();
            $("#ddlLocation").append($('<option>', {
                value: 0
            }));
            var model2 = @Html.Raw(ViewBag.PositionList);
            for(var i = 0; i < model2.length; i++) {
                if (model2[i].JobCategoryId == jobcat && model2[i].CityId==ctId) {
                    $('#ddlLocation').append($('<option>', {
                        value: model2[i].Id,
                        text: model2[i].PositionEn
                    }))
                }
            }
            $('#ddlLocation').trigger("chosen:updated");
        });*@
                //$('#DocUpload').click(function() {
                //    var ext = $('#DocUpload').val().split(".").pop().toLowerCase();
                //    if($.inArray(ext, ["doc","pdf",'docx']) == -1) {
                //        // false
                //    }else{
                //        // true
                //    }
                //});
                $('#DocUpload').on( 'change', function() {
                    myfile= $( this ).val();
                    var ext = myfile.split('.').pop().toLowerCase();
                    if(ext=="pdf" || ext=="docx" || ext=="doc")
                    {
                        $("#btnSubmit").attr("disabled", false);
                        $(".text-danger2").text("");
                    }
                    else
                    {

                        $(".text-danger2").text("Invalid File! You can upload only doc and pdf file.");
                        $("#btnSubmit").attr("disabled", true);
                    }
                });
            });
    </script>
}
