﻿
@{
    ViewBag.Title = "إفتتاح منتجع فيلات بريرا";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
}
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/boudl-apart/assets/img/headers/News-Boudl.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/">الرئيسية</a></li>
        <li><a href="~/ar/news/">الأخبار</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <img src="~/assets/img/news/braira-hitin.jpg" class="post-img" alt="إفتتاح منتجع فيلات بريرا" />
                <h3 class="post-title">إفتتاح منتجع فيلات بريرا</h3>
                <div class="post-desc">
                    <p>
                        قريبا سيتم إفتتاح مجمع فيلات بريرا بالرياض , حى حطين , وهذه للمرة الأولى بالمملكة التى يتم فيها  إنشاء منتجع فندقى مكون من فيلات خاصة تشمل جميع الخدمات على طراز أنيق و مفروشات و آثاث غاية فى الفخامة والرونق, يُعد المنتجع متكامل من حيث الخدمات ووسائل الترفيه, فيشمل وحدات سكنية كل منها له حمام سباحة خاص.
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">02 - Sep - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}