﻿<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>@ViewBag.Title  Boudl Apart 'Hotel Saudi Arabia</title>
    <meta name="author" content="Creative Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/areas/ar/assets/css/styles.css">
    <link rel="shortcut icon" href="~/areas/ar/assets/img/corporate/fav.png" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5adc7474227d3d7edc24817b/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');    
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <link href="~/fonts/css/animation.css" rel="stylesheet" />
    <link href="~/fonts/css/fontello.css" rel="stylesheet" />
    <link href="~/Areas/ar/assets/MegaMenu/src/navik.menu.css" rel="stylesheet" />
</head>
<body>
    <!-- Top Header -->
    <div id="top-header">
        <div class="inner-container container">

            <ul class="list-inline social-icons text-right">

                <li><a href="https://www.facebook.com/boudl.hotels.resorts/" target="_blank"><i class="fa fa-facebook color-white"></i></a></li>
                <li><a href="https://twitter.com/BoudlHotels" target="_blank"><i class="fa fa-twitter color-white"></i></a></li>
                <li><a href="https://www.instagram.com/braira_hotels/" target="_blank"><i class="fa fa-instagram color-white"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- End of Top Header -->
    <!-- Main Header -->
    <div class="navik-header header-shadow navik-mega-menu mega-menu-fullwidth">
        <div class="container-fluid">
            <div class="navik-header-container">

                @{var websiteurl = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["hostFolder"]);
                    var imgurl = websiteurl + "assets/img/corporate/boudl .png";
                }
                <div class="logo" data-mobile-logo="@imgurl" data-sticky-logo="@imgurl">
                    <a href="~/ar/"><img src="@imgurl" alt="Boudl Logo" /></a>
                </div>
                <div class="burger-menu">
                    <div class="line-menu line-half first-line"></div>
                    <div class="line-menu"></div>
                    <div class="line-menu line-half last-line"></div>
                </div>

                <nav class="navik-menu menu-caret submenu-top-border">
                    @{
                        List<BoudlHotel.CustomMenuDTO> CustomMenuList1 = (List<BoudlHotel.CustomMenuDTO>)Session["HomeMenuList"];
                        List<BoudlHotel.ManageCountriesDTO> countryList1 = (List<BoudlHotel.ManageCountriesDTO>)Session["CountriesList"];
                        List<BoudlHotel.ManageCitiesDTO> cityList1 = (List<BoudlHotel.ManageCitiesDTO>)Session["CitiesList"];
                        List<BoudlHotel.ManageBranchesDTO> BranchList1 = (List<BoudlHotel.ManageBranchesDTO>)Session["BranchesList"];
                    }
                    <ul>
                        @if (CustomMenuList1 != null)
                        {
                            int j = 123;
                            foreach (var MenuItem in CustomMenuList1)
                            {
                                if (MenuItem.DynamicBranches != true)
                                {
                                    <li class="">
                                        @if (MenuItem.Id == 1)
                                        {
                                            <a class="mega-menu" href="@(Session["UrlPrepend"] + MenuItem.UrlAr.ToLower())">@MenuItem.NameAr</a>
                                        }
                                        else
                                        {
                                            <a class="mega-menu" href="@(Session["UrlPrepend"] + MenuItem.UrlAr.ToLower())">@MenuItem.NameAr</a>
                                        }
                                    </li>
                                }
                                else
                                {
                                    <li class="mega-menu">
                                        <a class="" href="#">@MenuItem.NameAr</a>
                                        <ul>
                                            <li class="dropdown_menu">
                                                <div class="mega-menu-container">
                                                    <div class="row">
                                                        @if (cityList1 != null)
                                                        {
                                                            List<int> lstMajorCitiesGroupIds = new List<int> { 1, 2, 3, 4 };

                                                            for (int mc = 0; mc < lstMajorCitiesGroupIds.Count; mc++)
                                                            {
                                                                <div class="col-md-2 col-lg-2">
                                                                    <div class="mega-menu-box">
                                                                        @{
                                                                            var grpCities = cityList1.Where(c => c.MenuGroupId == lstMajorCitiesGroupIds[mc]).ToList();
                                                                            for (int gc = 0; gc < grpCities.Count; gc++)
                                                                            {
                                                                                <h4 class="mega-menu-heading">
                                                                                    <a href="#">@grpCities[gc].NameAr</a>
                                                                                </h4>
                                                                                <ul class="mega-menu-list">
                                                                                    @foreach (var br in BranchList1)
                                                                                    {
                                                                                        if (br.CityId == grpCities[gc].Id)
                                                                                        {  @*@MenuItem.NameEn.Replace(" ","-")*@
                                                                                            <li><a onmouseover="hoverdivOpen('@br.ImagePath','@MenuItem.NameEn.Replace(" ","").Replace("&","")')" onmouseout="hoverdivclose('e','@MenuItem.NameEn.Replace(" ","").Replace("&",""))')" href="@(Session["UrlPrepend"] + MenuItem.SubUrlAr.ToLower())/@br.NameEn.ToLower().Replace(" ", "-")">@br.NameAr</a></li>

                                                                                        }
                                                                                    }
                                                                                </ul>
                                                                            }
                                                                        }
                                                                        @*@if (BranchList1 != null)
                                                                            {
                                                                                int tempi = 1;
                                                                            <h4 class="mega-menu-heading">
                                                                                <a href="#">@ct.NameAr</a>
                                                                            </h4>
                                                                            <ul class="mega-menu-list">
                                                                                @foreach (var br in BranchList1)
                                                                                    {
                                                                                        if (br.CityId == ct.Id)
                                                                                        {
                                                                                    <li><a onmouseover="hoverdivOpen('@br.ImagePath','@MenuItem.NameEn')" onmouseout="hoverdivclose('e','@MenuItem.NameEn')" href="@(Session["UrlPrepend"] + MenuItem.SubUrlAr.ToLower())/@br.NameEn.ToLower().Replace(" ", "-")">@br.NameAr</a></li>
                                                                                            tempi++;
                                                                                        }
                                                                                    }
                                                                            </ul>
                                                                            }*@
                                                                    </div>
                                                                </div>

                                                                            }
                                                                            <div class="col-md-4 col-lg-4">
                                                                                <div class="mega-menu-box">
                                                                                    <div class="mega-menu-thumbnail">
                                                                                        <img id="shopimgid-@MenuItem.NameEn.Replace(" ","").Replace("&","")" src="~/assets/img/gallery/boudlthumb.jpg" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            }
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                                                                    }
                                                                                }
                                                                            }
                        }

                    </ul>

                </nav>
            </div>
        </div>
        <div class="header-shadow-wrapper"></div>
    </div>
    @*<header id="main-header">
            <div class="inner-container container">
                <div class="left-sec col-sm-4 col-md-2 clearfix">

                    <div id="top-logo">
                        <div class="title">
                            <a href="http://boudl.com/ar/">
                                <img src="~/areas/ar/assets/img/corporate/boudl.png" alt="Boudl Logo" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right-sec col-sm-8 col-md-10 clearfix">

                    <nav id="main-menu">
                        @{
                            List<BoudlHotel.CustomMenuDTO> CustomMenuList = (List<BoudlHotel.CustomMenuDTO>)Session["HomeMenuList"];
                            List<BoudlHotel.ManageCountriesDTO> countryList = (List<BoudlHotel.ManageCountriesDTO>)Session["CountriesList"];
                            List<BoudlHotel.ManageCitiesDTO> cityList = (List<BoudlHotel.ManageCitiesDTO>)Session["CitiesList"];
                            List<BoudlHotel.ManageBranchesDTO> BranchList = (List<BoudlHotel.ManageBranchesDTO>)Session["BranchesList"];
                        }
                        <ul class="list-inline">
                            @if (CustomMenuList != null)
                            {
                                foreach (var MenuItem in CustomMenuList)
                                {

                                    if (MenuItem.DynamicBranches != true)
                                    {
                                        if (MenuItem.Id == 1)
                                        {
                                            <li><a href="@(Session["UrlPrepend"] + MenuItem.UrlAr.ToLower())"><i class="fa fa-home color-pink"></i>@MenuItem.NameAr</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@(Session["UrlPrepend"] + MenuItem.UrlAr.ToLower())">@MenuItem.NameAr</a></li>
                                            if (MenuItem.Id == 2)
                                            {
                                                <!--<li><a href="@(Session["UrlPrepend"] + "/ar/latestOffers/packages")">عروض خاصة</a></li>-->
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="javascript:;">@MenuItem.NameAr</a>
                                            <ul>
                                                @if (countryList != null)
                                                {
                                                    foreach (var cnt in countryList)
                                                    {
                                                        <li>
                                                            <a href="javascript:;">@cnt.NameAr</a>
                                                            <ul>
                                                                @if (cityList != null)
                                                                {
                                                                    foreach (var ct in cityList)
                                                                    {
                                                                        if (ct.CountryId == cnt.Id)
                                                                        {
                                                                            if (MenuItem.Id == 3)
                                                                            {
                                                                                <li>
                                                                                    <a href="@(Session["UrlPrepend"] + MenuItem.SubUrlAr.ToLower())/@ct.NameEn.ToLower().Replace(" ", "-")">@ct.NameAr</a>
                                                                                </li>
                                                                            }
                                                                            else
                                                                            {
                                                                                <li>
                                                                                    <a href="javascript:;">@ct.NameAr</a>
                                                                                    <ul>
                                                                                        @if (BranchList != null)
                                                                                        {
                                                                                            foreach (var br in BranchList)
                                                                                            {
                                                                                                if (br.CityId == ct.Id)
                                                                                                {
                                                                                                    <li><a href="@(Session["UrlPrepend"] + MenuItem.SubUrlAr.ToLower())/@br.NameEn.ToLower().Replace(" ", "-")">@br.NameAr</a></li>
                                                                                                }
                                                                                            }
                                                                                        }

                                                                                    </ul>

                                                                                </li>
                                                                            }
                                                                        }
                                                                    }
                                                                }

                                                            </ul>
                                                        </li>
                                                    }
                                                }

                                            </ul>
                                        </li>
                                    }
                                }
                            }
                            else
                            {
                                <li><a href="@(Session["UrlPrepend"] +"/ar/")"><i class="fa fa-home color-pink"></i>الرئيسية</a></li>
                                <li><a href="@(Session["UrlPrepend"] +"/ar/latestoffers")">اخر العروض</a></li>
                                <li><a href="@(Session["UrlPrepend"] + "/ar/latestOffers/packages")">عروض خاصة</a></li>
                                <li><a href="#">معرض الميديا</a></li>
                                <li><a href="@(Session["UrlPrepend"] +"/ar/news")">الأخبار</a></li>
                                <li><a href="#">فروعنا</a></li>
                                <li><a href="@(Session["UrlPrepend"] +"/ar/careers")">وظائف</a></li>
                                <li><a href="@(Session["UrlPrepend"] +"/ar/about")">عن بودل</a></li>
                                <li><a href="@(Session["UrlPrepend"] +"/ar/contact")">اتصل بنا</a></li>
                                <li><a href="@(Session["UrlPrepend"] +"/ar/home/changelanguage")">English</a></li>
                            }
                        </ul>

                        @*<ul class="list-inline">
                            <li> <a href="~/ar"><i class="fa fa-home color-pink"></i> الرئيسية</a></li>
                            <li><a href="~/ar/latestoffers">اخر العروض</a></li>
                            <li>
                                <a href="javascript:;">معرض الميديا</a>
                                <ul>
                                    <li><a href="~/ar/riyadhgallery">الرياض</a></li>
                                    <li><a href="~/ar/dammamgallery">الدمام</a></li>
                                    <li><a href="~/ar/khobargallery">الخبر</a></li>
                                    <li><a href="~/ar/jeddahgallery">جدة</a></li>
                                    <li><a href="~/ar/taifgallery">الطائف</a></li>
                                    <li><a href="~/ar/qassimgallery">القصيم</a></li>
                                    <li><a href="~/ar/hailgallery">حائل</a></li>
                                    <li><a href="~/ar/abhagallery">أبها</a></li>
                                    <li><a href="~/ar/hafaralbatin">حفر الباطن</a></li>
                                    <li><a href="~/ar/kuwaitgallery">الكويت</a></li>
                                </ul>
                            </li>
                            <li><a href="~/ar/news">الأخبار</a></li>
                            <li>
                                <a href="javascript:;">فروعنا</a>
                                <ul>
                                    <li>
                                        <a href="javascript:;">المملكة العربية السعودية</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;">الرياض</a>
                                                <ul>
                                                    <li><a href="~/ar/alworod">الورود</a></li>
                                                    <li><a href="~/ar/almasif">المصيف</a></li>
                                                    <li><a href="~/ar/almorouj">المروج</a></li>
                                                    <li><a href="~/ar/almatar">المطار</a></li>
                                                    <li><a href="~/ar/almalaz">الملز</a></li>
                                                    <li><a href="~/ar/gaber">جابر</a></li>
                                                    <li><a href="~/ar/alfayhaa">الفيحاء</a></li>
                                                    <li><a href="~/ar/alqasr">القصر</a></li>
                                                    <li><a href="~/ar/majmaa">المجمعة</a></li>
                                                    <li><a href="~/ar/khurais">خريص</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;">الدمام</a>
                                                <ul>
                                                    <li><a href="~/ar/alshatea">الشاطئ</a></li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;">الخبر</a>
                                                <ul>
                                                    <li><a href="~/ar/gardenia">جاردينيا</a></li>
                                                    <li><a href="~/ar/alkhobar">الخبر</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;">جدة</a>
                                                <ul>
                                                    <li><a href="~/ar/heraa">حراء</a></li>
                                                    <li><a href="~/ar/altahlia">التحلية</a></li>
                                                    <li><a href="~/ar/palestine">فلسطين</a></li>
                                                    <li><a href="~/ar/quraish">قريش</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="~/ar/altaif">الطائف</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">القصيم</a>
                                                <ul>
                                                    <li><a href="~/ar/buraidah">بريدة</a></li>
                                                    <li><a href="~/ar/elnakhil">النخيل</a></li>
                                                    <li><a href="~/ar/alfakhria">الفاخرية</a></li>
                                                    <li><a href="~/ar/alrass">الرس</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;">حائل</a>
                                                <ul>
                                                    <li><a href="~/ar/albondoqia">البندقية</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;">أبها</a>
                                                <ul>
                                                    <li><a href="~/ar/abha">أبها</a></li>
                                                    <li><a href="~/ar/mahayelaseer">محايل عسير</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;">حفر الباطن</a>
                                                <ul>
                                                    <li><a href="~/ar/almaidan">الميدان</a></li>
                                                    <li><a href="~/ar/citycentre">سيتى سنتر</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">الكويت</a>
                                        <ul>
                                            <li><a href="~/ar/alsalemya">السالمية</a></li>
                                            <li><a href="~/ar/alfahahil">بودل فحيحيل </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="~/ar/careers">وظائف</a></li>
                            <li><a href="~/ar/about">عن بودل</a></li>
                            <li><a href="~/ar/contact">اتصل بنا</a></li>
                            <li><a href="~/Home/Changelanguage">English</a></li>
                        </ul>
                    </nav>
                    <!-- Menu Handel -->
                    <div id="main-menu-handle" class="hidden-md hidden-lg"><i class="fa fa-bars"></i></div>
                </div>
            </div>
            <div id="mobile-menu-container" class="hidden-md hidden-lg"></div>
        </header>*@
    <!-- End of Main Header -->
    @RenderBody()
    <!-- Top Footer -->
    <div id="top-footer">
        <div id="go-up-box"><i class="fa fa-chevron-up"></i></div>
        <div class="inner-container container">
            <div class="widget col-sm-6 col-md-3">
                <h4>عن بودل</h4>
                <div class="widget-content">
                    تأسست شركة بودل عام ١٩٥٩م تحت اسم شركة صالح ناصر الخليوى وأولاده التجارية. وخلال أعوام قليلة إستطاعت الشركة إقامة العديد من الفنادق فى عدة مناطق من المملكة و دولة الكويت, وخلال مسيرة الشركة فى مجال الصناعة الفندقية, أنشأت العلامة التجارية الأولى فى مجال إدارة وتشغيل الفنادق فى المملكة.
                </div>

            </div>
            <div class="widget col-sm-6 col-md-3">
                <div id="uSubScribe">
                    <h4>قائمة البريد الالكترونية</h4>
                    <div class="widget-content">
                        <div class="desc">
                            اشترك لمعرفة اخر العروض الخاصة بنا
                        </div>
                        <form class="news-letter-form">
                            <input type="text" id="id1" class="email" placeholder="البريد الإلكتروني" required>
                            <div class="emsg" style="color:red"></div>
                            <input type="button" class="btn btn-default" value="اشتراك" onclick="btn()" />
                            @*<input type="text" class="email" placeholder="البريد الإلكتروني">
                                <input type="submit" class="btn btn-default" value="أفتح حساب الأن">*@
                        </form>
                    </div>
                </div>
                <div class="smsg" style="color:white" id="uSubScription"></div>
            </div>
            <div class="widget col-sm-6 col-md-3 get-in-touch">
                <h4>ابقى على تواصل</h4>
                <div class="widget-content">
                    <ul>
                        <li><i class="fa fa-map-marker "></i> شارع الملك عبد العزيز, حى الصحافة, الرياض ١١٣٧٢</li>
                        <li><i class="fa fa-phone"></i> ٩٢٠٠٠٠٦٦٦</li>
                        <li><i class="fa fa-envelope-o"></i> web@boudl.com</li>
                    </ul>
                    <ul class="list-inline social-icons">
                        <li><a href="https://www.facebook.com/boudl.hotels.resorts/" target="_blank"><i class="fa fa-facebook "></i></a></li>
                        <li><a href="https://twitter.com/BoudlHotels" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/explore/tags/boudl/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC2Ci8v8M-DGAIZyT7gtoPsQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <img src="~/areas/ar/assets/img/corporate/app-img.png" class="img-responsive mobile-img" />
                <p class="text-center">
                    <strong>حمل تطبيق بودل الآن </strong>
                </p>
                <hr />
                <ul class="list-unstyled footer-link-img">
                    <li>
                        <a href="https://itunes.apple.com/us/app/boudl-group/id1323623969?ls=1&mt=8" target="_blank"><img src="~/areas/ar/assets/img/corporate/appstore.png" class="footer-img" /></a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.cs.boudl" target="_blank"><img src="~/areas/ar/assets/img/corporate/google-play.png" class="footer-img" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End of Top Footer -->
    <!-- Footer -->
    <footer id="footer">
        <div class="copy-right">
            © @DateTime.Now.Year  جميع الحقوق محفوظة لشركة بودل. تم تطويره من خلال <a href="http://www.creative-sols.com" target="_blank"> شركة الحلول الإبداعية المحدودة </a>
        </div>
    </footer>
    <div class="nation-bg"></div>
    <!-- End of Footer -->
    <!-- Include the js files  -->
    <script type="text/javascript" src="~/areas/ar/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/areas/ar/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/areas/ar/assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/areas/ar/assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/areas/ar/assets/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/areas/ar/assets/js/helper.js"></script>
    <script type="text/javascript" src="~/areas/ar/assets/js/template.js"></script>
    <script>
        $('#uSubScription').hide();
        function btn() {
            var emailId = $('#id1').val();
            var reg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;


            if (/^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/.test(emailId) == false) {
                $(".emsg").text("بريد الكتروني خطأ");
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Subscribe", "Home")',
                    dataType: 'json',
                    data: { email: emailId },
                    success: function (data) {
                        var res = data.success;
                        if (res == "1") {
                            $(".emsg").text("تم الإشترك بناح , شكراً لإهتمامك");
                            $(".smsg").text("");
                        }

                        else if (res == "2") {
                            $(".emsg").text("");
                            $('#uSubScribe').hide(); $('#uSubScription').show();
                            $(".smsg").text("تم الإشتراك بنجاح");
                        }
                        else if (res == "3") {
                            $(".smsg").text("");
                            $(".emsg").text("يرجى إدخال البريد الإلكتروني");
                        }

                    },
                    error: function (ex) {
                        alert(ex)
                    }
                });
            }
        }
    </script>
    @RenderSection("scripts", required: false)
    <script>

        var image = ("@websiteurl" + "assets/img/gallery/boudlthumb.jpg");
        function hoverdivOpen(e, name) {
            $("#shopimgid-" + name).attr("src", e);
        }
        function hoverdivclose(e, name) {
            $("#shopimgid-" + name).attr("src", image);
        }
    </script>
    <script src="~/Areas/ar/assets/MegaMenu/src/navik.menu.js"></script>
</body>
</html>
