﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Oops.</h1>
        <h2>some thing went wrong while rendering your page.</h2>
        <p>visit <a href="~/Home/Index">Home</a>.</p>
    </hgroup>
</body>
</html>
