﻿
@{
    ViewBag.Title = "Boudl Gallery Hotels Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/assets/plugins/galleryslider/unitegallery/css/unite-gallery.css" rel="stylesheet" />
    <link href="~/assets/plugins/galleryslider/unitegallery/themes/default/ug-theme-default.css" rel="stylesheet" />
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page gallery-header">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar">الرئيسية</a></li>
        <li class="active">معرض الميديا</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Gallery Container -->
<div class="gallery-container container gallery-grid">
    <!-- Gallery Container -->
    <div class="gallery-container">
        @*<div class="sort-section">
            <div class="sort-section-container">
                <div class="sort-handle">Filters</div>
                <ul class="list-inline">
                    <li><a href="#" data-filter="*" class="active">الكل</a></li>
                    <li><a href="#" data-filter=".rooms">الاجنحة و الغرفة</a></li>
                    <li><a href="#" data-filter=".lobby">لوبي الفندق</a></li>
                    <li><a href="#" data-filter=".pool">المسبح</a></li>
                    <li><a href="#" data-filter=".relaxation">ملاحقات اخرى</a></li>
                </ul>
            </div>
        </div>
        <ul class="image-main-box clearfix">
            <li class="item col-xs-6 col-md-4 lobby">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery1.jpg" alt="1" />
                    <a href="~/areas/ar/assets/img/gallery/gallery1.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
        </ul>*@

        <div id="gallery" style="display:none;">
            @foreach (var item in ViewBag.Galleries)
            {
                <img alt="Preview Image 1" src=""
                     data-image=@item.ImagePath data-description="@item.BranchName">
            }
        </div>
    </div>
</div>
<!-- End of Gallery Container -->
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}
