﻿
@{
    ViewBag.Title = "بودل الفيحاء ";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<div class="room-detail-page">
    <!-- Main Slider -->
    <div id="room-details-slider">
        <div class="items">
            <img src="~/assets/img/branches/Fayha/1.jpg" alt="Fayha 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/Fayha/2.jpg" alt="Fayha 2" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/Fayha/3.jpg" alt="Fayha 3" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/Fayha/4.jpg" alt="Fayha 4" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/Fayha/5.jpg" alt="Fayha 5" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/Fayha/6.jpg" alt="Fayha 6" />
        </div>
    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <div class="heading-box">
                <h2>بودل <span>الفيحاء</span></h2><!-- Title -->
            </div>
            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="الوصول" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="المغادرة" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">البالغون</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">الأطفال</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default h-75" value="إحجز الآن" type="submit" onClick="window.open('http://fayhaa.boudl.com/V8Client/Inquiry.aspx');" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                يقع بودل الفيحاء في شارع السلي في الرياض على بعد كيلومتر واحد من الطريق الدائري الشرق،.ويضم مسبح في الهواء الطلق وغرف فسيحة مع مكيف للهواء وخدمة الواي فاي المجانية.<br />
                تتميز غرف وأجنحة الفيحاء بأرضيات من الرخام وأثاث حديث، كما تحتوي على صندوق للأمانات وجهاز تلفزيون مع قنوات فضائية وتشمل بعض الغرف مطبخ مجهز بالكامل ومنطقة جلوس مع أريكة.<br />
                في الصباح، يمكن للنزلاء في فندق بودل الاستمتاع ببوفيه الإفطار مع الشاي الساخن، ويوفر الفندق الصحف اليومية في البهو إضافة إلى خدمة الغرف.<br />
                يقع بودل الفيحاء على مسافة 33 كم من مطار الملك خالد، ويوفر الفندق مكتب استقبال يعمل على مدار 24 ساعة يومياً. 
            </p>
            <br />

        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/assets/img/branches/Fayha/services.jpg" alt="Boudl Fayha Services" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">خدمات الفندق </div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-wifi"></i>	واي فاي مجاني </li>
                        <li><i class="fa fa-heart"></i> مركز لياقة بدنية ممتاز </li>
                        <li><i class="fa fa-car"></i> مواقف سيارات مجانية </li>
                        <li><i class="fa fa-tags"></i> خدمة الغسيل</li>
                        <li><i class="fa fa-user"></i> خدمة العرسان </li>
                        <li><i class="fa fa-building-o"></i> مسبح </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->
<div id="map" class="loc-map">

</div>

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var myLatLng = new google.maps.LatLng(24.678314, 46.801106);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/boudl-apart/assets/img/corporate/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


}