﻿
@{
    ViewBag.Title = "بريرا النخيل ( الرياض )";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
}
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/boudl-apart/assets/img/headers/News-Boudl.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/">الرئيسية</a></li>
        <li><a href="~/ar/news/">الأخبار</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <img src="~/assets/img/news/al-nakhil.jpg" class="post-img" alt="بريرا النخيل ( الرياض )" />
                <h3 class="post-title">بريرا النخيل ( الرياض )</h3>
                <div class="post-desc">
                    <p>
                        قريباً سيتم إفتتاح فندق بريرا فرع حى النخيل بالرياض , من أكثر ما تمتاز به فنادق بريرا هو الديكور العصرى الذي يميل الى الفخامة والبساطة فى الوقت  ذاته, فقد أسست الشركة العديد من الفنادق والمنتجعات فى أنحاء المملكة وجارى التوسع لتشمل عدة مدن رئيسية. يُعد بريرا المكان الأمثل لقضاء عطلة مع العائلة  ففيه يسمتع النزيل بالهدوء والرفاهية بالأضافة الى خدمات فندقية متكاملة وبأسعار لا تقارن. 
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">22 - Oct - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}