﻿
@{
    ViewBag.Title = "Boudl Dammam Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/assets/plugins/galleryslider/unitegallery/css/unite-gallery.css" rel="stylesheet" />
    <link href="~/assets/plugins/galleryslider/unitegallery/themes/default/ug-theme-default.css" rel="stylesheet" />
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page gallery-header">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li><a href="javascript:;">Boudl Dammam</a></li>
        <li class="active">Gallery</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Gallery Container -->
<div class="gallery-container container gallery-grid">
    <!-- Gallery Container -->
    <div id="gallery" style="display:none;">
        <img alt="Preview Image 1" src="http://csadms.com/boudl-apart/assets/img/thumb/Shatea/1.jpg"
             data-image="http://csadms.com/boudl-apart/assets/img/branches/Shatea/1.jpg" data-description="Al Shatea">
        <img alt="Preview Image 1" src="http://csadms.com/boudl-apart/assets/img/thumb/Shatea/2.jpg"
             data-image="http://csadms.com/boudl-apart/assets/img/branches/Shatea/2.jpg" data-description="Al Shatea">
        <img alt="Preview Image 1" src="http://csadms.com/boudl-apart/assets/img/thumb/Shatea/5.jpg"
             data-image="http://csadms.com/boudl-apart/assets/img/branches/Shatea/5.jpg" data-description="Al Shatea">        
    </div>
</div>
<!-- End of Gallery Container -->
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-common-libraries.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-functions.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-thumbsgeneral.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-thumbsstrip.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-touchthumbs.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-panelsbase.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-strippanel.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-gridpanel.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-thumbsgrid.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-tiles.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-tiledesign.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-avia.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-slider.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-sliderassets.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-touchslider.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-zoomslider.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-video.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-gallery.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-lightbox.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-carousel.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-api.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/themes/default/ug-theme-default.js'></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {

            jQuery("#gallery").unitegallery();

        });

    </script>
}