﻿
@{
    ViewBag.Title = "إفتتاح فندق بريرا حى الوزارات";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
}
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/boudl-apart/assets/img/headers/News-Boudl.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/">الرئيسية</a></li>
        <li><a href="~/ar/news/">الأخبار</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <img src="~/assets/img/news/braira-al-wizarat.jpg" class="post-img" alt="إفتتاح فندق بريرا حى الوزارات" />
                <h3 class="post-title">إفتتاح فندق بريرا حى الوزارات</h3>
                <div class="post-desc">
                    <p>
                        قريبا سيتم إفتتاح فندق بريرا حى الوزارات بمدينة الرياض, فالفندق يقع فى موقع حيوي ومميز بالرياض فى قلب المدينة. يُعد الفندق هو الخيار الأمثل لرجال الأعمال و الباحثيين عن مكان للإقامة بجوار المؤسسات والهئيات. يمتاز الفندق بآثاث عصرى و أنيق يميل الى حد كبير الى الفخامة و يتمتع بتصاميم ذات ألوان خلابة و مريحة للأعين , أيضا من أكثر ما يميز فنادق بريرا هو الهدوء وحسن الخدمة الفندقية مع جميع الخدمات المتكاملة فهنالك بالتأكيد ستجد كل ما تحتاجه لقضاء إقامة أكثر من رائعة وبأسعار ممتازة.
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">02 - Sep - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}