﻿
@{
    ViewBag.Title = "Latest Offers";
    Layout = "~/Areas/Ar/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/fonts/css/animation.css" rel="stylesheet" />
    <link href="~/fonts/css/fontello.css" rel="stylesheet" />
    <style type="text/css">
        .bottom-align-text {
            position: absolute;
            bottom: 3px;
            left: 3px;
        }

        .truncateAmenity {
            width: 100%;
            height: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .truncateDesc {
            width: 100%;
            height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .truncateDesc2 {
            width: 100%;
            height: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
}
<!-- Internal Page Header -->

<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li class="active">اخر العروض</li>
    </ol>
</div>

<!-- Special Packages -->
<div id="special-packages" class="room-container container room-list">
    <!-- Heading box -->
    <div class="heading-box">
        <h2> <span> عروض</span> خاصة</h2><!-- Title --> 
        <div class="subtitle">اختر واحداً من العروض الخاصة</div><!-- Subtitle -->
    </div>

    <!-- Package Container -->
    @*<div class="package-container clearfix">*@
    <div class="offers-responsive">
        <!-- Package Box -->
        @if (ViewBag.splPkgs != null)
        {
            foreach (SpecialPackage item in ViewBag.splPkgs)
            {
                <div class="room-box clearfix">
                    <div class="img-container col-xs-6">
                        <a href="Offers/@item.NameEn.Replace(" ","")">
                            <img src="@item.ImageAr" alt="@item.NameAr">
                        </a>
                        @*@if (item.BookingRedirection) {<a href="@item.bookingURL" class="btn btn-default">احجز الأن</a>}*@
                    </div>
                    <div class="details col-xs-6">
                        <div class="title">
                            @*<a href="#">@item.NameAr</a>*@
                            @*<a href="Offers/@item.NameAr.Replace(" ","")"><strong>@item.NameAr</strong></a>*@
                            @Html.ActionLink(item.NameAr, "Offers", "latestoffers", new { @name = item.NameEn.Replace(" ", ""), @class = "" }, null)
                        </div>
                        <div class="desc">
                            @if (item.Mode == 1)
                            {

                                <div class="truncateDesc2">
                                    @Html.Raw(HttpUtility.HtmlDecode(item.DescriptionAr.Replace("<p><br></p>", "")))
                                    
                                </div>
                                <a href="~/ar/Offers/@item.NameEn.Replace(" ","")" class="text ">أكثر من..</a>
                                <div class="bottom-align-text ">
                                    <a href="tel:0096692000666" class="btn btn-default" target="_blank">احجز الأن</a>
                                </div>
                            }
                            else
                            {
                                <div class="truncateDesc">
                                    @Html.Raw(HttpUtility.HtmlDecode(item.DescriptionAr.Replace("<p><br></p>", "")))
                                    
                                </div>
                                <div><a href="~/ar/Offers/@item.NameEn.Replace(" ","")" class="text ">أكثر من..</a></div>
                                <div class="truncateAmenity">
                                    <ul class="facilities list-inline">
                                        @for (int i = 0; i < item.arAmnAr.Length; i++)
                                        {
                                            if (!String.IsNullOrEmpty(item.arAmnAr[i]))
                                            {
                                                <li><i class="fa @item.amIcons[i]"></i>@item.arAmnAr[i]</li>
                                            }
                                        }
                                        @*@foreach (String element in item.AmenitiesAr.Split(','))
                                            {
                                                <li><i class="fa fa-check"></i>@element</li>
                                            }*@
                                    </ul>
                                </div>
                                <div class="bottom-align-text ">
                                    @if (item.BookingRedirection && item.bookingURL != "")
                                    {<a href="@item.bookingURL" class="btn btn-default" target="_blank">احجز الأن</a>}
                                </div>

                            }
                        </div>
                        <div class="price">

                            <span>

                                @Convert.ToInt64(item.OfferPrice)    ريال سعودي
                            </span>
                            @if (item.Mode == 1)
                    {
                                @("- للفرد  ")
                            }
                            @if (item.Mode == 2)
                    {
                                @("- لليلة واحدة ")
                            }
                        </div>

                    </div>
                </div>
            }
        }
        else
        {
            <p>No Content Available</p>
        }
    </div>
</div>

<!-- End of Special Packages -->




@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky"); $("p").removeClass("p1");
        $("p").removeClass("p1");$("p").removeClass("p2"); $("p").removeClass("p3"); $("p").removeClass("p4"); $("p").removeClass("p5");
    </script>
}