﻿
@{
    ViewBag.Title = "Offers";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/fonts/css/animation.css" rel="stylesheet" />
    <link href="~/fonts/css/fontello.css" rel="stylesheet" />
}


<!-- Welcome -->
<div id="" class="room-details-page offer-page-btn">
    @if (ViewBag.OffersDetail != null)
    {
        foreach (var item in ViewBag.OffersDetail)
        {
             <!-- Inner section -->
            <div class="inner-content" id="divcontent">
                <div class="image-main-box">
                    <img src=@item.ImageAr alt="welcome to Boudl Hotels" class="img-responsive">
                </div>

            </div>
        }
    }
    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            @if (ViewBag.OffersDetail != null)
            {
                foreach (var item in ViewBag.OffersDetail)
                {
                    <div class="heading-box">
                        <h2><span>@item.NameAr</span></h2>
                        <div class="subtitle price">
                           @Convert.ToInt64(item.OfferPrice) ريال سعودي
                            <span>
                                @if (item.Mode == 1)
                                {
                                    @("- للفرد  ")
                                }
                                @if (item.Mode == 2)
                                {
                                    @("- لليلة واحدة ")
                                }
                            </span>
                        </div>
                    </div>
                }
            }

            <div class="" id="divformbooking">
                <!-- Booking form -->
                <form class="booking-form clearfix"  action="" name="myform">
                    <!-- Do Not remove the classes -->
                    <div class="input-daterange col-md-12" id="divbooking">

                        <div class="col-md-4">
                            <label>الوصول</label>
                            <div class="booking-fields">
                                <input readonly placeholder="Check in" class="datepicker-fields check-in dates" type="text"  autocomplete="off" id="startdate" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                                <i class="fa fa-calendar"></i><!-- Date Picker Icon  name="start"-->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>المغادرة</label>
                            <div class="booking-fields">
                                <input readonly placeholder="Check out" class="datepicker-fields check-out dates" type="text"  autocomplete="off" id="enddate" />
                                <i class="fa fa-calendar"></i> @* name="end"*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label> البالغون</label>
                            <div class="booking-fields">
                                <select id="booking-field2"> @*name="room-type"*@
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input hidden type="text" name="culture" id="culture" />
                    <input hidden type="text" name="date" id="date" />
                    <input hidden type="text" name="nights" id="nights" />
                    <input hidden type="text" name="adults" id="adults" />  
                    @*<div class="input-daterange col-md-8">
                        <div class="booking-fields col-md-6">
                            <input placeholder="الوصول" class="datepicker-fields check-in" type="text" name="start" autocomplete="off" id="startdate"  /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                            <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                        </div>
                        <div class="booking-fields col-md-6">
                            <input placeholder="المغادرة" class="datepicker-fields check-out" type="text" name="end" autocomplete="off" id="enddate" />
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="booking-fields col-md-4">
                        <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                        <select name="room-type" id="booking-field2">
                            <option value="1">البالغون</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="6">5</option>
                        </select>
                        <!-- End of Select boxes -->
                    </div>*@
                   
                    @if (ViewBag.Mode == 1)
                    {
                    <div class="booking-button-container">
                        <input class="btn btn-default" value="احجز الأن" type="submit" onClick="window.open('tel:0096692000666');" /><!-- Submit button -->

                    </div>
                    }
                    else if (ViewBag.Mode == 2)
                    {
                        if (ViewBag.BookingRedirection == true & (ViewBag.BookingUrl != null || ViewBag.BookingUrl != ""))
                        {
                    <div class="booking-button-container">
                        @*<input class="btn btn-default" value="احجز الأن" type="submit" onClick="window.open('@ViewBag.BookingUrl');" /><!-- Submit button -->*@
                        <input class="btn btn-default" value="Book" type="submit" onClick="return Booking();" />

                    </div>
                        }
                    }

                </form>
                <div class="clearfix"></div>
                <div id="test" style="visibility:hidden;">
                    <input type="hidden" value="@ViewBag.BookingUrl" id="hdnurl" />
                    <input type="hidden" value="@ViewBag.BookingRedirection" id="hdnRedirect" />

                </div>
            </div>
        </div>
    </div>
    <!-- Heading box -->
   
</div>
<!-- End of Welcome -->
<div class="room-details container">
    @if (ViewBag.OffersDetail != null)
    {
        foreach (var item in ViewBag.OffersDetail)
        {
            <div class="description">
                <p>
                    @Html.Raw(HttpUtility.HtmlDecode(@item.DescriptionAr))

                </p>
                <ul class="services list-inline text-left overflow-auto">
                    @for (int i = 0; i < item.arAmnAr.Length; i++)
                    {
                        if (!String.IsNullOrEmpty(item.arAmnAr[i]))
                        {
                            <li class="col-sm-3"><i class="fa @item.amIcons[i]"></i>&nbsp;@item.arAmnAr[i]</li>
                        }
                    }
                </ul>
            </div>
        }
    }
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages room-details trans-header sticky"); $("p").removeClass("p1");
        $("p").removeClass("p2"); $("p").removeClass("p3"); $("p").removeClass("p4"); $("p").removeClass("p5");
    </script>
<script>
        var fullDate = new Date();
         fullDate = fullDate.setDate(fullDate.getDate() + 1);

        jQuery("#startdate").datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            startDate: new Date()
        });
        jQuery("#enddate").datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            startDate: new Date(fullDate)
        });
        $("#startdate").datepicker('setDate',new Date());

        $("#enddate").datepicker('setDate',new Date(fullDate));

        $(document).ready(function()
        {
            $(function() {
                $("input.dates").each(function(){
                    var currentValue = $(this).val();
                    if(currentValue)
                        $(this).datepicker('setDate',new Date(currentValue));
                });
            });
                $("input.dates").keydown(function(event) {
                    if(event.keyCode != 8){
                        event.preventDefault();
                    }
                });
        })
</script>
<script>
        $(document).ready(function(){
                $("input").change(function(){
                    debugger;

                    var start =$("#startdate").val();
                    var SDate = new Date(start);
                    var end = $("#enddate").val();
                    var EDate = new Date(end);

                    if(start == end){
                        EDate = SDate.setDate(SDate.getDate() + 1);
                        $("#enddate").datepicker('setDate',new Date(EDate));
                    }
                });
        });
</script>
    <script>
        $(document).ready(function () {
            var url = $('#hdnurl').val();
            if(@ViewBag.Mode == 1){
                $("#divbooking").hide();
            }
            var redirect = $('#hdnRedirect').val();
            if ((redirect == "value" || redirect == "") && url == "" && @ViewBag.Mode ==2) {
                $("#divformbooking").hide();
                var distinct = '<div class="clearfix"></div>'
                $("#divformbooking ").after(distinct);
            }
        });
        function Booking()
        {
            debugger
            var startdate = $("#startdate").val();

            var enddate = $("#enddate").val();
            var Adult = $("#booking-field2").val();
            var hdnRedirect = $("#hdnRedirect").val();

            var startDay = new Date(startdate);
            var endDay = new Date(enddate);

            var days = (endDay - startDay) / (1000 * 60 * 60 * 24);

            var d=startdate.split("-");
            var dd=d[2];
            var mm=d[1];
            var yy=d[0];
            var date = dd +'.'+mm +'.' +yy;
            $("#culture").val('en-us');
            $("#date").val(date);
            $("#nights").val(days);
            $("#adults").val(Adult);
            var url = '@ViewBag.BookingUrl';


            document.myform.action = url;
            @*var url = '@ViewBag.BookingUrl' +'?culture=en-us&date='+ date+'&nights='+days+'&adults='+Adult;
            //window.open(url);
            document.location.href = url;*@
        }
    </script>
}
