﻿
@{
    ViewBag.Title = "أخر العروض";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .room-container .room-box .img-container {
            height: 350px;
        }
    </style>
}

<!-- Internal Page Header -->
<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li class="active">أخر العروض</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Special Packages -->
<div id="special-packages" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2><span>عروض خاصة</span></h2><!-- Title -->
        <div class="subtitle">إختر واحدة من عروضنا الخاصة</div><!-- Subtitle -->
    </div>

    <!-- Package Container -->
    <div class="package-container clearfix">
        <!-- Package Box -->
        @if (ViewBag.splPkgs != null)
        {
            foreach (SpecialPackage item in ViewBag.splPkgs)
            {
                <div class="package-box wow fadeInUp col-sm-6">
                    <div class="package-inner">
                        <div class="title">@item.NameAr</div>
                        <img src="@item.ImageAr" class="img-responsive" alt="@item.NameAr" />
                        @*<div class="price"><span>SAR 340</span>per night</div>*@
                        @if (item.Mode == 1)
                        {
                            <div class="price">
                                <span>@item.Currency @item.OfferPrice</span>  @("-Per Night ")
                            </div>
                        }
                        <div class="package-details">
                            @if (item.Mode == 1)
                            {
                                <p>@item.DescriptionAr</p>
                            }
                            else
                            {
                                <ul>
                                    @foreach (String element in item.AmenitiesAr.Split(','))
                                    {
                                        <li>@element</li>
                                    }
                                </ul>
                            }
                        </div>
                        <a href="Offers/@item.NameAr.Replace(" ","")" class="btn btn-default">Select Package</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No Content Available</p>
        }
        @*<div class="package-box wow fadeInUp col-sm-6">
                <div class="package-inner">
                    <div class="title">عرسان</div>
                    <img src="~/areas/ar/assets/img/corporate/honeymoon-package.jpg" class="img-responsive" alt="family pacakge" />
                    <!-- <div class="price"><span>SAR 340</span>per night</div> -->
                    <div class="package-details">
                        <ul>
                            <li>تزيين الغرفة</li>
                            <li>كعكة العروسان</li>
                            <li>حفلة موسيقية</li>
                            <li>شمـــوع</li>
                            <li>بوكيه ورد</li>
                            <li>سلة فواكه</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-default">إختر عرضاََ</a>
                </div>
            </div>

            <!-- Package Box -->
            <div class="package-box wow fadeInUp col-sm-6" data-wow-delay="0.5s">
                <div class="package-inner">
                    <div class="title">عائلية</div>
                    <img src="~/areas/ar/assets/img/corporate/family-package.jpg" class="img-responsive" alt="honeymoon pacakage" />
                    <!-- <div class="price"><span>SAR 340</span>per night</div> -->
                    <div class="package-details">
                        <ul>
                            <li>مطعم</li>
                            <li>حفلة موسيقية</li>
                            <li>نشاطات رياضية </li>
                            <li>مسابح</li>
                            <li>ملهى للأطفال</li>
                            <li>غرف واسعة</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-default">إختر عرضاََ</a>
                </div>
            </div>*@
    </div>
</div>
<!-- End of Special Packages -->

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}














