﻿
@{
    ViewBag.Title = "Branches";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Branchdetails = ViewBag.BranchDetails;
    //int TotalImages = Branchdetails.Length;

}
@section styles{
    <style type="text/css">
        .video-container {
            position: relative;
            height: 100vh;
            width: 100%;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
        }

        iframe.full-video {
            position: absolute !important;
            height: 100%;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .video-js {
            width: 100% !important;
        }

            .video-js .vjs-tech {
                height: auto !important;
            }

        @@media (min-width: 468px) and (max-width: 767px) {
            .video-container {
                height: 55vh;
            }
        }

        @@media (max-width: 467px) {
            .video-container {
                height: 33vh;
            }
        }
    </style>

}
<div class="room-detail-page">
    <!-- Main Slider -->
    <div id="room-details-slider">
        @if (ViewBag.MediaType != null)
            {
                if (ViewBag.MediaType == "2")
                {
                    if (ViewBag.BrnList != null)
                    {
                        foreach (var item in ViewBag.BranchBanners)
                        {
                        <div id="main-slider">
                            <div class="video-container">
                                <video id="my-video" class="video-js vjs-controls-enabled vjs-workinghover vjs-v6 my-video-dimensions vjs-playing vjs-user-active" controls preload="auto" poster="http://csadms.com/boudl-apart/assets/img/corporate/poster.jpg" data-setup="{}" autoplay muted loop>
                                    <source src=@ViewBag.ImageUrl + @item.SourcePath type="video/mp4">
                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                    </p>
                                </video>
                            </div>
                        </div>
                    }
                }
            }
            else if (ViewBag.MediaType == "1")
            {
                if (ViewBag.BrnList != null)
                {
                    @*<div id="room-details-slider">*@
                        foreach (var item in ViewBag.BranchBanners)
                        {
                            <div class="items">
                                <img src="@ViewBag.ImageUrl@item.SourcePath" />
                            </div>
                        }
                    @*</div>*@
                }
            }
            else if (ViewBag.MediaType == "3")
            {
                foreach (var item in ViewBag.BranchBanners)
                {
                    <div id="main-slider">
                        <div class="video-container">
                            <iframe class="full-video" src="@("https://www.youtube.com/embed/"+@item.SourcePath+"?rel=0&amp;autoplay=1&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;playlist="+@item.SourcePath)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            @*<iframe class="full-video" src="https://www.youtube.com/embed/Jh0M2v83CN4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
                        </div>
                    </div>
                }
            }
        }
        @*<div class="items">
            <img src="~/assets/img/branches/Gaber/1.jpg" alt="Gaber 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/Gaber/2.jpg" alt="Gaber 2" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/Gaber/3.jpg" alt="Gaber 3" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/Gaber/4.jpg" alt="Gaber 4" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/Gaber/5.jpg" alt="Gaber 5" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/Gaber/6.jpg" alt="Gaber 6" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/Gaber/7.jpg" alt="Gaber 7" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/Gaber/8.jpg" alt="Gaber 8" />
        </div>*@
    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <div class="heading-box">
                @*<h2>Boudl <span>Gaber</span></h2>*@<!-- Title -->
                @if (ViewBag.Branchdetails != null)
                {
                    foreach (var item in ViewBag.Branchdetails)
                    {
                        
                        <h2>Boudl <span>@item.NameEn</span></h2><!-- Title -->
                    }

                }
                else
                {
                    <h3>No content available</h3>
                }

                @*else if (@Branchdetails != "")
                {
                    <h2>Boudl <span>@Branchdetails.NameEn</span></h2>
                }*@
            </div>
            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-in" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-Out" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">Adult</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">Children</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                @if (ViewBag.Branchdetails != null)
                {
                    foreach (var item in ViewBag.Branchdetails)
                    {
                        <div class="booking-button-container">
                            @*<input class="btn btn-default h-75" value="Book Now" type="submit" onClick="window.open('http://jaber.boudl.com/V8Client/Inquiry.aspx');" />*@<!-- Submit button -->
                            <input class="btn btn-default h-75" value="Book Now" type="submit" onClick="window.open('@item.BookingUrl');" /><!-- Submit button -->
                        </div>
                    }
                }


            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                @*Boudl Gaber offers accommodations in Riyadh. Every room has a flat-screen TV. You will find a kettle in the room. For your
                comfort, you will find bathrobes and slippers. You will find a 24-hour front desk at the property. King Fahd Stadium is 2.3 km from
                Boudl Gaber, and Kingdom Center is 17.7 km from the property. King Khalid Airport is 22.5 km away. This property is also rated for
                the best value in Riyadh! Guests are getting more for their money when compared to other properties in this city.*@
                @if (ViewBag.Branchdetails != null)
                {
                    foreach (var item in ViewBag.Branchdetails)
                    {
                    @Html.Raw(HttpUtility.HtmlDecode(@item.AboutEn))
                        //@item.AboutEn
                    }
                }


            </p>
            <br />

        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="@ViewBag.ImageUrl@ViewBag.BranchDetails[0].FacilityBgImagePath" alt="Boudl Gaber Services" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">Hotel Services</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        @if(ViewBag.AmenitiesList!=null)
                        {
                        foreach (var item in ViewBag.AmenitiesList)
                        {
                            <li>@item.NameEn</li>
                        }
                        }
                        
                        @*<li><i class="fa fa-wifi"></i> Free Wifi</li>
                        <li><i class="fa fa-bed"></i> 24H Reception</li>
                        <li><i class="fa fa-building"></i> Room Service</li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->
<div id="map" class="loc-map">

</div>

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            //var myLatLng = new google.maps.LatLng(24.794608, 46.818278);
            var latitude='@ViewData["latitude"]';
            var longitude='@ViewData["longitude"]';
            var myLatLng = new google.maps.LatLng(latitude,longitude);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/boudl-apart/assets/img/corporate/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


}
