﻿
@{
    ViewBag.Title = "DefaultError";
}
<div class="main-content container news">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            
            

            <h3 class="post-title" style="margin-top:200px;">Oops! Something went wrong while rendering your page.</h3>
            <div class="post-desc">
                <p>visit <a href="~/Home/Index">Home</a>.</p>
            </div>
        </div>
    </div>
</div>
