﻿
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/assets/plugins/galleryslider/unitegallery/css/unite-gallery.css" rel="stylesheet" />
    <link href="~/assets/plugins/galleryslider/unitegallery/themes/default/ug-theme-default.css" rel="stylesheet" />
}

<!-- Internal Page Header -->
<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        @*<li><a href="javascript:;">Boudl Abha</a></li>*@
        <li><a href="javascript:;">@ViewBag.BranchName</a></li>
        <li class="active">Gallery</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<br /><br />
<!-- Gallery Container -->
<div class="gallery-container container gallery-grid">
    <!-- Gallery Container -->
    <div id="gallery" style="display:none;">
        @if (ViewBag.Galleries != null)
        {
            foreach (var item in ViewBag.Galleries)
            {
                if (item.MediaTypeId == 3)
                {
                    <img alt="@item.BranchNameEn"
                         data-type="youtube"
                         data-videoid="@item.ImagePath"
                         data-description="@item.BranchNameEn">
                }
                else if (item.MediaTypeId == 2)
                {
                    var websiteurl = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["hostFolder"]);
                        var imgurl = websiteurl + "assets/img/corporate/boudl .png";
                    <img alt="@item.BranchNameEn"
                         @*src="@item.ThumbnailImage"*@
                         src="@imgurl"
                         data-type="html5video"
                         @*data-image="@item.ThumbnailImage"*@
                         data-image="@imgurl"
                         
                         @*data-videoogv="http://video-js.zencoder.com/oceans-clip.ogv"
                     data-videowebm="http://video-js.zencoder.com/oceans-clip.webm"*@
                         data-videomp4="@(ViewBag.ImageUrl+item.ImagePath.ToString().Replace(" ","%20"))"
                         data-description="@item.BranchNameEn">
                }
                else if (item.MediaTypeId == 1)
                {
                    <img alt="@item.BranchNameEn" src=""
                         data-image=@(ViewBag.ImageUrl+item.ImagePath) data-description="@item.BranchNameEn">
                }

            }
        }
        
    </div>
    @*<div id="gallery" style="display:none;">
            <img alt="Preview Image 1" src=""
                 data-image="http://boudl.com/boudl-apart/assets/img/branches/Abha/1.jpg" data-description="Abha">

            <img alt="Preview Image 1" src="http://boudl.com/boudl-apart/assets/img/thumb/Abha/2.jpg"
                     data-image="http://boudl.com/boudl-apart/assets/img/branches/Abha/2.jpg" data-description="Abha">

                <img alt="Preview Image 1" src="http://boudl.com/boudl-apart/assets/img/thumb/Abha/3.jpg"
                     data-image="http://boudl.com/boudl-apart/assets/img/branches/Abha/3.jpg" data-description="Abha">

                <img alt="Preview Image 1" src="http://boudl.com/boudl-apart/assets/img/thumb/Mahayel/1.jpg"
                     data-image="http://boudl.com/boudl-apart/assets/img/branches/Mahayel/1.jpg" data-description="Mahayel Aseer">

                <img alt="Preview Image 1" src="http://boudl.com/boudl-apart/assets/img/thumb/Mahayel/5.jpg"
                     data-image="http://boudl.com/boudl-apart/assets/img/branches/Mahayel/5.jpg" data-description="Mahayel Aseer">

                <img alt="Preview Image 1" src="http://boudl.com/boudl-apart/assets/img/thumb/Mahayel/6.jpg"
                     data-image="http://boudl.com/boudl-apart/assets/img/branches/Mahayel/6.jpg" data-description="Mahayel Aseer">
        </div>*@
</div>
<!-- End of Gallery Container -->
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
        $("p").removeClass("p1");
    </script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-common-libraries.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-functions.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-thumbsgeneral.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-thumbsstrip.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-touchthumbs.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-panelsbase.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-strippanel.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-gridpanel.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-thumbsgrid.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-tiles.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-tiledesign.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-avia.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-slider.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-sliderassets.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-touchslider.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-zoomslider.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-video.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-gallery.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-lightbox.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-carousel.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-api.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/themes/default/ug-theme-default.js'></script>
    <script type="text/javascript">
        var api;
        jQuery(document).ready(function () {
       api = jQuery("#gallery").unitegallery();
       api.play();
            //jQuery("#gallery1").unitegallery({
            //        gallery_autoplay: false
            //    });
        });
    </script>
}

