﻿@model BoudlHotel.ManageBranchesDTO
@{
    ViewBag.Title = "Boudl 'Apart Hotels Saudi Arabia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var imagePath = ViewBag.BannersList;
    var brn = @Html.Raw(ViewBag.BrnList);
    
 }
        @section styles{
            <style type="text/css">
                .video-container {
                    position: relative;
                    height: 100vh;
                    width: 100%;

                }

                video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                }
                iframe.full-video {
                    position: absolute !important;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    right: 0;
                    top:0;
                    bottom: 0;                   
                }
                .video-js {
                    width: 100% !important
                }

                .video-js .vjs-tech {
                    height: auto !important
                }

                @@media (min-width: 468px) and (max-width: 767px) {
                    .video-container {
                        height: 55vh;
                    }
                }

                @@media (max-width: 467px) {
                    .video-container {
                        height: 33vh;
                    }
                }
            </style>

        }

        <!-- Top Slider and Booking form -->

        <div id="home-top-section">
            @if (ViewBag.MediaType != null)
            {
                if (ViewBag.MediaType == "2")
                {
                    if (ViewBag.BannersList != null)
                    {
                        foreach (var item in ViewBag.BannersList)
                        {
                            <div id="main-slider">
                                <div class="video-container">
                                    @*<a href="www.google.com">*@
                                    @*vjs-controls-enabled vjs-workinghover vjs-v6 my-video-dimensions vjs-playing vjs-user-active*@
                                        <video id="my-video" class="video-js" controls preload="auto"  data-setup="{}" autoplay muted loop>
                                            <source src="@ViewBag.ImageUrl@item.SourcePath" type="video/mp4">
                                            <p class="vjs-no-js">
                                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                            </p>
                                        </video>
                                    @*</a>*@
                                </div>
                            </div>
                        }
                    }
                }
                else if (ViewBag.MediaType == "1")
                {
                    if (ViewBag.BannersList != null)
                    {
                        <div id="room-details-slider">
                            @foreach (var item in ViewBag.BannersList)
                            {
                                <div class="items">
                                    <a href="@item.NavigationUrl" target="_blank">
                                        <img src="@ViewBag.ImageUrl@item.SourcePath" />
                                    </a>
                                        @*<img src="@ViewBag.ImageUrl@item.SourcePath" />*@
                                </div>
                            }
                        </div>
                    }
                }
                else if (ViewBag.MediaType == "3")
                {
                    foreach (var item in ViewBag.BannersList)
                    {
                        <div id="main-slider">
                            <div class="video-container">                                
                                <a href="#">
                                    <iframe class="full-video" src="https://www.youtube.com/embed/@item.SourcePath?controls=0&showinfo=0&rel=0&modestbranding=1&autohide=1&mute=1&autoplay=1&loop=1" allow="autoplay" frameborder="0"  allowfullscreen></iframe>
                                    @*<iframe class="full-video" src="@("https://www.youtube.com/embed/"+@item.SourcePath+"?rel=0&amp;autoplay=1&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;playlist="+@item.SourcePath)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
                                    @*<iframe class="full-video" src="https://www.youtube.com/embed/Jh0M2v83CN4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
                                </a>
                            </div>
                        </div>
                    }
                }
            }

            <!-- Main Slider -->
            @*<div id="main-slider">
                    <div class="video-container">
                        <video id="my-video" class="video-js vjs-controls-enabled vjs-workinghover vjs-v6 my-video-dimensions vjs-playing vjs-user-active" controls preload="auto" poster="http://boudl.com/boudl-apart/assets/img/corporate/poster.jpg" data-setup="{}" autoplay muted loop>

                            @foreach (var appointement in ViewBag.BannersList)
                            {
                                var ll = @ViewBag.ImageUrl +"/"+ @appointement.Text;
                               // var ll = @ViewBag.ImageUrl + "/" + "Sample.mp4";
                                <source src=@appointement.Text type="video/mp4">
                            }

                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                </div>*@

            
            <!-- Booking Form -->
            <div class="booking-form-container container">
                <div id="main-booking-form" class="style-2">
                    <h2>Find A <span>Hotel</span></h2>
                    <form class="booking-form clearfix" action="#">
                        <!-- Do Not remove the classes
                        <div class="input-daterange clearfix">
                            <div class="booking-fields col-xs-6 col-md-12">
                                <input placeholder="Check in" class="datepicker-fields check-in" type="text" name="start" required />
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="booking-fields col-xs-6 col-md-12">
                                <input placeholder="Check out" class="datepicker-fields check-out" type="text" name="end" required />
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>-->
                        <div class="booking-fields col-xs-12">
                            @if (ViewBag.cityList != null)
                            {
                                @Html.DropDownListFor(model => model.CityId, (IEnumerable<SelectListItem>)ViewBag.cityList, "Please Select City", new { id = "ddlCity", @class = "chosen-select" })
                            }

                            @*<select  class="chosen-select" name="city" id="ddlCity" required>
                                    <option value="">Select City</option>
                                    <optgroup label="Saudi Arabia">
                                        <option>Riyadh</option>
                                        <option>Dammam</option>
                                        <option>Khobar</option>
                                        <option>Jeddah</option>
                                        <option>Al Taif</option>
                                        <option>Qassim Region</option>
                                        <option>Hail Region</option>
                                        <option>Abha</option>
                                        <option>Hafr Albatin</option>
                                    </optgroup>
                                    <optgroup label="Kuwait">
                                        <option>Kuwait City</option>
                                    </optgroup>
                                </select>*@
                        </div>
                        <div class="booking-fields col-xs-12">
                            <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                            @Html.DropDownListFor(model => model.Id, new SelectList("", ""), "Please Select Branch", new { id = "ddlHotels", @class = "form-control" })
                            @*<select name="hotels" id="ddlHotels" data-placeholder="Select Destination" required>
                                    <option value=""></option>
                                </select>*@<!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                            <!-- End of Select boxes -->
                        </div>
                        <!-- <div class="booking-fields col-xs-6 col-md-12 clearfix">
                            <select name="room-type" required>
                                <option value="">Adults</option>
                                <option value="2">1</option>
                                <option value="3">2</option>
                                <option value="4">3</option>
                                <option value="5">4</option>
                                <option value="6">5</option>
                            </select>
                        </div>
                        <div class="booking-fields col-xs-6 col-md-12">
                            <select name="guest">
                                <option value="">Children</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div> -->
                        <div id="lbValidate"></div>

                        <div class="booking-button-container">
                            <a id="lnkBooking" onclick="validateDestination()" class="btn btn-default">Book Now</a>
                            <a href="javascript:;" class="best-rate"><img src="~/assets/img/corporate/best-rate.png" class="footer-img" /></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End of Top Slider and Booking form -->
        <!-- Rooms Container -->

        <section id="highlights">
            <div class="room-container container room-grid">
                <div class="heading-box">
                    <h2>This Week's <span>Top Offers</span></h2>
                    <div class="subtitle">Apart 'Hotel</div>
                </div>
                @if (ViewBag.WeeklyOffersList != null)
                {
                    foreach (var item in ViewBag.WeeklyOffersList)
                    {
                        <div class="room-box col-xs-6">
                            <div class="img-container">
                                <img src=@item.OfferOneImageEn />
                            </div>
                           
                            <div class="details">
                                <div class="price">
                                    <a href="~/Offers/@item.OfferOneNameEn.Replace(" ","")">More Details</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="room-box col-xs-6">
                            <div class="img-container">
                                @*<img src="~/assets/img/offers/offer-1.jpg" alt="offer 1" />*@
                                <img src=@item.OfferTwoImageEn />
                            </div>
                        
                            <div class="details">
                                <div class="price">
                                    <a href="~/Offers/@item.OfferTwoNameEn.Replace(" ","")">More Details</a>
                                </div>
                            </div>
                        </div>                        
                    }
                }
               
            </div>
        </section>
        <!-- End of Rooms Container -->
       
        <!-- Our Services -->

        <div id="our-services">
            <div class="heading-box">
                <h2><span>Highlights</span></h2>
            </div>
            <div id="services-box" class="owl-carousel owl-theme">
                @if (ViewBag.Highlights != null)
                {
                    foreach (HighlightsDTO item in ViewBag.Highlights)
                    {
                        <div class="item">
                            <img src="@item.ImageEn" alt="@item.CaptionEn" />
                            <div class="title">@item.CaptionEn</div>
                        </div>
                    }
                }
                else
                {
                    <p>No content available</p>
                }

                
            </div>
        </div>
        <!-- Luxury Rooms -->
        <div id="luxury-rooms" class="pos-rel">
            <!-- Heading box -->
            <div class="heading-box">
                <h2>About <span>Boudl</span></h2><!-- Title -->
                <div class="subtitle">Apart 'Hotel</div><!-- Subtitle -->
            </div>

            <!-- Room Box Container -->
            <div class="room-container container">
                <!-- Room box -->
                @if (ViewBag.HomeAboutList != null)
                {
                    foreach (var item in ViewBag.HomeAboutList)
                    {
                        <div class="room-boxes">
                            <img src=@item.ImageEn class="room-img" alt="About Boudl Hotels" />
                            <div class="room-details col-xs-6 col-md-4">
                                <div class="description">
                                    <!-- Room Description -->
                                    
                                    @Html.Raw(HttpUtility.HtmlDecode(item.DescriptionEn))
                                </div>
                                <a href="~/about" class="btn btn-default">Details</a><!-- Detail link -->
                            </div>
                        </div>
                    }
                }
                @*<div class="room-boxes">
                    <img src="~/assets/img/corporate/about-us-home.jpg" class="room-img" alt="About Boudl Hotels" />
                    <div class="room-details col-xs-6 col-md-4">
                        <div class="description">
                            <!-- Room Description -->
                            Boudl Hotel Apartments in Saudi Arabia and Kuwait are characterized by giving guests a sense of at home modern luxury while maintaining the deep rooted Saudi luxurious hospitality.
                        </div>
                        <a href="~/about" class="btn btn-default">Details</a><!-- Detail link -->
                    </div>
                </div>*@
            </div>
        </div>
        <!-- End of Luxury Rooms -->
        <!--
        <section id="highlights1">
            <div class="room-container container room-grid">
                <div class="heading-box">
                    <h2><span>Highlights</span></h2>
                    <div class="subtitle">Hotels &amp; Resort</div>
                </div>
                <div class="room-box col-xs-6 col-sm-4">
                    <div class="img-container">
                        <img src="~/assets/img/highlights/highlights3.jpg" alt="Azizia Branch" />
                    </div>
                    <div class="details">
                        <div class="title"><a href="#"><span>Braira</span> Family Package</a></div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                        </div>
                        <div class="price">
                            <a href="#">More Details</a>
                        </div>
                    </div>
                </div>

                <div class="room-box col-xs-6 col-sm-4">
                    <div class="img-container">
                        <img src="~/assets/img/highlights/highlights1.jpg" alt="olaya branch" />

                    </div>
                    <div class="details">
                        <div class="title"><a href="#">Braira <span>Olaya</span></a></div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                        </div>
                        <div class="price">
                            <a href="#">More Details</a>
                        </div>
                    </div>
                </div>

                <div class="room-box col-xs-6 col-sm-4">
                    <div class="img-container">
                        <img src="~/assets/img/highlights/highlights2.jpg" alt="Aziza View" />
                    </div>
                    <div class="details">
                        <div class="title"><a href="#"><span>Braira</span> Family Package</a></div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                        </div>
                        <div class="price">
                            <a href="#">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        -->
        <!-- End of Our Services -->
        <!-- Special Packages -->
        <div id="special-packages" class="container ">
            <!-- Heading box -->
            <div class="heading-box">
                <h2>Our <span>Brands</span></h2><!-- Title -->
            </div>

            <!-- Package Container -->
            <div class="package-container clearfix">
                <!-- Package Box -->
                <div class="wow fadeInUp col-mm-12">
                    <ul class="horizontal-images">
                        <li>
                            <a href="http://boudlgroup.com" target="_blank"><img src="~/assets/img/brands/boudl-group-1.png" alt="Boudl Group" class="img-horizontal"></a>
                        </li>
                        <li>
                            <a href="http://boudl.com">
                                <img src="~/assets/img/brands/boudl-hotel-logo.png" class="img-horizontal" alt="boudl-hotel" />
                            </a>
                        </li>
                        <li>
                            <a href="http://brairahotels.com" target="_blank"><img src="~/assets/img/brands/braira.png" alt="Braira Hotels" class="img-horizontal"></a>
                        </li>
                        <li>
                            <a href="http://www.narcissusriyadh.com/en/default.html" target="_blank"><img src="~/assets/img/brands/narcissus.png" alt="Narcissus Hotels" class="img-horizontal"></a>
                        </li>
                        <li>
                            <a href="http://aberhotels.com" target="_blank"><img src="~/assets/img/brands/aber-logo.png" alt="aber Hotels" class="img-horizontal aber-hotel-logo"></a>
                        </li>

                        <li>
                            <a href="javascript:;" target="_blank"><img src="~/assets/img/brands/bur-new-logo.png" alt="Bur Bakery" class="img-horizontal"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- End of Special Packages -->

        @section scripts{
            <script type="text/javascript">
                function validateDestination() {
                    var theValue = $("#ddlCity").val();
                    if (theValue == "") {
                        $("#lbValidate").html("Please select destination");
                        $("#lbValidate").attr('style', 'color: Red !important');
                    }
                    else {
                        $("#lbValidate").html("");
                    }
                }
                $("body").addClass("homepage trans-header sticky white-datepicker");
                $("p").removeClass("p1");
                $(document).ready(function () {
                    $('#ddlCity').change(function () {
                        var value = $(this).val();
                        $("#ddlHotels").empty();
                        $("#ddlHotels").append($('<option value="">Please Select Branch</option>', {
                            value: 0
                        }));
                        var model = @Html.Raw(ViewBag.BrnList);
                        for(var i = 0; i < model.length; i++) {
                            if (model[i].CityId == value) {
                                $('#ddlHotels').append($('<option>', {
                                    value: model[i].BookingUrl,
                                    text: model[i].NameEn
                                }))
                            }
                        }

                        $('#ddlHotels').trigger("chosen:updated");

                        @*$.ajax({
                    type: "POST",
                    ContentType: "Application/json;charset=utf-8",
                    url: '@Url.Action("getBranches","Home")',
                    data: { BranchId: value },
                    datatype: "json",
                    success: function (data) {
                        var items = "";
                        items = "<option value=''>Select Branch</option>";
                        $.each(data, function (i, item) {
                            items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                        });
                        $('#ddlHotels1').html(items);
                    },
                    error: function (err) {
                        alert(err);
                    }
                });*@
                    });
                    //$("#ddlHotels").chosen("destroy");
                    //$("#ddlCity").change(function () {
                    //    var strCity = $(this).val();
                    //    //alert(strCity);
                    //    $("#ddlHotels").empty();
                    //    $("#ddlHotels").append($('<option>', {
                    //        value: 0
                    //    }));
                    //    switch (strCity) {
                    //        case "Riyadh":
                    //            $('#ddlHotels').append($('<option>', {
                    //                value: 1,
                    //                text: 'Al Worod'
                    //            })).append($('<option>', {
                    //                value: 2,
                    //                text: 'Al Masif'
                    //            })).append($('<option>', {
                    //                value: 3,
                    //                text: 'Al Morouj'
                    //            })).append($('<option>', {
                    //                value: 4,
                    //                text: 'Al Matar'
                    //            })).append($('<option>', {
                    //                value: 5,
                    //                text: 'Al Malaz'
                    //            })).append($('<option>', {
                    //                value: 6,
                    //                text: 'Gaber'
                    //            })).append($('<option>', {
                    //                value: 7,
                    //                text: 'Al Fayhaa'
                    //            })).append($('<option>', {
                    //                value: 8,
                    //                text: 'Al Qasr'
                    //            })).append($('<option>', {
                    //                value: 9,
                    //                text: 'Majmaa'
                    //            })).append($('<option>', {
                    //                value: 10,
                    //                text: 'Khurais'
                    //            }));
                    //            break;
                    //        case "Dammam":
                    //            $('#ddlHotels').append($('<option>', {
                    //                value: 11,
                    //                text: 'Al Shahtea'
                    //            }));
                    //            break;
                    //        case "Khobar":
                    //            $('#ddlHotels').append($('<option>', {
                    //                value: 12,
                    //                text: 'Gardenia'
                    //            })).append($('<option>', {
                    //                value: 13,
                    //                text: 'Al Khobar'
                    //            }));
                    //            break;
                    //        case "Jeddah":
                    //            $('#ddlHotels').append($('<option>', {
                    //                value: 14,
                    //                text: 'Heera'
                    //            })).append($('<option>', {
                    //                value: 15,
                    //                text: 'Al Tahlia'
                    //            })).append($('<option>', {
                    //                value: 16,
                    //                text: 'Palestine'
                    //            })).append($('<option>', {
                    //                value: 30,
                    //                text: 'Quraish'
                    //            }));
                    //            break;
                    //        case "Al Taif":
                    //            $('#ddlHotels').append($('<option>', {
                    //                value: 17,
                    //                text: 'Al Taif'
                    //            }));
                    //            break;
                    //        case "Qassim Region":
                    //            $('#ddlHotels').append($('<option>', {
                    //                value: 18,
                    //                text: 'Buraidah'
                    //            })).append($('<option>', {
                    //                value: 19,
                    //                text: 'Al Nakhil'
                    //            })).append($('<option>', {
                    //                value: 20,
                    //                text: 'Al Fakhria'
                    //            })).append($('<option>', {
                    //                value: 21,
                    //                text: 'Al Rass'
                    //            }));
                    //            break;
                    //        case "Hail Region":
                    //            $('#ddlHotels').append($('<option>', {
                    //                value: 22,
                    //                text: 'Al Bondoqia'
                    //            }));
                    //            break;
                    //        case "Abha":
                    //            $('#ddlHotels').append($('<option>', {
                    //                value: 23,
                    //                text: 'Abha'
                    //            })).append($('<option>', {
                    //                value: 24,
                    //                text: 'Mahayel Aseer'
                    //            }));
                    //            break;
                    //        case "Hafr Albatin":
                    //            $('#ddlHotels').append($('<option>', {
                    //                value: 25,
                    //                text: 'Al Maidan'
                    //            })).append($('<option>', {
                    //                value: 26,
                    //                text: 'City Centre'
                    //            }));
                    //            break;
                    //        case "Kuwait City":
                    //            $('#ddlHotels').append($('<option>', {
                    //                value: 27,
                    //                text: 'Al Salemya'
                    //            })).append($('<option>', {
                    //                value: 28,
                    //                text: 'Al Fahahil'
                    //            }));
                    //            break;
                    //        default:
                    //            break;
                    //    }
                    //    $('#ddlHotels').trigger("chosen:updated");
                    //});

                    $("#ddlHotels").change(function () {
                        var iHotelType = $(this).val();
                        $("#lnkBooking").attr("href", iHotelType);
                        //switch (iHotelType) {
                        //    case "10":
                        //        $("#lnkBooking").attr("href", "http://khorais.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "2":
                        //        $("#lnkBooking").attr("href", "http://maseef.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "3":
                        //        $("#lnkBooking").attr("href", "http://morooj.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "5":
                        //        $("#lnkBooking").attr("href", "http://malaz.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "4":
                        //        $("#lnkBooking").attr("href", "http://matar.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "1":
                        //        $("#lnkBooking").attr("href", "http://worood.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "6":
                        //        $("#lnkBooking").attr("href", "http://jaber.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "7":
                        //        $("#lnkBooking").attr("href", "http://fayhaa.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "8":
                        //        $("#lnkBooking").attr("href", "http://qasr.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "9":
                        //        $("#lnkBooking").attr("href", "http://majmaa.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "11":
                        //        $("#lnkBooking").attr("href", "http://shatea.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "29":
                        //        $("#lnkBooking").attr("href", "http://cornich.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "12":
                        //        $("#lnkBooking").attr("href", "http://gardenia.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "13":
                        //        $("#lnkBooking").attr("href", "http://khobar.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "14":
                        //        $("#lnkBooking").attr("href", "http://hera.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "15":
                        //        $("#lnkBooking").attr("href", "http://tahliya.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "16":
                        //        $("#lnkBooking").attr("href", "http://palestine.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "17":
                        //        $("#lnkBooking").attr("href", "http://taif.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "18":
                        //        $("#lnkBooking").attr("href", "http://buraida.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "19":
                        //        $("#lnkBooking").attr("href", "http://nakheel.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "20":
                        //        $("#lnkBooking").attr("href", "http://fakhriya.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "21":
                        //        $("#lnkBooking").attr("href", "http://rass.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "22":
                        //        $("#lnkBooking").attr("href", "http://bondoqia.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "23":
                        //        $("#lnkBooking").attr("href", "http://abha.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "24":
                        //        $("#lnkBooking").attr("href", "http://asir.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "25":
                        //        $("#lnkBooking").attr("href", "http://maydan.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "26":
                        //        $("#lnkBooking").attr("href", "http://citycenter.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "27":
                        //        $("#lnkBooking").attr("href", "http://salmiya.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "28":
                        //        $("#lnkBooking").attr("href", "http://fehehel.boudl.com/V8Client/Inquiry.aspx");
                        //        break;
                        //    case "30":
                        //        $("#lnkBooking").attr("href", "");
                        //        break;
                        //    default:
                        //        $("#lnkBooking").attr("href", "");
                        //        break;
                        //}
                    });
                });
            </script>
@*<script src="https://vjs.zencdn.net/6.4.0/video.js"></script>*@
<script src="https://www.youtube.com/player_api"></script>
@*<script type="text/javascript">
    player = new YT.Player('divId', {
        videoId : videoSrc,
        playerVars: { 
            'autoplay': 0,
            'controls': 0, 
            'rel' : 0,
            'fs' : 0,
        }
    });
</script>*@
<script>
    $(document).ready(function(){
        var vid = (@ViewBag.MediaType);
        if(vid == "2"){
            document.getElementById("my-video").controls = false;
        }
    });
</script>
        }
