﻿@model BoudlHotel.ManageBranchesDTO

@{
    ViewBag.Title = "Boudl Hotels Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
    var brn = @Html.Raw(ViewBag.BrnList);

}
@section styles{
    <style type="text/css">
        .video-container {
                    position: relative;
                    height: 100vh;
                    width: 100%;
                }

                video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                }
                iframe.full-video {
                    position: absolute !important;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    right: 0;
                    top:0;
                    bottom: 0;                   
                }
                .video-js {
                    width: 100% !important
                }

                    .video-js .vjs-tech {
                        height: auto !important
                    }

                @@media (min-width: 468px) and (max-width: 767px) {
                    .video-container {
                        height: 55vh;
                    }
                }

                @@media (max-width: 467px) {
                    .video-container {
                        height: 33vh;
                    }
                }
    </style>
    @*<link href="http://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">*@

    <link href="http://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">

}
<!-- Top Slider and Booking form -->

<div id="home-top-section">
    <!-- Main Slider -->
    @*<div id="main-slider">
            <div class="video-container">
                <video id="my-video" class="video-js" controls preload="auto" poster="http://csadms.com/boudl-apart/assets/img/corporate/poster.jpg" data-setup="{}" autoplay muted loop>
                    <source src="~/assets/videos/video-low.mp4" type="video/mp4">
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
        </div>*@
    @if (ViewBag.MediaType != null)
            {
                if (ViewBag.MediaType == "2")
                {
                    if (ViewBag.BrnList != null)
                    {
                        foreach (var item in ViewBag.BannersList)
                        {
                    <div id="main-slider">
                        <div class="video-container">
                            <video id="my-video" class="video-js" controls preload="auto" poster="http://csadms.com/boudl-apart/assets/img/corporate/poster.jpg" data-setup="{}" autoplay muted loop>
                                <source src="@(ViewBag.ImageUrl+item.SourcePath)" type="video/mp4">
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                            </video>

                            @*<video id="my-video" class="video-js"  controls preload="auto" poster="http://csadms.com/boudl-apart/assets/img/corporate/poster.jpg" data-setup="{}" autoplay muted loop>
                                <source src=@(ViewBag.ImageUrl+item.SourcePath) type="video/mp4">
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                            </video>*@
                        </div>
                    </div>
                }
            }
        }
        else if (ViewBag.MediaType == "1")
        {
            if (ViewBag.BrnList != null)
            {
                <div id="room-details-slider">
                    @foreach (var item in ViewBag.BannersList)
                    {
                        <div class="items">
                            <img src="@ViewBag.ImageUrl@item.SourcePath" />
                        </div>
                    }
                </div>

            }
        }
        else if (ViewBag.MediaType == "3")
        {
            foreach (var item in ViewBag.BannersList)
            {
                <div id="main-slider">
                    <div class="video-container">
                        <iframe class="full-video" src="@("https://www.youtube.com/embed/"+@item.SourcePath+"?rel=0&amp;autoplay=1&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;playlist="+@item.SourcePath)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        @*<iframe class="full-video" src="https://www.youtube.com/embed/Jh0M2v83CN4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
                    </div>
                </div>

                        @*<div id="ci-video-background" data-video-type="youtube" data-video-id="@item.SourcePath">
                                <div id="youtube-vid"></div>
                            </div>*@
            }
        }
    }
    <!-- Booking Form -->
    <div class="booking-form-container container">
        <div id="main-booking-form" class="style-2">
            <h2>احجز  <span>غرفة</span></h2>
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes
                <div class="input-daterange clearfix">
                    <div class="booking-fields col-xs-6 col-md-12">
                        <input placeholder="الوصول" class="datepicker-fields check-in" type="text" name="start" />
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="booking-fields col-xs-6 col-md-12">
                        <input placeholder="المغادرة" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>-->
                <div class="booking-fields col-xs-12">
                    @if (ViewBag.cityList != null)
                    {
                        @Html.DropDownListFor(model => model.CityId, (IEnumerable<SelectListItem>)ViewBag.cityList, "اختر مدينة", new { id = "ddlCity", @class = "chosen-select" })
                    }
                    @*<select data-placeholder="اختر مدينة" class="chosen-select" name="city" id="ddlCity">
                            <option value=""></option>
                            <optgroup label="Saudi Arabia">
                                <option>الرياض</option>
                                <option>الدمام</option>
                                <option>الخُبر</option>
                                <option>جدة</option>
                                <option>الطائف</option>
                                <option>القصيم</option>
                                <option>حائل</option>
                                <option>أبها</option>
                                <option>حفر الباطن</option>
                            </optgroup>
                            <optgroup label="الكويت">
                                <option>الكويت</option>
                            </optgroup>
                        </select>*@
                </div>
                <div class="booking-fields col-xs-12">
                    @Html.DropDownListFor(model => model.Id, new SelectList("", ""), "إختر وجهتك", new { id = "ddlHotels", @class = "form-control" })
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    @*<select name="hotels" id="ddlHotels" data-placeholder="إختر وجهتك">
                            <option value=""></option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        </select>*@
                    <!-- End of Select boxes -->
                </div>
                <!--
                <div class="booking-fields col-xs-6 col-md-12 clearfix">
                    <select name="room-type">
                        <option value="">البالغون</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-fields col-xs-6 col-md-12">
                    <select name="guest">
                        <option value="">الأطفال</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div> -->
                <div id="lbValidate"></div>

                <div class="booking-button-container">
                    <a href="javascript:;" target="_blank" id="lnkBooking" class="btn btn-default" onclick="validateDestination()">إحجز الآن</a>
                    <a href="javascript:;" class="best-rate"><img src="~/areas/ar/assets/img/corporate/best-rate.png" class="footer-img" /></a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End of Top Slider and Booking form -->
<!-- Rooms Container -->

<section id="highlights">
    <div class="room-container container room-grid">
        <div class="heading-box">
            <h2><span>أحدث عروض هذا الأسبوع</span></h2>
            <div class="subtitle">شقق فندقية</div>
        </div>

        @if (ViewBag.WeeklyOffersList != null)
        {
            foreach (var item in ViewBag.WeeklyOffersList)
            {
                <div class="room-box col-xs-6">
                    <div class="img-container">
                        @*<img src="~/assets/img/offers/offer-1.jpg" alt="offer 1" />*@
                        <img src=@item.OfferOneImageAr />
                    </div>
                    <div class="details">
                        <div class="price">
                            <a href="javascript:;">المزيد</a>
                        </div>
                    </div>

                </div>
                <div class="room-box col-xs-6">
                    <div class="img-container">
                        @*<img src="~/assets/img/offers/offer-1.jpg" alt="offer 1" />*@
                        <img src=@item.OfferTwoImageAr />
                    </div>
                    <div class="details">
                        <div class="price">
                            <a href="javascript:;">المزيد</a>
                        </div>
                    </div>
                </div>

            }
        }
        @*<div class="room-box col-xs-6">
                <div class="img-container">
                    <img src="~/Areas/ar/assets/img/offers/offer-1.jpg" alt="Offer 1" />
                </div>
                <div class="details">
                    <div class="price">
                        <a href="javascript:;">المزيد</a>
                    </div>
                </div>
            </div>
            <div class="room-box col-xs-6">
                <div class="img-container">
                    <img src="~/Areas/ar/assets/img/offers/offer3.jpg" alt="Offer 2" />
                </div>
                <div class="details">
                    <div class="price">
                        <a href="javascript:;">المزيد</a>
                    </div>
                </div>
            </div>*@
    </div>
</section>
<!-- End of Rooms Container -->
<!-- Special Packages -->
<div class="brands-bg">
    <div id="special-packages" class="container">
        <!-- Heading box -->
        <div class="heading-box">
            <h2><span>عروض خاصة</span></h2><!-- Title -->
            <div class="subtitle">إختر واحدة من عروضنا الخاصة</div><!-- Subtitle -->
        </div>

        <!-- Package Container -->
        <div class="package-container clearfix">
            <!-- Package Box -->
            @if (ViewBag.SpecialPackages != null)
            {
                foreach (SpecialPackage item in ViewBag.SpecialPackages)
                {
                    <div class="package-box wow fadeInUp col-sm-6">
                        <div class="package-inner">
                            <div class="title">@item.NameAr</div>
                            <img src="@item.ImageEn" class="img-responsive" alt="@item.NameAr" />
                            <!-- <div class="price"><span>SAR 340</span>per night</div> -->
                            <div class="package-details">
                                <ul>
                                    @foreach (String element in item.AmenitiesAr.Split(','))
                                    {
                                        <li>@element</li>
                                    }
                                </ul>

                            </div>
                            <a href="#" class="btn btn-default">Select Package</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No Content Available</p>
            }
            @*<div class="package-box wow fadeInUp col-sm-6">
                <div class="package-inner">
                    <div class="title">عرسان</div>
                    <img src="~/areas/ar/assets/img/corporate/honeymoon-package.jpg" class="img-responsive" alt="family pacakge" />
                    <!-- <div class="price"><span>SAR 340</span>per night</div> -->
                    <div class="package-details">
                        <ul>
                            <li>تزيين الغرفة</li>
                            <li>كعكة العروسان</li>
                            <li>حفلة موسيقية</li>
                            <li>شمـــوع</li>
                            <li>بوكيه ورد</li>
                            <li>سلة فواكه</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-default">إختر عرضاََ</a>
                </div>
            </div>
            <!-- Package Box -->
            <div class="package-box wow fadeInUp col-sm-6" data-wow-delay="0.5s">
                <div class="package-inner">
                    <div class="title">عائلية</div>
                    <img src="~/areas/ar/assets/img/corporate/family-package.jpg" class="img-responsive" alt="honeymoon pacakage" />
                    <!-- <div class="price"><span>SAR 340</span>per night</div> -->
                    <div class="package-details">
                        <ul>
                            <li>مطعم</li>
                            <li>حفلة موسيقية</li>
                            <li>نشاطات رياضية </li>
                            <li>مسابح</li>
                            <li>ملهى للأطفال</li>
                            <li>غرف واسعة</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-default">إختر عرضاََ</a>
                </div>
            </div>*@
        </div>
    </div>
</div>

<!-- End of Special Packages -->
<!-- Our Services -->

<div id="our-services">
    <div class="heading-box">
        <h2><span>أبرز ما لدينا</span></h2>
    </div>
    <div id="services-box" class="owl-carousel owl-theme owl-rtl">
        @if (ViewBag.Highlights != null)
        {
            foreach (HighlightsDTO item in ViewBag.Highlights)
            {
                <div class="item">
                    <img src="@item.ImageEn" alt="@item.CaptionAr" />
                    <div class="title">@item.CaptionAr</div>
                </div>
            }
        }
        else
        {
            <p>No content available</p>
        }
        @*<div class="item">
            <img src="~/areas/ar/assets/img/services/lobby.jpg" alt="beautifil lobby" />
            <div class="title">صالات إنتظار فخمة</div>
        </div>
        <div class="item">
            <img src="~/areas/ar/assets/img/services/deluxe-bed.jpg" alt="delxue bed" />
            <div class="title">غرف فاخرة</div>
        </div>
        <div class="item">
            <img src="~/areas/ar/assets/img/services/friendly-staff.jpg" alt="Friendly staff" />
            <div class="title">مكاتب إستقبال على مدار الساعة</div>
        </div>
        <div class="item">
            <img src="~/areas/ar/assets/img/services/gym.jpg" alt="Gym" />
            <div class="title">مراكز اللياقة البدنية</div>
        </div>
        <div class="item">
            <img src="~/areas/ar/assets/img/services/swimming-pool.jpg" alt="Swimming Pool" />
            <div class="title">حمامات سباحة</div>
        </div>*@
    </div>
</div>
<!-- Luxury Rooms -->
<div id="luxury-rooms" class="pos-rel">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>نبذة عن <span>بودل</span></h2>
        <div class="subtitle">شقق فندقية</div><!-- Subtitle -->
    </div>
    <!-- Room Box Container -->
    <div class="room-container container">
        <!-- Room box -->
        @if (ViewBag.HomeAboutList != null)
        {
            foreach (var item in ViewBag.HomeAboutList)
            {
                <div class="room-boxes">
                    <img src=@item.ImageAr class="room-img" alt="About Boudl Hotels" />
                    <div class="room-details col-xs-6 col-md-4">
                        <div class="description">
                            <!-- Room Description -->
                            @Html.Raw(HttpUtility.HtmlDecode(item.DescriptionAr))
                        </div>
                        <a href="~/ar/about" class="btn btn-default">المزيد</a><!-- Detail link -->
                    </div>
                </div>
            }
        }
        @*<div class="room-boxes">
                <img src="~/areas/ar/assets/img/corporate/about-us-home.jpg" class="room-img" alt="About Boudl Hotels" />
                <div class="room-details col-xs-6 col-md-4">
                    <div class="description">
                        <!-- Room Description -->
                        تعد «بودل » للشقق الفندقية من الفنادق المميزة في السعودية
                        والكويت بطابع الأجنحة الفندقية المتكاملة التي تعطي الضيوف
                        الإحساس برفاهية المنزل العصري الحديث مع الحفاظ على الطابع
                        السعودي المحافظ.
                    </div>
                    <a href="~/ar/about" class="btn btn-default">المزيد</a><!-- Detail link -->
                </div>
            </div>*@
    </div>
</div>
<!-- End of Luxury Rooms -->
<!--
<section id="highlights1">
    <div class="room-container container room-grid">
        <div class="heading-box">
            <h2><span>Highlights</span></h2>
            <div class="subtitle">Hotels &amp; Resort</div>
        </div>
        <div class="room-box col-xs-6 col-sm-4">
            <div class="img-container">
                <img src="~/areas/ar/assets/img/highlights/highlights3.jpg" alt="Azizia Branch" />
            </div>
            <div class="details">
                <div class="title"><a href="#"><span>Braira</span> Family Package</a></div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                </div>
                <div class="price">
                    <a href="#">More Details</a>
                </div>
            </div>
        </div>

        <div class="room-box col-xs-6 col-sm-4">
            <div class="img-container">
                <img src="~/areas/ar/assets/img/highlights/highlights1.jpg" alt="olaya branch" />

            </div>
            <div class="details">
                <div class="title"><a href="#">Braira <span>Olaya</span></a></div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                </div>
                <div class="price">
                    <a href="#">More Details</a>
                </div>
            </div>
        </div>

        <div class="room-box col-xs-6 col-sm-4">
            <div class="img-container">
                <img src="~/areas/ar/assets/img/highlights/highlights2.jpg" alt="Aziza View" />
            </div>
            <div class="details">
                <div class="title"><a href="#"><span>Braira</span> Family Package</a></div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                </div>
                <div class="price">
                    <a href="#">More Details</a>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!-- End of Our Services -->
<!-- Special Packages -->
<div id="special-packages" class="container ">
    <!-- Heading box -->
    <div class="heading-box">
        <h2><span>علاماتنا التجارية</span></h2><!-- Title -->
    </div>
    <!-- Package Container -->
    <div class="package-container clearfix">
        <!-- Package Box -->
        <div class="wow fadeInUp col-mm-12">
            <ul class="horizontal-images">
                <li>
                    <a href="http://boudlgroup.com/ar/" target="_blank"><img src="~/areas/ar/assets/img/brands/boudl-group-1.png" alt="Boudl Group" class="img-horizontal"></a>
                </li>
                <li>
                    <a href="http://boudl.com/ar/">
                        <img src="~/assets/img/brands/boudl-hotel-logo.png" class="img-horizontal" alt="boudl-hotel" />
                    </a>
                </li>
                <li>
                    <a href="http://brairahotels.com" target="_blank"><img src="~/areas/ar/assets/img/brands/braira.png" alt="Braira Hotels" class="img-horizontal"></a>
                </li>
                <li>
                    <a href="http://www.narcissusriyadh.com/ar/default.html" target="_blank"><img src="~/areas/ar/assets/img/brands/narcissus.png" alt="Narcissus Hotels" class="img-horizontal"></a>
                </li>
                <li>
                    <a href="http://aberhotels.com" target="_blank"><img src="~/areas/ar/assets/img/brands/aber-logo.png" alt="aber Hotels" class="img-horizontal aber-hotel-logo"></a>
                </li>

                <li>
                    <a href="javascript:;" target="_blank"><img src="~/areas/ar/assets/img/brands/bur-new-logo.png" alt="Bur Bakery" class="img-horizontal"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End of Special Packages -->
@section scripts{
    <script type="text/javascript">
        function validateDestination() {
            var theValue = $("#ddlCity").val();
            if (theValue == "") {
                $("#lbValidate").html("الرجاء تحديد الوجهة");
                $("#lbValidate").attr('style', 'color: Red !important');
            }
            else {
                $("#lbValidate").html("");
            }
        }
        $("body").addClass("homepage trans-header sticky white-datepicker");
        $(document).ready(function () {
            //$("#ddlHotels").chosen("destroy");
            $('#ddlCity').change(function () {
                var value = $(this).val();
                $("#ddlHotels").empty();
                $("#ddlHotels").append($('<option>', {
                    value: 0
                }));
                var model = @Html.Raw(ViewBag.BrnList);
                for(var i = 0; i < model.length; i++) {
                    if (model[i].CityId == value) {
                        $('#ddlHotels').append($('<option>', {
                            value: model[i].BookingUrl,
                            text: model[i].NameAr
                        }))
                    }
                }
                $('#ddlHotels').trigger("chosen:updated");
             });


            //$("#ddlCity").change(function () {
            //    var strCity = $(this).val();
            //    $("#ddlHotels").empty();
            //    $("#ddlHotels").append($('<option>', {
            //        value: 0
            //    }));
            //    switch (strCity) {
            //        case "الرياض":
            //            $('#ddlHotels').append($('<option>', {
            //                value: 1,
            //                text: 'الورود'
            //            })).append($('<option>', {
            //                value: 2,
            //                text: 'المصيف'
            //            })).append($('<option>', {
            //                value: 3,
            //                text: 'المروج'
            //            })).append($('<option>', {
            //                value: 4,
            //                text: 'المطار'
            //            })).append($('<option>', {
            //                value: 5,
            //                text: 'الملز'
            //            })).append($('<option>', {
            //                value: 6,
            //                text: 'جابر'
            //            })).append($('<option>', {
            //                value: 7,
            //                text: 'الفيحاء'
            //            })).append($('<option>', {
            //                value: 8,
            //                text: 'القصر'
            //            })).append($('<option>', {
            //                value: 9,
            //                text: 'المجمعة'
            //            })).append($('<option>', {
            //                value: 10,
            //                text: 'خريص'
            //            }));
            //            break;
            //        case "الدمام":
            //            $('#ddlHotels').append($('<option>', {
            //                value: 11,
            //                text: 'الشاطئ'
            //            }));
            //            break;
            //        case "الخُبر":
            //            $('#ddlHotels').append($('<option>', {
            //                value: 12,
            //                text: 'جاردينيا'
            //            })).append($('<option>', {
            //                value: 13,
            //                text: 'الخبر'
            //            }));
            //            break;
            //        case "جدة":
            //            $('#ddlHotels').append($('<option>', {
            //                value: 14,
            //                text: 'حراء'
            //            })).append($('<option>', {
            //                value: 15,
            //                text: 'التحلية'
            //            })).append($('<option>', {
            //                value: 16,
            //                text: 'فلسطين'
            //            })).append($('<option>', {
            //                value: 30,
            //                text: 'قريش'
            //            }));
            //            break;
            //        case "الطائف":
            //            $('#ddlHotels').append($('<option>', {
            //                value: 17,
            //                text: 'الطائف'
            //            }));
            //            break;
            //        case "القصيم":
            //            $('#ddlHotels').append($('<option>', {
            //                value: 18,
            //                text: 'بريدة'
            //            })).append($('<option>', {
            //                value: 19,
            //                text: 'النخيل'
            //            })).append($('<option>', {
            //                value: 20,
            //                text: 'الفاخرية'
            //            })).append($('<option>', {
            //                value: 21,
            //                text: 'الرس'
            //            }));
            //            break;
            //        case "حائل":
            //            $('#ddlHotels').append($('<option>', {
            //                value: 22,
            //                text: 'البندقية'
            //            }));
            //            break;
            //        case "أبها":
            //            $('#ddlHotels').append($('<option>', {
            //                value: 23,
            //                text: 'أبها'
            //            })).append($('<option>', {
            //                value: 24,
            //                text: 'محايل عسير'
            //            }));
            //            break;
            //        case "حفر الباطن":
            //            $('#ddlHotels').append($('<option>', {
            //                value: 25,
            //                text: 'الميدان'
            //            })).append($('<option>', {
            //                value: 26,
            //                text: 'سيتى سنتر'
            //            }));
            //            break;
            //        case "الكويت":
            //            $('#ddlHotels').append($('<option>', {
            //                value: 27,
            //                text: 'السالمية'
            //            })).append($('<option>', {
            //                value: 28,
            //                text: 'بودل فحيحيل'
            //            }));
            //            break;
            //        default:
            //            break;
            //    }
            //    $('#ddlHotels').trigger("chosen:updated");
            //});

            $("#ddlHotels").change(function () {
                var iHotelType = $(this).val();
                $("#lnkBooking").attr("href", iHotelType);
                //switch (iHotelType) {
                //    case "10":
                //        $("#lnkBooking").attr("href", "http://khorais.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "2":
                //        $("#lnkBooking").attr("href", "http://maseef.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "3":
                //        $("#lnkBooking").attr("href", "http://morooj.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "5":
                //        $("#lnkBooking").attr("href", "http://malaz.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "4":
                //        $("#lnkBooking").attr("href", "http://matar.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "1":
                //        $("#lnkBooking").attr("href", "http://worood.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "6":
                //        $("#lnkBooking").attr("href", "http://jaber.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "7":
                //        $("#lnkBooking").attr("href", "http://fayhaa.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "8":
                //        $("#lnkBooking").attr("href", "http://qasr.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "9":
                //        $("#lnkBooking").attr("href", "http://majmaa.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "11":
                //        $("#lnkBooking").attr("href", "http://shatea.boudl.com/V8Client/Inquiry.aspx");
                //        break;

                //    case "12":
                //        $("#lnkBooking").attr("href", "http://gardenia.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "13":
                //        $("#lnkBooking").attr("href", "http://khobar.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "14":
                //        $("#lnkBooking").attr("href", "http://hera.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "15":
                //        $("#lnkBooking").attr("href", "http://tahliya.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "16":
                //        $("#lnkBooking").attr("href", "http://palestine.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "17":
                //        $("#lnkBooking").attr("href", "http://taif.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "18":
                //        $("#lnkBooking").attr("href", "http://buraida.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "19":
                //        $("#lnkBooking").attr("href", "http://nakheel.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "20":
                //        $("#lnkBooking").attr("href", "http://fakhriya.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "21":
                //        $("#lnkBooking").attr("href", "http://rass.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "22":
                //        $("#lnkBooking").attr("href", "http://bondoqia.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "23":
                //        $("#lnkBooking").attr("href", "http://abha.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "24":
                //        $("#lnkBooking").attr("href", "http://asir.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "25":
                //        $("#lnkBooking").attr("href", "http://maydan.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "26":
                //        $("#lnkBooking").attr("href", "http://citycenter.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "27":
                //        $("#lnkBooking").attr("href", "http://salmiya.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "28":
                //        $("#lnkBooking").attr("href", "http://fehehel.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "30":
                //        $("#lnkBooking").attr("href", "");
                //        break;
                //    default:
                //        $("#lnkBooking").attr("href", "");
                //        break;
                //}
            });
        });
    </script>
    <script src="http://vjs.zencdn.net/6.4.0/video.js"></script>
}