﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>@ViewBag.Title  Boudl Apart 'Hotel Saudi Arabia </title>
    <meta name="author" content="Creative Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <!-- <link href="https://fonts.googleapis.com/css?family=Balthazar|Ubuntu:500,700" rel="stylesheet">    -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/styles.css">
    <link rel="shortcut icon" href="~/assets/img/corporate/fav.png" />
    @RenderSection("styles", required: false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5adc7474227d3d7edc24817b/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    
</head>
<body>
    <!-- Top Header -->
    <div id="top-header">
        <div class="inner-container container">          
            <select id="language-switcher">
                <option value="1">SAR</option>
                <option value="2">Kuwait Dinar</option>
                <option value="3">USD</option>
            </select>
            <!-- End of Language Switcher -->
            <ul class="list-inline social-icons text-right">
                <li><a href="https://www.facebook.com/boudl.hotels.resorts/" target="_blank"><i class="fa fa-facebook color-white"></i></a></li>
                <li><a href="https://twitter.com/BoudlHotels" target="_blank"><i class="fa fa-twitter color-white"></i></a></li>
                <li><a href="https://www.instagram.com/braira_hotels/" target="_blank"><i class="fa fa-instagram color-white"></i></a></li>
                <li><a href="javascript:;" class="font-14"><i class="fa fa-sign-in"></i> Join Now</a></li>
            </ul>
        </div>
    </div>
    <!-- End of Top Header -->
    <!-- Main Header -->
    <header id="main-header">
        <div class="inner-container container">
            <div class="left-sec col-sm-4 col-md-2 clearfix">
                <!-- Top Logo -->
                <div id="top-logo">
                    <div class="title">
                        <a href="~/">
                            <img src="~/assets/img/corporate/boudl .png" alt="Boudl Logo" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-sec col-sm-8 col-md-10 clearfix">
                <!-- Main Menu -->
                <nav id="main-menu">
                    <ul class="list-inline">
                        <li> <a href="~/"><i class="fa fa-home color-pink"></i> Home</a></li>
                        <li><a href="~/latestoffers">Offers</a></li>
                        <li>
                            <a href="javascript:;">Gallery</a>
                            <ul>
                                <li><a href="~/riyadhgallery">Riyadh</a></li>
                                <li><a href="~/dammamgallery">Dammam</a></li>
                                <li><a href="~/khobargallery">Al Khobar</a></li>
                                <li><a href="~/jeddahgallery">Jeddah</a></li>
                                <li><a href="~/taifgallery">Al Taif City</a></li>
                                <li><a href="~/qassimgallery">Qassim Region</a></li>
                                <li><a href="~/hailgallery">Hail Region</a></li>
                                <li><a href="~/abhagallery">Abha</a></li>                                
                                <li><a href="~/hafaralbatin">Hafr Albatin</a></li>
                                <li><a href="~/kuwaitgallery">Kuwait</a></li>
                            </ul>
                        </li>
                        <li><a href="~/news">News</a></li>
                        <li>
                            <a href="javascript:;">Branches</a>
                            <ul>
                                <li>
                                    <a href="javascript:;">Saudi Arabia</a>
                                    <ul>
                                        <li>
                                            <a href="javascript:;">Riyadh</a>
                                            <ul>
                                                <li><a href="~/alworod">Al Worod</a></li>
                                                <li><a href="~/almasif">Al Masif</a></li>
                                                <li><a href="~/almorouj">Al Morouj</a></li>
                                                <li><a href="~/almatar">Al Matar</a></li>
                                                <li><a href="~/almalaz">Al Malaz</a></li>
                                                <li><a href="~/gaber">Gaber</a></li>
                                                <li><a href="~/alfayhaa">Al Fayha'a</a></li>
                                                <li><a href="~/alqasr">Al Qasr</a></li>
                                                <li><a href="~/majmaa">Majmaa</a></li>
                                                <li><a href="~/khurais">Khurais</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Dammam</a>
                                            <ul>
                                                <li><a href="~/alshatea">Al Shatea</a></li>
                                                <li><a href="~/alcorniche">Al Corniche</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Khobar</a>
                                            <ul>
                                                <li><a href="~/gardenia">Gardenia</a></li>
                                                <li><a href="~/alkhobar">Al Khobar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Jeddah</a>
                                            <ul>
                                                <li><a href="~/heraa">Heraa</a></li>
                                                <li><a href="~/altahlia">Al Tahlia</a></li>
                                                <li><a href="~/palestine">Palestine</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/altaif">Al Taif</a></li>
                                        <li>
                                            <a href="javascript:;">Qassim Region</a>
                                            <ul>
                                                <li><a href="~/buraidah">Buraidah</a></li>
                                                <li><a href="~/elnakhil">El Nakhil</a></li>
                                                <li><a href="~/alfakhria">Al Fakhria</a></li>
                                                <li><a href="~/alrass">Al Rass</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Hail Region</a>
                                            <ul>
                                                <li><a href="~/albondoqia">Al Bondoqia</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Abha</a>
                                            <ul>
                                                <li><a href="~/abha">Abha</a></li>
                                                <li><a href="~/mahayelaseer">Mahayel Aseer</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Hafr Albatin</a>
                                            <ul>
                                                <li><a href="~/almaidan">Al Maidan</a></li>
                                                <li><a href="~/citycentre">City Centre</a></li>
                                            </ul>
                                        </li>                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Kuwait</a>
                                    <ul>
                                        <li><a href="~/alsalemya">Al Salemya</a></li>
                                        <li><a href="~/alfahahil">Al Fahahil</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="~/careers">Careers</a></li>
                        <li><a href="~/about">About Us</a></li>
                        <li><a href="~/contact">Contact Us</a></li>
                        <li><a href="~/ar">العربية</a></li>
                    </ul>
                </nav>
                <!-- Menu Handel -->
                <div id="main-menu-handle" class="hidden-md hidden-lg"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div id="mobile-menu-container" class="hidden-md hidden-lg"></div>
    </header>
    <!-- End of Main Header -->
    @RenderBody()
    <!-- Top Footer -->
    <div id="top-footer">
        <div id="go-up-box"><i class="fa fa-chevron-up"></i></div>
        <div class="inner-container container">
            <div class="widget col-sm-6 col-md-3">
                <h4>About Boudl Group</h4>
                <div class="widget-content">
                    Boudl company was established in 1959 under the name of Saleh Naser to Khelaiwi and Sons Co. In few years, the company opened a number of hotels
                    throughout the KSA &amp; Kuwait. through its journey of success, the company created the Boudl brand which became the first brand in the hospitality
                    field in KSA.
                </div>
                
            </div>
            <div class="widget col-sm-6 col-md-3">
                <h4>Newsletter</h4>
                <div class="widget-content">
                    <div class="desc">
                        Get the latest exclusive offers direct in your inbox
                    </div>
                    <form class="news-letter-form">
                        <input type="text" class="email" placeholder="Email">
                        <input type="submit" class="btn btn-default" value="Sign up Now">
                    </form>
                </div>
            </div>
            <div class="widget col-sm-6 col-md-3 get-in-touch">
                <h4>Get in Touch</h4>
                <div class="widget-content">
                    <ul>
                        <li><i class="fa fa-map-marker "></i> King Abdul Aziz Road, Al sahafah, Riyadh 11372</li>
                        <li><i class="fa fa-phone"></i> 92 00 00 666</li>
                        <li><i class="fa fa-envelope-o"></i> web@boudl.com</li>
                    </ul>
                    <ul class="list-inline social-icons">
                        <li><a href="https://www.facebook.com/boudl.hotels.resorts/" target="_blank"><i class="fa fa-facebook "></i></a></li>
                        <li><a href="https://twitter.com/BoudlHotels" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/explore/tags/boudl/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC2Ci8v8M-DGAIZyT7gtoPsQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>            
            <div class="col-sm-6 col-md-3">
                <img src="~/assets/img/corporate/app-img.png" class="img-responsive mobile-img" />
                <p class="text-center">
                    <strong>Download Boudl Application</strong>
                </p>
                <hr />
                <ul class="list-unstyled footer-link-img">
                    <li>
                        <a href="javascript:;"><img src="~/assets/img/corporate/appstore.png" class="footer-img" /></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="~/assets/img/corporate/google-play.png" class="footer-img" /></a>
                    </li>
                </ul>
            </div>            
        </div>            
    </div>
    <!-- End of Top Footer -->
    <!-- Footer -->
    <footer id="footer">        
        <div class="copy-right">
            &copy; 2017 Boudl All Rights Reserved. Website by <a href="http://www.creative-sols.com" target="_blank">Creative Solutions</a>
        </div>
    </footer>
    <div class="nation-bg"></div>
    <!-- End of Footer -->
    <!-- Include the js files  -->
    <script type="text/javascript" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assets/js/helper.js"></script>
    <script type="text/javascript" src="~/assets/js/template.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
