﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>@ViewBag.Title  Boudl Apart' Hotel Saudi Arabia </title>
    <meta name="author" content="Creative Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <!-- <link href="https://fonts.googleapis.com/css?family=Balthazar|Ubuntu:500,700" rel="stylesheet">    -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/styles.css">
    <link href="https://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="shortcut icon" href="~/assets/img/corporate/fav.png" />
    @RenderSection("styles", required: false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5adc7474227d3d7edc24817b/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>

    <!--End of Tawk.to Script-->
    <link href="~/fonts/css/animation.css" rel="stylesheet" />
    <link href="~/fonts/css/fontello.css" rel="stylesheet" />
    <link href="~/assets/MegaMenu/src/navik.menu.css" rel="stylesheet" />
</head>
<body>

    <!-- Top Header -->
    <div id="top-header">
        <div class="inner-container container">

            <ul class="list-inline social-icons text-right">

                <li><a href="https://www.facebook.com/boudl.hotels.resorts/" target="_blank"><i class="fa fa-facebook color-white"></i></a></li>
                <li><a href="https://twitter.com/BoudlHotels" target="_blank"><i class="fa fa-twitter color-white"></i></a></li>
                <li><a href="https://www.instagram.com/braira_hotels/" target="_blank"><i class="fa fa-instagram color-white"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- End of Top Header -->
    <!-- Main Header  .. -->

    <div class="navik-header header-shadow navik-mega-menu mega-menu-fullwidth">
        <div class="container-fluid">
            <div class="navik-header-container">
                <!--Logo-->
                @{var websiteurl = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["hostFolder"]);
                    var imgurl = websiteurl + "assets/img/corporate/boudl .png";
                }
                <div class="logo" data-mobile-logo="@imgurl" data-sticky-logo="@imgurl">
                    <a href="~/"><img src="@imgurl" alt="Boudl Logo" /></a>
                </div>

                <div class="burger-menu">
                    <div class="line-menu line-half first-line"></div>
                    <div class="line-menu"></div>
                    <div class="line-menu line-half last-line"></div>
                </div>

                <nav class="navik-menu menu-caret submenu-top-border">
                    @{
                        List<BoudlHotel.CustomMenuDTO> CustomMenuList1 = (List<BoudlHotel.CustomMenuDTO>)Session["HomeMenuList"];
                        List<BoudlHotel.ManageCountriesDTO> countryList1 = (List<BoudlHotel.ManageCountriesDTO>)Session["CountriesList"];
                        List<BoudlHotel.ManageCitiesDTO> cityList1 = (List<BoudlHotel.ManageCitiesDTO>)Session["CitiesList"];
                        List<BoudlHotel.ManageBranchesDTO> BranchList11 = (List<BoudlHotel.ManageBranchesDTO>)Session["BranchesList"];
                    }
                    <ul>
                        @if (CustomMenuList1 != null)
                        {
                            int j = 1;
                            foreach (var MenuItem in CustomMenuList1)
                            {
                                if (MenuItem.DynamicBranches != true)
                                {
                                    <li class="">
                                        @if (MenuItem.Id == 1)
                                        {
                                            <a class="mega-menu" href="@(Session["UrlPrepend"] + MenuItem.URL.ToLower())">@MenuItem.NameEn</a>
                                        }
                                        else
                                        {
                                            <a class="mega-menu" href="@(Session["UrlPrepend"] + MenuItem.URL.ToLower())">@MenuItem.NameEn</a>
                                        }
                                    </li>
                                }
                                else
                                {
                                    <li class="mega-menu">
                                        <a class="" href="#">@MenuItem.NameEn</a>
                                        <ul>
                                            <li class="dropdown_menu">
                                                <div class="mega-menu-container">
                                                    <div class="row">

                                                        @if (cityList1 != null)
                                                        {
                                                            List<int> lstMajorCitiesGroupIds = new List<int> { 1, 2, 3, 4 };

                                                            for (int mc = 0; mc < lstMajorCitiesGroupIds.Count; mc++)
                                                            {
                                                                <div class="col-md-2 col-lg-2">
                                                                    <div class="mega-menu-box">
                                                                        @{
                                                                            var grpCities = cityList1.Where(c => c.MenuGroupId == lstMajorCitiesGroupIds[mc]).ToList();
                                                                            for (int gc = 0; gc < grpCities.Count; gc++)
                                                                            {
                                                                                <h4 class="mega-menu-heading">
                                                                                    <a href="#">@grpCities[gc].NameEn</a>
                                                                                </h4>
                                                                                <ul class="mega-menu-list">
                                                                                    @foreach (var br in BranchList11)
                                                                                    {
                                                                                        if (br.CityId == grpCities[gc].Id)
                                                                                        { /*MenuItem.NameEn.Replace(" ","%20")*/
                                                                                            <li><a onmouseover="hoverdivOpen('@br.ImagePath','@MenuItem.NameEn.Replace(" ","").Replace("&","")')" onmouseout="hoverdivclose('e','@MenuItem.NameEn.Replace(" ","").Replace("&","")')" href="@(Session["UrlPrepend"] + MenuItem.SubUrl.ToLower())/@br.NameEn.ToLower().Replace(" ", "-")">@br.NameEn</a></li>

                                                                                        }
                                                                                    }
                                                                                </ul>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                                            }
                                                                            <div class="col-md-4 col-lg-4">
                                                                                <div class="mega-menu-box">
                                                                                    <div class="mega-menu-thumbnail">
                                                                                        <img id="shopimgid-@MenuItem.NameEn.Replace(" ","").Replace("&","")" src="~/assets/img/gallery/boudlthumb.jpg" alt="thumbnail" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            }
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                                                                    }
                                                                                }
                                                                            }


                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-shadow-wrapper"></div>
    </div>
    @*<header id="main-header">
            <div class="inner-container container">
                <div class="left-sec col-sm-4 col-md-2 clearfix">
                    <!-- Top Logo -->
                    <div id="top-logo">
                        <div class="title">
                            <a href="http://boudl.com/">
                                <img src="~/assets/img/corporate/boudl .png" alt="Boudl Logo" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right-sec col-sm-8 col-md-10 clearfix">
                    <!-- Main Menu -->
                    <nav id="main-menu">
                        @{
                        List<BoudlHotel.CustomMenuDTO>
                            CustomMenuList = (List<BoudlHotel.CustomMenuDTO>
                                )Session["HomeMenuList"];
                                List<BoudlHotel.ManageCountriesDTO>
                                    countryList = (List<BoudlHotel.ManageCountriesDTO>
                                        )Session["CountriesList"];
                                        List<BoudlHotel.ManageCitiesDTO>
                                            cityList = (List<BoudlHotel.ManageCitiesDTO>
                                                )Session["CitiesList"];
                                                List<BoudlHotel.ManageBranchesDTO>
                                                    BranchList = (List<BoudlHotel.ManageBranchesDTO>
                                                        )Session["BranchesList"];
                                                        }


                                                        <ul class="list-inline">
                                                            @if (CustomMenuList != null)
                                                            {
                                                            foreach (var MenuItem in CustomMenuList)
                                                            {

                                                            if (MenuItem.DynamicBranches != true)
                                                            {

                                                            if (MenuItem.Id == 1)
                                                            {
                                                            <li><a href="@(Session[" UrlPrepend"] + MenuItem.URL.ToLower())"><i class="fa fa-home color-pink"></i>@MenuItem.NameEn</a></li>
                                                            }
                                                            else
                                                            {
                                                            <li><a href="@(Session[" UrlPrepend"] + MenuItem.URL.ToLower())">@MenuItem.NameEn</a></li>
                                                            if (MenuItem.Id == 2)
                                                            {
                                                            <!--<li><a href="@(Session["UrlPrepend"] + "/latestOffers/packages")">Special Packages</a></li>-->
                                                            }
                                                            }
                                                            }
                                                            else
                                                            {
                                                            <li>
                                                                <a href="javascript:;">@MenuItem.NameEn</a>
                                                                <ul>
                                                                    @if (countryList1 != null)
                                                                    {
                                                                    foreach (var cnt in countryList1)
                                                                    {
                                                                    <li>
                                                                        <a href="javascript:;">@cnt.NameEn</a>
                                                                        <ul>
                                                                            @if (cityList != null)
                                                                            {
                                                                            foreach (var ct in cityList)
                                                                            {
                                                                            if (ct.CountryId == cnt.Id)
                                                                            {
                                                                            if (MenuItem.Id == 3)
                                                                            {
                                                                            <li>
                                                                                <a href="@(Session[" UrlPrepend"] + MenuItem.SubUrl.ToLower())/@ct.NameEn.ToLower().Replace(" ", "-")">@ct.NameEn</a>
                                                                                <!--<a href="@Url.Action("UserDashboard", "Dashboards")"></a>-->
                                                                            </li>
                                                                            }
                                                                            else
                                                                            {
                                                                            <li>
                                                                                <a href="javascript:;">@ct.NameEn</a>
                                                                                <ul>
                                                                                    @if (BranchList != null)
                                                                                    {
                                                                                    foreach (var br in BranchList)
                                                                                    {
                                                                                    if (br.CityId == ct.Id)
                                                                                    {
                                                                                    <li><a href="@(Session[" UrlPrepend"] + MenuItem.SubUrl.ToLower())/@br.NameEn.ToLower().Replace(" ", "-")">@br.NameEn</a></li>
                                                                                    }
                                                                                    }
                                                                                    }

                                                                                </ul>

                                                                            </li>
                                                                            }
                                                                            }
                                                                            }
                                                                            }

                                                                        </ul>
                                                                    </li>
                                                                    }
                                                                    }


                                                                </ul>


                                                            </li>
                                                            }
                                                            }
                                                            }
                                                            else
                                                            {
                                                            <li><a href="@(Session[" UrlPrepend"] +"/")"><i class="fa fa-home color-pink"></i>Home</a></li>
                                                            <li><a href="@(Session[" UrlPrepend"] +"/latestoffers")">OFFERS</a></li>
                                                            <li><a href="@(Session[" UrlPrepend"] + "/latestOffers/packages" )">Special Packages</a></li>
                                                            <li><a href="#">GALLERY</a></li>
                                                            <li><a href="@(Session[" UrlPrepend"] +"/news")">NEWS</a></li>
                                                            <li><a href="#">BRANCHES</a></li>
                                                            <li><a href="@(Session[" UrlPrepend"] +"/careers")">CAREERS</a></li>
                                                            <li><a href="@(Session[" UrlPrepend"] +"/about")">ABOUT US</a></li>
                                                            <li><a href="@(Session[" UrlPrepend"] +"/contact")">CONTACT US</a></li>
                                                            <li><a href="@(Session[" UrlPrepend"] +"/home/changelanguage")">العربية</a></li>

                                                            }
                                                        </ul>

                    </nav>
                    <!-- Menu Handel -->
                    <div id="main-menu-handle" class="hidden-md hidden-lg"><i class="fa fa-bars"></i></div>
                </div>
            </div>
            <div id="mobile-menu-container" class="hidden-md hidden-lg"></div>
        </header>*@
    <!-- End of Main Header -->
    @RenderBody()
    <!-- Top Footer -->
    <div id="top-footer">
        <div id="go-up-box"><i class="fa fa-chevron-up"></i></div>
        <div class="inner-container container">
            <div class="widget col-sm-6 col-md-3">
                <h4>About Boudl Group</h4>
                <div class="widget-content">
                    Boudl company was established in 1959 under the name of Saleh Naser to Khelaiwi and Sons Co. In few years, the company opened a number of hotels
                    throughout the KSA &amp; Kuwait. through its journey of success, the company created the Boudl brand which became the first brand in the hospitality
                    field in KSA.
                </div>

            </div>
            <div class="widget col-sm-6 col-md-3">
                <div id="uSubScribe">
                    <h4>Newsletter</h4>
                    <div class="widget-content">
                        <div class="desc">
                            Get the latest exclusive offers direct in your inbox
                        </div>
                        <form class="news-letter-form">
                            <input type="text" id="id1" class="email" placeholder="Email" required>
                            <div class="emsg" style="color:red"></div>
                            <input type="button" class="btn btn-default" value="Sign Up Now" onclick="btn()" />
                            @*<input type="text" class="email" placeholder="Email">
                                <input type="submit" class="btn btn-default" value="Sign up Now">*@
                        </form>
                    </div>
                </div>
                <div class="smsg" style="color:white" id="uSubScription"></div>
            </div>
            <div class="widget col-sm-6 col-md-3 get-in-touch">
                <h4>Get in Touch</h4>
                <div class="widget-content">
                    <ul>
                        <li><i class="fa fa-map-marker "></i> King Abdul Aziz Road, Al sahafah, Riyadh 11372</li>
                        <li><i class="fa fa-phone"></i> 92 00 00 666</li>
                        <li><i class="fa fa-envelope-o"></i> web@boudl.com</li>
                    </ul>
                    <ul class="list-inline social-icons">
                        <li><a href="https://www.facebook.com/boudl.hotels.resorts/" target="_blank"><i class="fa fa-facebook "></i></a></li>
                        <li><a href="https://twitter.com/BoudlHotels" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/explore/tags/boudl/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC2Ci8v8M-DGAIZyT7gtoPsQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <img src="~/assets/img/corporate/app-img.png" class="img-responsive mobile-img" />
                <p class="text-center">
                    <strong>Download Boudl Application</strong>
                </p>
                <hr />
                <ul class="list-unstyled footer-link-img">
                    <li>
                        <a href="https://itunes.apple.com/us/app/boudl-group/id1323623969?ls=1&mt=8" target="_blank"><img src="~/assets/img/corporate/appstore.png" class="footer-img" /></a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.cs.boudl" target="_blank"><img src="~/assets/img/corporate/google-play.png" class="footer-img" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End of Top Footer -->
    <!-- Footer -->
    <footer id="footer">
        <div class="copy-right">
            &copy; @DateTime.Now.Year Boudl All Rights Reserved. Website by <a href="http://www.creative-sols.com" target="_blank">Creative Solutions</a>
        </div>
    </footer>
    <div class="nation-bg"></div>
    <!-- End of Footer -->
    <!-- Include the js files  -->
    <script type="text/javascript" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assets/js/helper.js"></script>
    <script type="text/javascript" src="~/assets/js/template.js"></script>

    <script src="~/assets/js/superfish.js"></script>
    <script src="~/assets/js/jquery.flexslider.js"></script>
    <script src="~/assets/js/jquery.fitvids.js"></script>




    <script src="https://unpkg.com/flatpickr"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            "use strict";
            // Init the Wow plugin
            new WOW({ mobile: false }).init();
        });

        flatpickr(".flatpickr", {
            enableTime: true
        });
    </script>
    <script>
        $('#uSubScription').hide();
        function btn() {
            var emailId = $('#id1').val();
            var reg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;


            if (/^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/.test(emailId) == false) {
                $(".emsg").text("Invalid EmailId.");
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Subscribe", "Home")',
                    dataType: 'json',
                    data: { email: emailId },
                    success: function (data) {
                        var res = data.success;
                        if (res == "1") {
                            $(".emsg").text("You are in Subscription, Thanks for your interest");
                            $(".smsg").text("");
                        }

                        else if (res == "2") {
                            $(".emsg").text("");
                            $('#uSubScribe').hide(); $('#uSubScription').show();
                            $(".smsg").text("User Subscription submitted successfully");
                        }
                        else if (res == "3") {
                            $(".smsg").text("");
                            $(".emsg").text("EmailId is not entered");
                        }

                    },
                    error: function (ex) {
                        alert(ex)
                    }
                });
            }
        }
    </script>
    @RenderSection("scripts", required: false)
    @*
        <script src="../src/navik.menu.js"></script>*@
    <script src="~/assets/MegaMenu/src/navik.menu.js"></script>

    @*
        <script src="demo/custom.js"></script>*@
</body>
</html>
<script>
    var image = ("@websiteurl" + "assets/img/gallery/boudlthumb.jpg");
    function hoverdivOpen(e, name) {
        $("#shopimgid-" + name).attr("src", e);
    }
    function hoverdivclose(e, name) {
        $("#shopimgid-" + name).attr("src", image);
    }
</script>
