﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>@ViewBag.Title  Boudl Apart 'Hotel Saudi Arabia </title>
    <meta name="author" content="Creative Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <!-- <link href="https://fonts.googleapis.com/css?family=Balthazar|Ubuntu:500,700" rel="stylesheet">    -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/styles.css">
    <link href="http://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">

    <link rel="shortcut icon" href="~/assets/img/corporate/fav.png" />
    @RenderSection("styles", required: false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5adc7474227d3d7edc24817b/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <link href="~/fonts/css/animation.css" rel="stylesheet" />
    <link href="~/fonts/css/fontello.css" rel="stylesheet" />
    @*<style type="text/css">
        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
            line-height: 0;
        }

        .clearfix:after {
            clear: both;
        }

        html {
            font-size: 100%;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        a:focus {
            outline: thin dotted #333;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        a:hover,
        a:active {
            outline: 0;
        }

        button,
        input,
        select,
        textarea {
            margin: 0;
            font-size: 100%;
            vertical-align: middle;
        }

        button,
        input {
            *overflow: visible;
            line-height: normal;
        }

            button::-moz-focus-inner,
            input::-moz-focus-inner {
                padding: 0;
                border: 0;
            }

        body {
            margin: 0;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 20px;
            color: #333;
            background-color: #fff;
        }

        a {
            color: #08c;
            text-decoration: none;
        }

            a:hover {
                color: #005580;
                text-decoration: underline;
            }

        .row {
            margin-left: -20px;
            *zoom: 1;
        }

            .row:before,
            .row:after {
                display: table;
                content: "";
                line-height: 0;
            }

            .row:after {
                clear: both;
            }

        [class*="span"] {
            float: left;
            min-height: 1px;
            margin-left: 20px;
        }

        .container,
        .navbar-static-top .container,
        .navbar-fixed-top .container,
        .navbar-fixed-bottom .container {
            width: 940px;
        }

        .span12 {
            width: 940px;
        }

        .span11 {
            width: 860px;
        }

        .span10 {
            width: 780px;
        }

        .span9 {
            width: 700px;
        }

        .span8 {
            width: 620px;
        }

        .span7 {
            width: 540px;
        }

        .span6 {
            width: 460px;
        }

        .span5 {
            width: 380px;
        }

        .span4 {
            width: 300px;
        }

        .span3 {
            width: 220px;
        }

        .span2 {
            width: 140px;
        }

        .span1 {
            width: 60px;
        }

        [class*="span"].pull-right,
        .row-fluid [class*="span"].pull-right {
            float: right;
        }

        .container {
            margin-right: auto;
            margin-left: auto;
            *zoom: 1;
        }

            .container:before,
            .container:after {
                display: table;
                content: "";
                line-height: 0;
            }

            .container:after {
                clear: both;
            }

        p {
            margin: 0 0 10px;
        }

        .lead {
            margin-bottom: 20px;
            font-size: 21px;
            font-weight: 200;
            line-height: 30px;
        }

        small {
            font-size: 85%;
        }

        h1 {
            margin: 10px 0;
            font-family: inherit;
            font-weight: bold;
            line-height: 20px;
            color: inherit;
            text-rendering: optimizelegibility;
        }

            h1 small {
                font-weight: normal;
                line-height: 1;
                color: #999;
            }

        h1 {
            line-height: 40px;
        }

        h1 {
            font-size: 38.5px;
        }

            h1 small {
                font-size: 24.5px;
            }

        body {
            margin-top: 90px;
        }

        .header {
            position: fixed;
            top: 0;
            left: 50%;
            margin-left: -480px;
            background-color: #fff;
            border-bottom: 1px solid #ddd;
            padding-top: 10px;
            z-index: 10;
        }

        .footer {
            color: #ddd;
            font-size: 12px;
            text-align: center;
            margin-top: 20px;
        }

            .footer a {
                color: #ccc;
                text-decoration: underline;
            }

        .the-icons {
            font-size: 14px;
            line-height: 24px;
        }

        .switch {
            position: absolute;
            right: 0;
            bottom: 10px;
            color: #666;
        }

            .switch input {
                margin-right: 0.3em;
            }

        .codesOn .i-name {
            display: none;
        }

        .codesOn .i-code {
            display: inline;
        }

        .i-code {
            display: none;
        }

        @@font-face {
            font-family: 'fontello';
            src: url('../../Fonts/font/fontello.eot?49228597');
            /*src: url('./font/fontello.eot?49228597');*/
            src: url('../../fonts/fontello.eot?49228597#iefix') format('embedded-opentype'), 
                url('../../fonts/fontello.woff?49228597') format('woff'), 
                url('../../fonts/fontello.ttf?49228597') format('truetype'),
                 url('../../fonts/fontello.svg?49228597#fontello') format('svg');
            font-weight: normal;
            font-style: normal;
        }


        .demo-icon {
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: .2em;
            text-align: center;
            /* opacity: .8; */
            /* For safety - reset parent styles, that can break glyph codes*/
            font-variant: normal;
            text-transform: none;
            /* fix buttons height, for twitter bootstrap */
            line-height: 1em;
            /* Animation center compensation - margins should be symmetric */
            /* remove if not needed */
            margin-left: .2em;
            /* You can be more comfortable with increased icons size */
            /* font-size: 120%; */
            /* Font smoothing. That was taken from TWBS */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            /* Uncomment for 3D effect */
            /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
        }
    </style>*@

</head>
<body>
    <!-- Top Header -->
    <div id="top-header">
        <div class="inner-container container">          
            @*<select id="language-switcher" class="hide">
                <option value="1">SAR</option>
                <option value="2">Kuwait Dinar</option>
                <option value="3">USD</option>
            </select>*@
            <!-- End of Language Switcher -->
            <ul class="list-inline social-icons text-right">
                @*<li><a href="http://csadms.com/boudldev/findahotel" >Find A Hotel</a></li>*@
                <li><a href="~/FindAHotel">Locations </a></li>
                <li><a href="https://www.facebook.com/boudl.hotels.resorts/" target="_blank"><i class="fa fa-facebook color-white"></i></a></li>
                <li><a href="https://twitter.com/BoudlHotels" target="_blank"><i class="fa fa-twitter color-white"></i></a></li>
                <li><a href="https://www.instagram.com/braira_hotels/" target="_blank"><i class="fa fa-instagram color-white"></i></a></li>
                <li><a href="javascript:;" class="font-14"><i class="fa fa-sign-in"></i> Join Now</a></li>
            </ul>
        </div>
    </div>
    <!-- End of Top Header -->
    <!-- Main Header -->
    <header id="main-header">
        <div class="inner-container container">
            <div class="left-sec col-sm-4 col-md-2 clearfix">
                <!-- Top Logo -->
                <div id="top-logo">
                    <div class="title">
                        <a href="http://csadms.com/boudldev/">
                            <img src="~/assets/img/corporate/boudl .png" alt="Boudl Logo" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-sec col-sm-8 col-md-10 clearfix">
                <!-- Main Menu -->
                <nav id="main-menu">
                    @{ 
                        List<BoudlHotel.CustomMenuDTO> CustomMenuList = (List<BoudlHotel.CustomMenuDTO>)Session["HomeMenuList"];
                        List<BoudlHotel.ManageCountriesDTO> countryList = (List<BoudlHotel.ManageCountriesDTO>)Session["CountriesList"];
                        List<BoudlHotel.ManageCitiesDTO> cityList = (List<BoudlHotel.ManageCitiesDTO>)Session["CitiesList"];
                        List<BoudlHotel.ManageBranchesDTO> BranchList = (List<BoudlHotel.ManageBranchesDTO>)Session["BranchesList"];
                    }
                    
                    
                    <ul class="list-inline">
                        @if (CustomMenuList != null)
                        {
                            foreach (var MenuItem in CustomMenuList)
                            {

                                if (MenuItem.DynamicBranches != true)
                                {

                                    if (MenuItem.Id == 1)
                                    {
                                    <li><a href="@(Session["UrlPrepend"] + MenuItem.URL.ToLower())"><i class="fa fa-home color-pink"></i>@MenuItem.NameEn</a></li>
                                    }
                                    else
                                    {
                                    <li><a href="@(Session["UrlPrepend"] + MenuItem.URL.ToLower())">@MenuItem.NameEn</a></li>
                                        if (MenuItem.Id == 2)
                                        {
                                        @*<li><a href="@(Session["UrlPrepend"] + "/latestOffers/packages")">Special Packages</a></li>*@
                                        }
                                    }
                                }
                                else
                                {
                                <li>
                                    <a href="javascript:;">@MenuItem.NameEn</a>
                                    <ul>
                                        @if (countryList != null)
                                        {
                                            foreach (var cnt in countryList)
                                            {
                                                <li>
                                                    <a href="javascript:;">@cnt.NameEn</a>
                                                    <ul>
                                                        @if (cityList != null)
                                                        {
                                                            foreach (var ct in cityList)
                                                            {
                                                                if (ct.CountryId == cnt.Id)
                                                                {
                                                                    if (MenuItem.Id == 3)
                                                                    {
                                                                        <li>
                                                                            <a href="@(Session["UrlPrepend"] + MenuItem.SubUrl.ToLower())/@ct.NameEn.ToLower().Replace(" ", "-")">@ct.NameEn</a>
                                                                            @*<a href="@Url.Action("UserDashboard", "Dashboards")"></a>*@
                                                                        </li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li>
                                                                            <a href="javascript:;">@ct.NameEn</a>
                                                                            <ul>
                                                                                @if (BranchList != null)
                                                                                {
                                                                                    foreach (var br in BranchList)
                                                                                    {
                                                                                        if (br.CityId == ct.Id)
                                                                                        {
                                                                                            <li><a href="@(Session["UrlPrepend"] + MenuItem.SubUrl.ToLower())/@br.NameEn.ToLower().Replace(" ", "-")">@br.NameEn</a></li>
                                                                                        }
                                                                                    }
                                                                                }
                                                                                
                                                                            </ul>

                                                                        </li>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        
                                                    </ul>
                                                </li>
                                            }
                                        }
                                        

                                    </ul>


                                </li>
                                }
                            }
                        }
                        else
                        {
                            <li><a href="@(Session["UrlPrepend"] +"/")"><i class="fa fa-home color-pink"></i>Home</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/latestoffers")">OFFERS</a></li>
                            @*<li><a href="@(Session["UrlPrepend"] + "/latestOffers/packages")">Special Packages</a></li>*@
                            <li><a href="#">GALLERY</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/news")">NEWS</a></li>
                            <li><a href="#">BRANCHES</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/careers")">CAREERS</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/about")">ABOUT US</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/contact")">CONTACT US</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/home/changelanguage")">العربية</a></li>

                        }
                    </ul>

                </nav>
                <!-- Menu Handel -->
                <div id="main-menu-handle" class="hidden-md hidden-lg"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div id="mobile-menu-container" class="hidden-md hidden-lg"></div>
    </header>
    <!-- End of Main Header -->
    @RenderBody()
    <!-- Top Footer -->
    <div id="top-footer">
        <div id="go-up-box"><i class="fa fa-chevron-up"></i></div>
        <div class="inner-container container">
            <div class="widget col-sm-6 col-md-3">
                <h4>About Boudl Group</h4>
                <div class="widget-content">
                    Boudl company was established in 1959 under the name of Saleh Naser to Khelaiwi and Sons Co. In few years, the company opened a number of hotels
                    throughout the KSA &amp; Kuwait. through its journey of success, the company created the Boudl brand which became the first brand in the hospitality
                    field in KSA.
                </div>
                
            </div>
            <div class="widget col-sm-6 col-md-3">
                <div id="uSubScribe">
                    <h4>Newsletter</h4>
                    <div class="widget-content">
                        <div class="desc">
                            Get the latest exclusive offers direct in your inbox
                        </div>
                        <form class="news-letter-form">
                            <input type="text" id="id1" class="email" placeholder="Email" required>
                            <div class="emsg" style="color:red"></div>
                            <input type="button" class="btn btn-default" value="Sign Up Now" onclick="btn()" />
                            @*<input type="text" class="email" placeholder="Email">
                <input type="submit" class="btn btn-default" value="Sign up Now">*@
                        </form>
                    </div>
                </div>
                <div class="smsg" style="color:white" id="uSubScription"></div>
                </div>
            <div class="widget col-sm-6 col-md-3 get-in-touch">
                <h4>Get in Touch</h4>
                <div class="widget-content">
                    <ul>
                        <li><i class="fa fa-map-marker "></i> King Abdul Aziz Road, Al sahafah, Riyadh 11372</li>
                        <li><i class="fa fa-phone"></i> 92 00 00 666</li>
                        <li><i class="fa fa-envelope-o"></i> web@boudl.com</li>
                    </ul>
                    <ul class="list-inline social-icons">
                        <li><a href="https://www.facebook.com/boudl.hotels.resorts/" target="_blank"><i class="fa fa-facebook "></i></a></li>
                        <li><a href="https://twitter.com/BoudlHotels" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/explore/tags/boudl/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC2Ci8v8M-DGAIZyT7gtoPsQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>            
            <div class="col-sm-6 col-md-3">
                <img src="~/assets/img/corporate/app-img.png" class="img-responsive mobile-img" />
                <p class="text-center">
                    <strong>Download Boudl Application</strong>
                </p>
                <hr />
                <ul class="list-unstyled footer-link-img">
                    <li>
                        <a href="javascript:;"><img src="~/assets/img/corporate/appstore.png" class="footer-img" /></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="~/assets/img/corporate/google-play.png" class="footer-img" /></a>
                    </li>
                </ul>
            </div>            
        </div>            
    </div>
    <!-- End of Top Footer -->
    <!-- Footer -->
    <footer id="footer">
        <div class="copy-right">
            &copy; 2017 Boudl All Rights Reserved. Website by <a href="http://www.creative-sols.com" target="_blank">Creative Solutions</a>
        </div>
    </footer>
    <div class="nation-bg"></div>
    <!-- End of Footer -->
    <!-- Include the js files  -->
    <script type="text/javascript" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assets/js/helper.js"></script>
    <script type="text/javascript" src="~/assets/js/template.js"></script>

    <script src="~/assets/js/superfish.js"></script>
    <script src="~/assets/js/jquery.flexslider.js"></script>
    <script src="~/assets/js/jquery.fitvids.js"></script>

    
    

    <script src="https://unpkg.com/flatpickr"></script>
    <script type="text/javascript">
            jQuery(document).ready(function ($) {
                "use strict";
                // Init the Wow plugin
                new WOW({ mobile: false }).init();
            });

            flatpickr(".flatpickr", {
                enableTime: true
            });
    </script>
    <script>
        $('#uSubScription').hide();
        function btn() {
            var emailId = $('#id1').val();
            var reg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;


            if (/^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/.test(emailId) == false)
            {
                $(".emsg").text("Invalid EmailId.");
            }
            else
            {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Subscribe", "Home")',
                    dataType: 'json',
                    data: { email: emailId },
                    success: function (data) {
                        var res = data.success;
                        if (res == "1")
                        {
                            $(".emsg").text("You are in Subscription, Thanks for your interest");
                            $(".smsg").text("");
                        }

                        else if (res == "2")
                        {
                            $(".emsg").text("");
                            $('#uSubScribe').hide(); $('#uSubScription').show();
                            $(".smsg").text("User Subscription submitted successfully");
                        }
                        else if (res == "3")
                        {
                            $(".smsg").text("");
                            $(".emsg").text("EmailId is not entered");
                        }

                    },
                    error: function (ex) {
                        alert(ex)
                    }
                });
            }
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
