﻿
@{
    ViewBag.Title = "إفتتاح فندق بريرا الدمام ( خمس نجوم )";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
}
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/boudl-apart/assets/img/headers/News-Boudl.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/">الرئيسية</a></li>
        <li><a href="~/ar/news/">الأخبار</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <img src="~/assets/img/news/braira-hitin.jpg" class="post-img" alt="إفتتاح منتجع فيلات بريرا" />
                <h3 class="post-title">إفتتاح فندق بريرا الدمام ( خمس نجوم )</h3>
                <div class="post-desc">
                    <p>
                        تم إفتتاح فندق بريرا الدمام و هو أول فندق في مجموعة فنادق و منتجعات بريرا الذي يصنف بأنه فندق ٥ نجوم يقع فندق بريرا الدمام بموقع استراتيجي والمطل على الواجهة البحرية محاطاً بأهم مراكز التسوق التجارية والمراكز الحكومية ، يعد فندق بريرا الدمام هو الواجهة البحرية الأمثل لمدينة الدمام التي تعطيك جواً من الدفىء والراحة والهدوء ، يمتاز الفندق بغرف وأجنحة فاخرة مصممة بديكورات عصرية ساحرة وبإطلالات رائعة واكثر ما يميز الفندق الفخامة والهدوء لجعل إقامتك متكاملة بوجود جميع ما تحتاج لإقامة رائعة.
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">06 - May - 2018</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}