﻿
@{
    ViewBag.Title = "برج نارسيس الرياض";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
}
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/boudl-apart/assets/img/headers/News-Boudl.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/">الرئيسية</a></li>
        <li><a href="~/ar/news/">الأخبار</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <img src="~/assets/img/news/narcisuss-tower1.jpg" class="post-img" alt=" برج نارسيس الرياض" />
                <h3 class="post-title">برج نارسيس الرياض</h3>
                <div class="post-desc">
                    <p>
                        يسعدنا أن نعلن قريباًً عن الأفتتاح الرسمى لبرج نارسيس و المجاور لفندق نارسيس الرياض بشارع التحلية, نارسيس أصبح أسم غنى عن التعريف فى عالم الضيافة, فطيلة خمس سنوات منذ الأفتتاح حصد وبكل فخر أربعة جوائز للفخامة العالمية. فندق نارسيس يمتاز بالرونق و الجمال من حيث التصميم الخارجى الذى يوحى بالعراقة و الأصالة , بالأضافة لفخامة المفروشات و التجهيزات الداخلية والتى تبهر أعين كل من يراها, بالأضافة لكثير من الخدمات الأخرى مثل المطاعم و الصالات الرياضية و قاعات الأفراح و المؤتمرات والمسابح و المنتجع الصحى داخل الفندق وغيرها الكثير من المزايا.
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">01 - Oct - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}