
@font-face {
    font-family: 'Copperplate Regular', sans-serif;
    src: url('copperplate-webfont.woff2') format('woff2'),
         url('copperplate-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Corbel Bold Italic', sans-serif;
    src: url('corbel_bold_italic-webfont.woff2') format('woff2'),
         url('corbel_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Corbel Bold', sans-serif;
    src: url('corbel_bold-webfont.woff2') format('woff2'),
         url('corbel_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Corbel Italic', sans-serif;
    src: url('corbel_italic-webfont.woff2') format('woff2'),
         url('corbel_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Corbel', sans-serif;
    src: url('corbel-webfont.woff2') format('woff2'),
         url('corbel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Corbelb', sans-serif;
    src: url('corbelb-webfont.woff2') format('woff2'),
         url('corbelb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Corbeli', sans-serif;
    src: url('corbeli-webfont.woff2') format('woff2'),
         url('corbeli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Corbelz', sans-serif;
    src: url('corbelz-webfont.woff2') format('woff2'),
         url('corbelz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Sans Copper Plate Gothic', sans-serif;
    src: url('sans-copperplategothic-webfont.woff2') format('woff2'),
         url('sans-copperplategothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
