﻿
@{
    ViewBag.Title = "Read Latest News From Boudl Hotels";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}

<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://boudl.com/boudl-apart/assets/img/headers/News-Boudl.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/">الرئيسية</a></li>
        <li class="active">الأخبار</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container news">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            @foreach (var item in ViewBag.NewsList)
            {
                <div class="post-box">
                    <a href="News/@item.NameEn.Replace(" ","")">
                        <img src=@item.ImagePath class="post-img" alt=@item.NameEn />
                    </a>
                    <a href="@item.NameEn" class="post-title">@item.NameEn</a>
                    <div class="post-meta clearfix">
                        <div class="post-date">@item.CreatedOn.ToString("dd-MMM-yyyy")</div>
                    </div>
                </div>
            }
            @*<div class="post-box">
                <a href="~/ar/LuxuryAwards">
                    <img src="~/assets/img/news/luxury-awards.jpg" class="post-img" alt=" جائزة الفخامة الفندقية العالمية" />
                </a>
                <a href="~/ar/LuxuryAwards" class="post-title"> جائزة الفخامة الفندقية العالمية</a>
                <div class="post-meta clearfix">
                    <div class="post-date">01 - Oct - 2017</div>
                </div>
            </div>*@
        </div>
        <!-- End of Post Container -->
        <!-- Pagination -->
        @*<div class="pagination-box">
            <ul class="list-inline">
                <li class="active"><a href="#"><span>1</span></a></li>
                <li><a href="#"><span>2</span></a></li>
                <li><a href="#"><span>3</span></a></li>
                <li><a href="#"><span>4</span></a></li>
                <li><a href="#"><span>5</span></a></li>
                <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
            </ul>
        </div>*@
        <!-- End of Pagination -->
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>

}















