﻿
@{
    ViewBag.Title = "Read Latest News from Boudl Hotels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
}
<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li class="active">News</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container news">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            @*@foreach (var item in ViewBag.NewsList)
            {
                <div class="post-box">
                    <a href="news/@item.NameEn.ToLower().Replace(" ","-")">
                        <img src=@item.ImagePath class="post-img" alt=@item.NameEn />
                    </a>
                    <a href="news/@item.NameEn.ToLower().Replace(" ","-")" class="post-title">@item.NameEn</a>
                    <div class="post-meta clearfix">
                        <div class="post-date">@item.CreatedOn.ToString("dd-MMM-yyyy")</div>
                    </div>
                </div>
            }*@
            @Html.Action("NewPage", "News")
            <!-- Post boxes -->
            @*<div class="post-box">
                <a href="~/LuxuryAwards">                    
                    <img src="~/assets/img/news/luxury-awards.jpg" class="post-img" alt="Luxury Hotel Award" />
                </a>
                <a href="~/LuxuryAwards" class="post-title">Luxury Hotel Award</a>
                <div class="post-meta clearfix">
                    <div class="post-date">01 - Oct - 2017</div>
                </div>
            </div>*@
            <!-- Post boxes -->
            @*<div class="post-box">
                <a href="~/BrairaNewBranch">
                    <img src="~/assets/img/news/braira-cordoba.jpg" class="post-img" alt="Braira Cordoba Branch Coming Soon" />
                </a>
                <a href="~/BrairaNewBranch" class="post-title">Braira Cordoba Branch Coming Soon</a>
                <div class="post-meta clearfix">
                    <div class="post-date">22 - Oct - 2017</div>
                </div>
            </div>*@
            <!-- Post boxes -->
            @*<div class="post-box">
                <a href="~/AberHotel">
                    <img src="~/assets/img/news/aber-2.jpg" class="post-img" alt="Aber Hotel " />
                </a>
                <a href="~/AberHotel" class="post-title">Aber Hotel</a>
                <div class="post-meta clearfix">
                    <div class="post-date">02 - Sep - 2017</div>
                </div>
            </div>*@
            <!-- Post boxes -->
            @*<div class="post-box">
                <a href="~/NarcissusRiyadh">
                    <img src="~/assets/img/news/narcisuss-tower1.jpg" class="post-img" alt="Narcissus Tower Riyadh " />
                </a>
                <a href="~/NarcissusRiyadh" class="post-title">Narcissus Tower Riyadh</a>
                <div class="post-meta clearfix">
                    <div class="post-date">01 - Oct - 2017</div>
                </div>
            </div>*@
            <!-- Post boxes -->
            @*<div class="post-box">
                <a href="~/BrairaAlNakhil">
                    <img src="~/assets/img/news/al-nakhil.jpg" class="post-img" alt="Braira Al Nakhil" />
                </a>
                <a href="~/BrairaAlNakhil" class="post-title">Braira Al Nakhil ( Riyadh )</a>
                <div class="post-meta clearfix">
                    <div class="post-date">22 - Oct - 2017</div>
                </div>
            </div>*@
            <!-- Post boxes -->
            @*<div class="post-box">
                <a href="~/BrairaAlWizarat">
                    <img src="~/assets/img/news/braira-al-wizarat.jpg" class="post-img" alt="Braira Hotel Wizarat" />
                </a>
                <a href="~/BrairaAlWizarat" class="post-title">Braira Hotel AL- Wezarat Branch Grand Opening</a>
                <div class="post-meta clearfix">
                    <div class="post-date">02 - Sep - 2017</div>
                </div>
            </div>*@
            <!-- Post boxes -->
            @*<div class="post-box">
                <a href="~/BrairaVillas">
                    <img src="~/assets/img/news/braira-hitin.jpg" class="post-img" alt="Braira Villas Grand Opening" />
                </a>
                <a href="~/BrairaVillas" class="post-title">Braira Villas Grand Opening</a>
                <div class="post-meta clearfix">
                    <div class="post-date">02 - Sep - 2017</div>
                </div>
            </div>*@
            <!-- Post boxes Braira Al Dammam-->
            @*<div class="post-box">
                <a href="~/BrairaAlDammam">
                    <img src="~/assets/img/news/AlDammam1.jpg" class="post-img" alt="Braira Al Dammam" />
                </a>
                <a href="~/BrairaAlDammam" class="post-title">Braira Al Dammam ( 5 star ) is now open </a>
                <div class="post-meta clearfix">
                    <div class="post-date">06 - May - 2018</div>
                </div>
            </div>*@
            <!-- Post boxes Narcissus Obhur Jeddah-->
            @*<div class="post-box">
                <a href="~/NarcissusObhurJeddah">
                    <img src="~/assets/img/news/narcissus-jeddah.png" class="post-img" alt="Narcissus Obhur Jeddah" />
                </a>
                <a href="~/NarcissusObhurJeddah" class="post-title">Narcissus Obhur Jeddah</a>
                <div class="post-meta clearfix">
                    <div class="post-date">10 - May - 2018</div>
                </div>
            </div>*@
        </div>
        <!-- End of Post Container -->
        <!-- Pagination -->
        @*<div class="pagination-box">
            <ul class="list-inline">
                <li class="active"><a href="#"><span>1</span></a></li>
                <li><a href="#"><span>2</span></a></li>
                <li><a href="#"><span>3</span></a></li>
                <li><a href="#"><span>4</span></a></li>
                <li><a href="#"><span>5</span></a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        </div>*@
        <!-- End of Pagination -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
        $("p").removeClass("p1");
        $("#test ul").toggleClass("pagination list-inline");
    </script>

}
