﻿@using PagedList
@using PagedList.Mvc
@model PagedList<BoudlHotel.ManageNewsDTO>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="post-box">
            <a href="news/@item.NameEn.ToLower().Replace(" ","-")">
                <img src=@item.ImagePath class="post-img" alt=@item.NameEn />
            </a>
            <a href="news/@item.NameEn.ToLower().Replace(" ","-")" class="post-title">@item.NameEn</a>
            <div class="post-meta clearfix">
                <div class="post-date">@item.CreatedOn.ToString("dd-MMM-yyyy")</div>
            </div>
        </div>
    }
}
<div class="col-md-12">
    <div class="pagination-box" id="test">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
        $("p").removeClass("p1");
    </script>
}




