﻿
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

}
<!-- Internal Page Header -->
<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li><a href="~/news">News</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            @if (ViewBag.newsDetail != null)
            {
                foreach (var item in ViewBag.newsDetail)
                {
                    <div class="post-box no-hover">
                        <img src=@item.ImagePath class="post-img" alt="Luxury Hotel Award" />
                        <h3 class="post-title">@item.NameEn</h3>
                        <div class="post-desc">
                            <p>
                                @Html.Raw(HttpUtility.HtmlDecode(@item.DescEn))
                            </p>
                        </div>
                        <div class="post-meta clearfix">
                            <div class="post-date">@item.CreatedOn.ToString("dd-MMM-yyyy")</div>
                        </div>
                    </div>
                }
            }

            @*<div class="post-box no-hover">
                <img src="~/assets/img/news/luxury-awards.jpg" class="post-img" alt="Luxury Hotel Award" />
                <h3 class="post-title">Luxury Hotel Award</h3>
                <div class="post-desc">
                    <p>
                        Narcissus Hotel &amp; Residence Riyadh is the Winner of Luxury Hotel World Award in Middle East and Africa for the 4th year.
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">01 - Oct - 2017</div>
                </div>
            </div>*@
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
        $("p").removeClass("p1");
    </script>
}
