﻿
@{
    ViewBag.Title = "أخر العروض";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .room-container .room-box .img-container {
            height: 350px;
        }
        
        .truncateAmenity {
            width: 100%;
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .truncateDesc {
            width: 100%;
            height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .truncateDesc2 {
            width: 100%;
            height: 90px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
}

<!-- Internal Page Header -->
<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">الرئيسية</a></li>
        <li class="active">أخر العروض</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Special Packages -->
<div id="special-packages" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2><span>عروض خاصة</span></h2><!-- Title -->
        <div class="subtitle">إختر واحدة من عروضنا الخاصة</div><!-- Subtitle -->
    </div>

    <!-- Package Container -->
    <div>
        <!-- Package Box -->
        @if (ViewBag.splPkgs != null)
        {
            foreach (SpecialPackage item in ViewBag.splPkgs)
            {
                <div class="room-box clearfix">
                    <div class="img-container col-xs-6">
                        <a href="Offers/@item.NameAr.Replace(" ","")">
                            <img src="@item.ImageAr" alt="@item.NameAr">
                        </a>
                        @*@if (item.BookingRedirection)
                            {<a href="@item.bookingURL" class="btn btn-default">Book Now</a>}*@
                    </div>
                    <div class="details col-xs-6">
                        <div class="title">
                            @*<a href="#">@item.NameEn</a>*@
                            <a href="Offers/@item.NameAr.Replace(" ","")"><strong>@item.NameAr</strong></a>
                        </div>
                        <div class="desc ">
                            @if (item.Mode == 1)
                            {
                                <p class=""><div class="truncateDesc2">@Html.Raw(HttpUtility.HtmlDecode(item.DescriptionAr))</div></p>
                                <div class="bottom-align-text ">
                                    @*@if (item.BookingRedirection)
                                        {<a href="@item.bookingURL" class="btn btn-default" target="_blank">Book Now</a>}*@

                                    @*<a href="tel:0096692000666">0096692000666</a>*@
                                    <a href="tel:0096692000666" class="btn btn-default" target="_blank">Book Now</a>
                                </div>

                            }
                            else
                            {
                                <div class="truncateAmenity">
                                    <ul class="facilities list-inline">
                                        @for (int i = 0; i < item.arAmnAr.Length; i++)
                                        {
                                            if (!String.IsNullOrEmpty(item.arAmnAr[i]))
                                            {
                                                <li><i class="fa @item.amIcons[i]"></i>@item.arAmnAr[i]</li>
                                            }

                                        }
                                        @*@foreach (String element in item.AmenitiesEn.Split(','))
                                            {
                                                <li><i class="fa fa-check"></i>@element</li>
                                            }*@
                                    </ul>
                                </div>
                                <p class=""><div class="truncateDesc">@Html.Raw(HttpUtility.HtmlDecode(item.DescriptionAr))</div></p>
                                <div class="bottom-align-text ">

                                    @if (item.BookingRedirection && item.bookingURL != "")
                                    {
                                        <a href="@item.bookingURL" class="btn btn-default" target="_blank">Book Now</a>
                                    }
                                </div>
                            }
                            @*<a href="Offers/@item.NameEn.Replace(" ","")" class="btn btn-default">Select Package</a>*@
                        </div>

                        <div class="price">
                            <span> @item.OfferPrice @item.Currency</span>
                            @if (item.Mode == 1)
                            {
                                @("-Per Person ")
                            }
                            @if (item.Mode == 2)
                            {
                                @("-Per Night ")
                            }
                        </div>

                    </div>
                </div>
            }
        }
        else
        {
            <p>No Content Available</p>
        }
    </div>

    @*<div class="package-container clearfix">
        <!-- Package Box -->
        @if (ViewBag.splPkgs != null)
        {
            foreach (SpecialPackage item in ViewBag.splPkgs)
            {
                <div class="package-box wow fadeInUp col-sm-6">
                    <div class="package-inner">
                        <div class="title">@item.NameAr</div>
                        <img src="@item.ImageAr" class="img-responsive" alt="@item.NameAr" />
                        <!-- <div class="price"><span>SAR 340</span>per night</div> -->
                        <div class="package-details">
                            <ul>
                                @foreach (String element in item.AmenitiesAr.Split(','))
                                {
                                    <li>@element</li>
                                }
                            </ul>

                        </div>
                        <a href="#" class="btn btn-default">Select Package</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No Content Available</p>
        }
        @*<div class="package-box wow fadeInUp col-sm-6">
            <div class="package-inner">
                <div class="title">عرسان</div>
                <img src="~/areas/ar/assets/img/corporate/honeymoon-package.jpg" class="img-responsive" alt="family pacakge" />
                <!-- <div class="price"><span>SAR 340</span>per night</div> -->
                <div class="package-details">
                    <ul>
                        <li>تزيين الغرفة</li>
                        <li>كعكة العروسان</li>
                        <li>حفلة موسيقية</li>
                        <li>شمـــوع</li>
                        <li>بوكيه ورد</li>
                        <li>سلة فواكه</li>
                    </ul>
                </div>
                <a href="#" class="btn btn-default">إختر عرضاََ</a>
            </div>
        </div>

        <!-- Package Box -->
        <div class="package-box wow fadeInUp col-sm-6" data-wow-delay="0.5s">
            <div class="package-inner">
                <div class="title">عائلية</div>
                <img src="~/areas/ar/assets/img/corporate/family-package.jpg" class="img-responsive" alt="honeymoon pacakage" />
                <!-- <div class="price"><span>SAR 340</span>per night</div> -->
                <div class="package-details">
                    <ul>
                        <li>مطعم</li>
                        <li>حفلة موسيقية</li>
                        <li>نشاطات رياضية </li>
                        <li>مسابح</li>
                        <li>ملهى للأطفال</li>
                        <li>غرف واسعة</li>
                    </ul>
                </div>
                <a href="#" class="btn btn-default">إختر عرضاََ</a>
            </div>
        </div>*@
    </div>
@*</div>*@
<!-- End of Special Packages -->

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}














