﻿
@{
    ViewBag.Title = "Latest Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/fonts/css/animation.css" rel="stylesheet" />
    <link href="~/fonts/css/fontello.css" rel="stylesheet" />
    <style type="text/css">
        .bottom-align-text {
            position: absolute;
            bottom: 3px;
            right: 3px;
        }

        .truncateAmenity {
            width: 100%;
            height: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .truncateDesc {
            width: 100%;
            height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .truncateDesc2 {
            width: 100%;
            height: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <style>
      

.internal-page-title {
  width: 100% !important;
  background-size: cover !important;
  background-position: center !important;
  text-align: center !important;
  padding: 150px 0 110px !important;
  position: relative !important;
  z-index: 1 !important;
  border-bottom: 3px solid #7b2382 !important; }
@@media (max-width: 992px) {
.internal-page-title {
    margin-top: 20px !important;
    padding: 110px 0 !important; } 
}
.internal-page-title:before {
    z-index: -1 !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    content: "";
    width: 100% !important;
    height: 100% !important;
    
}
    </style>
}
<!-- Internal Page Header -->
    <div class="internal-page-title about-page @ViewBag.PageHeaderClass" data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
        <ol class="breadcrumb">
            <!-- Internal Page Breadcrumb -->
            <li><a href="~/home">Home</a></li>
            <li class="active">Latest Offers</li>
        </ol>
    </div>
<!-- Special Packages -->
<div id="special-packages" class="room-container container room-list">
    <!-- Heading box -->
    <div class="heading-box">
        <h2> <span>Latest Offers</span></h2><!-- Title -->
        <div class="subtitle">Choose one of our latest offers</div>
    </div>

    <!-- Package Container -->
    <div class="offers-responsive">
        <!-- Package Box -->
        @if (ViewBag.splPkgs != null)
        {
            foreach (SpecialPackage item in ViewBag.splPkgs)
            {
                <div class="room-box clearfix">
                    <div class="img-container col-xs-6">
                        <a href="Offers/@item.NameEn.Replace(" ","")">
                            <img src="@item.ImageEn" alt="@item.NameEn">
                        </a>
                        @*@if (item.BookingRedirection)
                            {<a href="@item.bookingURL" class="btn btn-default">Book Now</a>}*@
                    </div>
                    <div class="details col-xs-6">
                        <div class="title">
                            @*<a href="#">@item.NameEn</a>*@
                            @*<a href="Offers/@item.NameEn.Replace(" ","")"><strong>@item.NameEn</strong></a>*@
                            @Html.ActionLink(item.NameEn, "Offers", "latestoffers", new { @name = item.NameEn.Replace(" ", ""), @class = "" }, null)
                        </div>
                        <div class="desc ">
                            @if (item.Mode == 1)
                            {
                                <div class="truncateDesc2">
                                    @Html.Raw(HttpUtility.HtmlDecode(item.DescriptionEn.Replace("<p><br></p>", "")))
                                    
                                </div>
                                <div><a href="~/Offers/@item.NameEn.Replace(" ","")" class="text ">More..</a></div>
                                <div class="bottom-align-text ">
                                    <a href="tel:0096692000666" class="btn btn-default" target="_blank">Book Now</a>
                                </div>

                            }
                            else
                            {
                                <div class="truncateDesc">
                                    @Html.Raw(HttpUtility.HtmlDecode(item.DescriptionEn.Replace("<p><br></p>", "")))
                                    
                                </div>
                                <div><a href="~/Offers/@item.NameEn.Replace(" ","")" class="text">More..</a></div>
                                <div class="truncateAmenity">
                                    <ul class="facilities list-inline">
                                        @for (int i = 0; i < item.arAmnEn.Length; i++)
                                        {
                                            if (!String.IsNullOrEmpty(item.arAmnEn[i]))
                                            {
                                                <li><i class="fa @item.amIcons[i]"></i>@item.arAmnEn[i]</li>
                                            }

                                        }                                        
                                    </ul>
                                </div>
                                @*<p class=""><div class="truncateDesc">@Html.Raw(HttpUtility.HtmlDecode(item.DescriptionEn))</div></p>*@
                                <div class="bottom-align-text ">

                                    @if (item.BookingRedirection && item.bookingURL != "")
                                    {
                                        <a href="@item.bookingURL" class="btn btn-default" target="_blank">Book Now</a>
                                    }
                                </div>
                            }
                            @*<a href="Offers/@item.NameEn.Replace(" ","")" class="btn btn-default">Select Package</a>*@
                        </div>

                        <div class="price">
                            <span> @Convert.ToInt64(item.OfferPrice) @item.Currency</span>
                            @if (item.Mode == 1)
                            {
                                @("- Per Person ")
                            }
                            @if (item.Mode == 2)
                            {
                                @("- Per Night ")
                            }
                        </div>

                    </div>
                </div>
            }
        }
        else
        {
            <p>No Content Available</p>
        }
    </div>
</div>
<!-- End of Special Packages -->



@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
        $("p").removeClass("p1");$("p").removeClass("p2"); $("p").removeClass("p3"); $("p").removeClass("p4"); $("p").removeClass("p5");
    </script>
}