﻿
@{
    ViewBag.Title = "Latest Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .room-container .room-box .img-container {
            height: 350px;
        }
    </style>
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/boudl-apart/assets/img/headers/offers-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li class="active">Latest Offers</li>
    </ol>
</div>
<!-- Special Packages -->
<div id="special-packages" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>Special <span>Packages</span></h2><!-- Title -->
        <div class="subtitle">Choose one of our special packages</div><!-- Subtitle -->
    </div>

    <!-- Package Container -->
    <div class="package-container clearfix">
        <!-- Package Box -->
        @if (ViewBag.SpecialPackages != null)
        {
            foreach (SpecialPackage item in ViewBag.SpecialPackages)
            {
                <div class="package-box wow fadeInUp col-sm-6">
                    <div class="package-inner">
                        <div class="title">@item.NameEn</div>
                        <img src="@item.ImageEn" class="img-responsive" alt="@item.NameEn" />
                        <!-- <div class="price"><span>SAR 340</span>per night</div> -->
                        <div class="package-details">
                            <ul>
                                @foreach (String element in item.AmenitiesEn.Split(','))
                                {
                                    <li>@element</li>
                                }
                            </ul>

                        </div>
                        <a href="#" class="btn btn-default">Select Package</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No Content Available</p>
        }
        @*<div class="package-box wow fadeInUp col-sm-6">
            <div class="package-inner">
                <div class="title">Honeymoon</div>
                <img src="~/assets/img/corporate/honeymoon-package.jpg" class="img-responsive" alt="family pacakge" />
                <!-- <div class="price"><span>SAR 340</span>per night</div> -->
                <div class="package-details">
                    <ul>
                        <li>Room Decoration</li>
                        <li>Honeymooner’s Cake </li>
                        <li>Music Concert</li>
                        <li>Candles</li>
                        <li>Bouquet</li>
                        <li>Fruit Basket</li>
                    </ul>
                </div>
                <a href="#" class="btn btn-default">Select Package</a>
            </div>
        </div>

        <!-- Package Box -->
        <div class="package-box wow fadeInUp col-sm-6" data-wow-delay="0.5s">
            <div class="package-inner">
                <div class="title">Family</div>
                <img src="~/assets/img/corporate/family-package.jpg" class="img-responsive" alt="honeymoon pacakage" />
                <!-- <div class="price"><span>SAR 340</span>per night</div> -->
                <div class="package-details">
                    <ul>
                        <li>Restaurant</li>
                        <li>Music Concert</li>
                        <li>Sport Activities</li>
                        <li>Swimming Pool</li>
                        <li>Kids Club</li>
                        <li>Spacious Room</li>
                    </ul>
                </div>
                <a href="#" class="btn btn-default">Select Package</a>
            </div>
        </div>*@
    </div>
</div>
<!-- End of Special Packages -->



@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}