﻿
@{
    ViewBag.Title = "Latest Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .room-container .room-box .img-container {
            height: 350px;
        }
    </style>
}
<!-- Internal Page Header -->

<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li class="active">Latest Offers</li>
    </ol>
</div>

<!-- Special Packages -->
<div id="special-packages" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>Latest <span>Offers</span></h2><!-- Title -->
        @*<div class="subtitle">Choose one of our special packages</div>*@
        <div class="subtitle">Choose one of our latest offers</div>

        <!-- Subtitle -->
    </div>

    <!-- Package Container -->
    <div class="package-container clearfix">
        <!-- Package Box -->
        @if (ViewBag.splPkgs != null)
        {
            foreach (SpecialPackage item in ViewBag.splPkgs)
            {

                <div class="package-box wow fadeInUp col-sm-6">
                    <div class="package-inner">
                        <div class="title">@item.NameEn</div>
                        <img src="@item.ImageEn" class="img-responsive" alt="@item.NameEn" />
                        @*<div class="price"><span>SAR 340</span>per night</div>*@
                        @if (item.Mode == 1)
                        {
                            <div class="price">
                                <span>@item.Currency @item.OfferPrice</span>  @("-Per Night ")
                            </div>
                        }
                        <div class="package-details">
                            @if (item.Mode == 1)
                            {
                                <p>@item.DescriptionEn</p>
                            }
                            else
                            {
                                <ul>
                                    @foreach (String element in item.AmenitiesEn.Split(','))
                                    {
                                        <li>@element</li>
                                    }
                                </ul>
                            }
                            
                        </div>
                        <a href="Offers/@item.NameEn.Replace(" ","")" class="btn btn-default">Select Package</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No Content Available</p>
        }
    </div>
</div>
<!-- End of Special Packages -->



@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}