﻿
@{
    ViewBag.Title = "Boudl El Nakhil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<div class="room-detail-page">
    <!-- Main Slider -->
    <div id="room-details-slider">
        <div class="items">
            <img src="~/assets/img/branches/AlNakhil/1.jpg" alt="Al Worod 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlNakhil/2.jpg" alt="Al Worod 2" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlNakhil/3.jpg" alt="Al Worod 3" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlNakhil/4.jpg" alt="Al Worod 4" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlNakhil/5.jpg" alt="Al Worod 5" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlNakhil/6.jpg" alt="Al Worod 6" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlNakhil/7.jpg" alt="Al Worod 7" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlNakhil/8.jpg" alt="Al Worod 9" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlNakhil/9.jpg" alt="Al Worod 9" />
        </div>
    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <div class="heading-box">
                <h2>Boudl <span>El Nakhil</span></h2><!-- Title -->
            </div>
            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-in" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-Out" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">Adult</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">Children</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default h-75" value="Book Now" type="submit" onClick="window.open('http://nakheel.boudl.com/V8Client/Inquiry.aspx');" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                The Boudl Resort Aonizah has elegantly decorated chalets, each one with a private pool and free Wi-Fi. It also has a children’s
                playground and a garden. It offers a 24-hour front desk and room service. All the chalets at Boudl Resort Aonizah have a living
                room with a satellite LCD TV and a CD player. The spacious units include a washing machine and ironing facilities. Each
                air-conditioned chalet has its own private entrance. Guests can prepare their own meals in the privacy of their own chalets. The
                fully equipped kitchens include a microwave and a refrigerator. The Boudl Resort is located 30 km away from the amusement area
                of Aonizah. The Qassim Regional Airport is less than 40 km away.
            </p>
            <br />

        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/assets/img/branches/AlNakhil/services.jpg" alt="Boudl Al Worod Services" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">Hotel Services</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-wifi"></i> Free Wifi</li>
                        <li><i class="fa fa-coffee"></i> Coffee Shop</li>
                        <li><i class="fa fa-bed"></i> 24H Reception</li>
                        <li><i class="fa fa-tags"></i> Laundry Service</li>
                        <li><i class="fa fa-user"></i> Grooms Service</li>
                        <li><i class="fa fa-building-o"></i> Kids Games</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->
<div id="map" class="loc-map">

</div>

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var myLatLng = new google.maps.LatLng(26.040367, 43.970851);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/boudl-apart/assets/img/corporate/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


}