﻿@model BoudlHotel.Models.FindAHotelNewDTO
@{
    Layout = null;
}
@*<strong>Welcome to parial view</strong>

    <div class="clearfix">@Model.CityEn</div>

    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
    </div>*@
@if (ViewBag.countries != null)
{
    foreach (var item in ViewBag.countries)
    {
        <h3>@item.NameEn</h3><hr />
        if (ViewBag.cities != null)
        {
            foreach (var citem in ViewBag.cities)
            {
                if (citem.CountryId == item.Id)
                {
                    <h5><strong>@citem.NameEn</strong></h5>
                    <br />
                    if (ViewBag.BranchList != null)
                    {
                        foreach (var bitem in ViewBag.BranchList)
                        {
                            if (bitem.CityId == citem.Id)
                            {
                                
                                var websiteurl = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["hostFolder"]);
                                var branchurl = websiteurl + "ar/branches/" + bitem.NameEn.ToLower().Replace(" ", "-");
                                <a href="@branchurl"><span>@bitem.NameEn</span></a><br />
                            }


                        }
                    }
                }


            }
        }
    }



}
