﻿
@{
    ViewBag.Title = "Find Hotels by Location Map | Boudl Hotels Saudi Arabia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <style>

    .p-br{
        margin: 0px !important;
    }
    </style>
}
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/boudl-apart/assets/img/headers/News-Boudl.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li class="active">Find Hotels by Location</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<div id="welcome1" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2><span>Find Hotel</span></h2>
        <div class="subtitle">Find List of Hotel by Map or List</div>
        <!-- Title -->
    </div>
</div>
<div id="welcome" class="container ">
    <div class="main-content container">
        <!-- Page Content -->
        <aside class="sidebar right-sidebar col-sm-8">
            <!-- Text Widget -->
            <div class="widget widget_text">
                <div class="textwidget text-justify">
                    <div class="loc-map" id="map"></div>
                </div>
            </div>
        </aside>
        <!-- Sidebar Section -->
        <div class="page-content col-sm-4">
            <div class="table-responsive">
                <table class="table text-left thead-inverse" id="branches">
                    <thead>
                        <tr>
                            <th>Branches</th>
                        </tr>
                    </thead>
                    <tbody id="locs">
                        @*<tr id="loc" data-locid="1">
                            <td>
                                <p class="p-br"><strong>Boudl Olaya</strong></p> <p class="p-br"> Some text address, City, Districts </p>
                                <a style="background-image:linear-gradient(to left ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">Book Now</a> &nbsp; <a style="background-image:linear-gradient(to right ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">View Branch</a>
                            </td>
                        </tr>
                        <tr id="loc" data-locid="2">
                            <td>
                                <p class="p-br"><strong>Boudl Qurtuba</strong></p> <p class="p-br"> Some text address, City, Districts </p>
                                <a style="background-image:linear-gradient(to left ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">Book Now</a> &nbsp; <a style="background-image:linear-gradient(to right ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">View Branch</a>
                            </td>
                        </tr>
                        <tr id="loc" data-locid="3">
                            <td>
                                <p class="p-br"><strong>Boudl Abha</strong></p> <p class="p-br"> Some text address, City, Districts </p>
                                <a style="background-image:linear-gradient(to left ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">Book Now</a> &nbsp; <a style="background-image:linear-gradient(to right ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">View Branch</a>
                            </td>
                        </tr>
                        <tr id="loc" data-locid="4">
                            <td>
                                <p class="p-br"><strong>Boudl Dammam</strong></p> <p class="p-br"> Some text address, City, Districts </p>
                                <a style="background-image:linear-gradient(to left ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">Book Now</a> &nbsp; <a style="background-image:linear-gradient(to right ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">View Branch</a>
                            </td>
                        </tr>*@
                    </tbody>
                    
                </table>
            </div>
        </div>
        <!-- Sidebar Section -->
    </div>
</div>
<br /><br />

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky trans-header contact type-1")
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    
    <script>
        $(document).ready(function () {
            initialize();
        });
        var map;
        var markers = [];
        var lastinfowindow;
        var locIndex;
        var data;

        //Credit: MDN
        if ( !Array.prototype.forEach ) {
            Array.prototype.forEach = function(fn, scope) {
                for(var i = 0, len = this.length; i < len; ++i) {
                    fn.call(scope, this[i], i, this);
                }
            }
        }



        var data = [
          {
              "id": 39,
              "type": 7,
              "hotelEn": "Boudl",
              "hotelAr": "بودل",
              "addressEn": "al bahar",
              "addressAr": "al bahar arabic",
              "titleEn": "Al Woroud",
              "titleAr": "الورود",
              "countryEn": "Saudi Arabia",
              "countryAr": "Ar Saudi Arab",
              "cityEn": "Riyadh",
              "cityAr": "الرياض",
              "latitude": "24.786641",
              "longitude": "46.685387",
              "bookingURL": "http://worood.boudl.com/V8Client/Inquiry.aspx"
          },
          {
              "id": 66,
              "type": 8,
              "hotelEn": "Braira",
              "hotelAr": "بریرا",
              "addressEn": "Olaya",
              "addressAr": "العليا",
              "titleEn": "Olaya",
              "titleAr": "العليا",
              "countryEn": "Saudi Arabia",
              "countryAr": "Ar Saudi Arab",
              "cityEn": "Riyadh",
              "cityAr": "الرياض",
              "latitude": "24.685302",
              "longitude": "46.688793",
              "bookingURL": "http://olaya.boudl.com/V8Client/Inquiry.aspx"
          },
          {
              "id": 76,
              "type": 8,
              "hotelEn": "Braira",
              "hotelAr": "بریرا",
              "addressEn": "234-234/as , riad. hswedh-E",
              "addressAr": "Ar 234-234/as , riad. hswedh-E",
              "titleEn": "New branch-e",
              "titleAr": "New branch ar-e",
              "countryEn": "Saudi Arabia",
              "countryAr": "Ar Saudi Arab",
              "cityEn": "Dammam",
              "cityAr": "الدمام",
              "latitude": "17.436620",
              "longitude": "78.401120",
              "bookingURL": "http://csadms.com/BoudlGroupTest"
          },
          {
              "id": 78,
              "type": 7,
              "hotelEn": "Boudl",
              "hotelAr": "بودل",
              "addressEn": "ter",
              "addressAr": "ar ter",
              "titleEn": "bran",
              "titleAr": "ar bran",
              "countryEn": "Saudi Arabia",
              "countryAr": "Ar Saudi Arab",
              "cityEn": "Riyadh",
              "cityAr": "الرياض",
              "latitude": "4.54552",
              "longitude": "8.145545",
              "bookingURL": "http://csadms.com/BoudlGroupTest/Branches/ManageBranch"
          },
          {
              "id": 79,
              "type": 7,
              "hotelEn": "Boudl",
              "hotelAr": "بودل",
              "addressEn": "Braira Al - Azizya",
              "addressAr": "بریرا العزیزیة",
              "titleEn": "New Branch In Eng1",
              "titleAr": "New Branch in Ar",
              "countryEn": "Saudi Arabia",
              "countryAr": "Ar Saudi Arab",
              "cityEn": "Riyadh",
              "cityAr": "الرياض",
              "latitude": "24.251441",
              "longitude": "46.152214",
              "bookingURL": "http://www.boudl.com"
          },
          {
              "id": 80,
              "type": 7,
              "hotelEn": "Boudl",
              "hotelAr": "بودل",
              "addressEn": "Braira Al - Azizya",
              "addressAr": "بریرا العزیزیة",
              "titleEn": "Aber Hotel547",
              "titleAr": "Aber Hotel231",
              "countryEn": "Saudi Arabia",
              "countryAr": "Ar Saudi Arab",
              "cityEn": "Abha",
              "cityAr": "أبها",
              "latitude": "24.251441",
              "longitude": "46.152214",
              "bookingURL": "http://azizia.boudl.com/V8Client/Inquiry.aspx"
          },
          {
              "id": 81,
              "type": 7,
              "hotelEn": "Boudl",
              "hotelAr": "بودل",
              "addressEn": "265-retyer",
              "addressAr": "64576-df",
              "titleEn": "hitex branch123",
              "titleAr": "ar hitex",
              "countryEn": "Saudi Arabia",
              "countryAr": "Ar Saudi Arab",
              "cityEn": "Riyadh",
              "cityAr": "الرياض",
              "latitude": "0.546514",
              "longitude": "0.454554",
              "bookingURL": "https://boudl.com/"
          },
          {
              "id": 82,
              "type": 8,
              "hotelEn": "Braira",
              "hotelAr": "بریرا",
              "addressEn": "Mahi",
              "addressAr": "Ar Mahi",
              "titleEn": "test2",
              "titleAr": "Test 2Ar",
              "countryEn": "Saudi Arabia",
              "countryAr": "Ar Saudi Arab",
              "cityEn": "Al Taif",
              "cityAr": "الطائف",
              "latitude": "56.251441",
              "longitude": "21.401120",
              "bookingURL": "http://csadms.com/BoudlGroupTestAdmin"
          },
          {
              "id": 84,
              "type": 9,
              "hotelEn": "Aber Hotel",
              "hotelAr": "عابر",
              "addressEn": "olaya",
              "addressAr": "عابر العليا",
              "titleEn": "Aber Olaya ",
              "titleAr": "عابر العليا",
              "countryEn": "Saudi Arabia",
              "countryAr": "Ar Saudi Arab",
              "cityEn": "Riyadh",
              "cityAr": "الرياض",
              "latitude": "24.692320",
              "longitude": "46.665989",
              "bookingURL": "http://olaya.booking.com"
          },
          {
              "id": 85,
              "type": 9,
              "hotelEn": "Aber Hotel",
              "hotelAr": "عابر",
              "addressEn": "Qurtubah, 11211",
              "addressAr": "Qurtubah, 11211",
              "titleEn": "Aber 103",
              "titleAr": "Aber 103",
              "countryEn": "Saudi Arabia",
              "countryAr": "Ar Saudi Arab",
              "cityEn": "Riyadh",
              "cityAr": "الرياض",
              "latitude": "45.656562",
              "longitude": "43.232326",
              "bookingURL": "http://www.aberhotels.com/"
          }
        ];

        //A utility function that translates a given type to an icon
        //function getIcon(type) {
        //    switch(type) {
        //        case "6": return "new4_files/drugstore.png";
        //        case "7": return "new4_files/fav.png";
        //        case "8": return "new4_files/barber.png";
        //        case "9": return "new4_files/barber.png";
        //        default: return "new4_files/fav.png";
        //    }
        //}

        function initialize() {
            var latlng = new google.maps.LatLng(22.7224706, 25.3357758);
            var myOptions = {
                zoom: 2,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map"), myOptions);

            geocoder = new google.maps.Geocoder();

            data.forEach(function (mapData, idx) {
                var marker = new google.maps.Marker({
                    map: map,
                    position: new google.maps.LatLng(mapData.latitude, mapData.longitude),
                    title: mapData.titleEn,
                    icon: "/assets/img/corporate/fav.png"
                });
                var contentHtml = "<div style='width:200px;height:80px; '><div><strong>" + mapData.titleEn + "</strong> - " + mapData.addressEn + "</div><div><br/><a  style='background-image:linear-gradient(to right,#7b2382,#9c2e78); color:#fff; padding:3px;' href='" + mapData.bookingURL + "' target='_blank'>Book Now </a> &nbsp; <a  style='background-image:linear-gradient(to left ,#7b2382,#9c2e78); color:#fff; padding:3px;' href='#' target='_blank'>View Branch</a> </div></div>";
                var infowindow = new google.maps.InfoWindow({
                    content: contentHtml
                });
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
                marker.locid = idx + 1;
                marker.infowindow = infowindow;
                markers[markers.length] = marker;
                var sideHtml = '<tr class="loc" data-locid="' + marker.locid + '"><td><p class="p-br" ><strong>' + mapData.titleEn + '</strong></p><p class="p-br">' + mapData.addressEn + ', ' + mapData.cityEn + ', ' + mapData.countryEn + '</p>';
                sideHtml += '<a href="' + mapData.bookingURL + '" style="background-image:linear-gradient(to left ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">Book Now</a> &nbsp; ';
                sideHtml += '<a href="#"style="background-image:linear-gradient(to right ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">View Branch</a>';
                sideHtml += '</td></tr>';

                $("#locs").append(sideHtml);

                //Are we all done? Not 100% sure of this
                //if (markers.length == data.length) doFilter();
            });

            $(document).on("click", ".loc", function () {
                var thisloc = $(this).data("locid");
                for (var i = 0; i < markers.length; i++) {
                    if (markers[i].locid == thisloc) {
                        //get the latlong
                        if (lastinfowindow instanceof google.maps.InfoWindow) lastinfowindow.close();
                        map.panTo(markers[i].getPosition());
                        markers[i].infowindow.open(map, markers[i]);
                        lastinfowindow = markers[i].infowindow;
                    }
                }
            });

            //function doFilter() {
            //    if (!locIndex) {
            //        locIndex = {};
            //        //I reverse index markers to figure out the position of loc to marker index
            //        for (var x = 0, len = markers.length; x < len; x++) {
            //            locIndex[markers[x].locid] = x;
            //        }
            //    }

            //    //what's checked?
            //    var checked = $("input[type=checkbox]:checked");
            //    var selTypes = [];
            //    for (var i = 0, len = checked.length; i < len; i++) {
            //        selTypes.push($(checked[i]).val());
            //    }
            //    for (var i = 0, len = data.length; i < len; i++) {
            //        var sideDom = "p.loc[data-locid=" + (i + 1) + "]";

            //        //Only hide if length != 0
            //        if (checked.length != 0 && selTypes.indexOf(data[i].type) < 0) {
            //            $(sideDom).hide();
            //            markers[locIndex[i + 1]].setVisible(false);
            //        } else {
            //            $(sideDom).show();
            //            markers[locIndex[i + 1]].setVisible(true);
            //        }
            //    }
            //}

            //$(document).on("click", "input[type=checkbox]", doFilter);
        }
        //});
    </script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
	    $(document).ready(function() {
	        $('#branches').DataTable({
	            "bLengthChange": false,
	            "pageLength": 5
	        });
    } );
    </script>

}
