﻿
@{
    ViewBag.Title = "Find Hotels by Location Map | Boudl Hotels Saudi Arabia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://boudl.com/boudl-apart/assets/img/headers/News-Boudl.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li class="active">Find Hotels by Location</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<div id="welcome1" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2><span>Find Hotel</span></h2>
        <div class="subtitle">Find List of Hotel by Map or List</div>
        <!-- Title -->
    </div>
</div>
<div id="welcome" class="container ">
    <div class="main-content container">
        <!-- Page Content -->
        <aside class="sidebar right-sidebar col-sm-8">
            <!-- Text Widget -->
            <div class="widget widget_text">
                <div class="textwidget text-justify">
                    <div class="loc-map" id="map"></div>
                </div>
            </div>
        </aside>
        <!-- Sidebar Section -->
        <div class="page-content col-sm-4">
            <div class="table-responsive">
                <table class="table text-left thead-inverse">
                    <tr>
                        <th class="">Country</th>
                        <th>City</th>
                        <th>District</th>
                        <th>Link</th>
                    </tr>
                    <tr>
                        <td>Saudi Arabia</td>
                        <td>Riyadh</td>
                        <td>Majmaa</td>
                        <td><a href="~/majmaa" target="_blank">Visit Branch</a></td>
                    </tr>
                    <tr>
                        <td>Saudi Arabia</td>
                        <td>Jeddah</td>
                        <td>Heraa</td>
                        <td><a href="~/heraa" target="_blank">Visit Branch</a></td>
                    </tr>
                    <tr>
                        <td>Saudi Arabia</td>
                        <td>Dammam</td>
                        <td>Al Shatea</td>
                        <td><a href="~/alshatea" target="_blank">Visit Branch</a></td>
                    </tr>
                    <tr>
                        <td>Kuwait</td>
                        <td>Kuwait City</td>
                        <td>Al Fahahil</td>
                        <td><a href="~/alfahahil" target="_blank">Visit Branch</a></td>
                    </tr>
                    <tr>
                        <td>Kuwait</td>
                        <td>Kuwait City</td>
                        <td>Al Salemya</td>
                        <td><a href="~/alsalemya" target="_blank">Visit Branch</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Sidebar Section -->
    </div>
</div>
<br /><br />

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky trans-header contact type-1")
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        var locations = [
            ['Al Majmaa', 25.916804, 45.363987, 4],
            ['Heera', 21.607845, 39.126636, 5],
            ['Al Shatea', 26.453918, 50.121590, 3],
            ['AL Fahahil', 29.083750, 48.134050, 2],
            ['Al Salemya', 29.336273, 48.087458, 1]
        ];

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5,
            center: new google.maps.LatLng(25.916804, 45.363987),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;



        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    </script>

}
