﻿
@{
    ViewBag.Title = "Find Hotels by Location Map | Boudl Hotels Saudi Arabia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <style>
        .p-br {
            margin: 0px !important;
        }


        .dataTables_wrapper .dataTables_paginate .paginate_button {
            border: 1px solid #57114E;
            background: #fff;
            color: #57114E;
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
                border: 1px solid #57114E;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                background: #57114E !important;
                color: #ffffff !important;
                border: 1px solid #57114E;
            }

        .mHeight {
            height: 700px;
        }
    </style>

}

<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://boudl.com/boudl-apart/assets/img/headers/News-Boudl.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li class="active">Find Hotels by Location</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<div id="welcome1" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2><span>Find Hotel</span></h2>
        <div class="subtitle">Find List of Hotel by Map or List</div>
        <!-- Title -->
    </div>
</div>
<div id="" class="container ">
    @*<div id="welcome" class="container ">*@
    <div class="main-content container">
        <div class="col-sm-12">

            <div class="col-sm-10"></div>
            <div class="col-sm-2">
                <a href="#" id="Map1"><i class="fa fa-map-marker"></i>Map</a> |
                <a href="#" id="Data1"><i class="fa fa-th-list"></i>List</a>
            </div>

        </div>
        <!-- Page Content -->
        <aside class="sidebar right-sidebar col-sm-12" id="exploremap">
            @if (ViewBag.HotelAmenities != null)
            {
                <div class="">
                    @foreach (var item in ViewBag.HotelAmenities)
                    {

                        <input type="checkbox" class="chk" id="amdId" name="AmenitiesIDs" title="@item.Text" value="@item.Value" onchange="filterMarkers(this.value);" style="margin-left:20px;" />
                        @*@item.Text*@
                        <label for="@item.Text">@item.Text</label>

                    }
                </div>
            }
            <!-- Text Widget -->
            <div class="widget widget_text">
                <div class="textwidget text-justify">
                    <div class="" id="hoteldetails">
                        <div class="card" style="width: 18rem;">
                            <img id="imgmap" style="height:145px" class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><label class="text" id="mapdivtitle"></label></h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a id="maplink" href="#" class="btn btn-primary" target="_blank">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div>
                        <div class="loc-map mHeight" id="map">
                        </div>
                    </div>
                </div>
               
            </div>

                @*<div class="card-image">
                    <img id="imgmap" width="50" height="50" src="" class="hc-brand-img" alt="" data-locator="brand-logo">
                </div>
                <div class="b-row card-details b-pt3 b-pb2" data-locator="card-details">
                    <div  class="card-name pb1 b-text_copy-4 b-text_weight-bold" data-locator="name">
                       
                    </div>
                </div>
                <div class="b-row b-row_justify-between card-bottom-bar b-pv2 b-mt1" data-locator="card-bottom-bar">
                    <div class="b-col_align-middle b-text_copy-2 b-text_weight-bold card-view-web" data-locator="propertyLink">
                        <a id="maplink" href="" target="_blank" class="button-as-link b-link-newwin">View Hotel</a>
                    </div>
                </div>*@
                @*<div class="b-row pb2 b-text_align-center card-rate-section" data-locator="card-rate-section">
                    <div id="divmapamount" class="b-col-12 card-rate b-text_display-2 b-text_weight-bold" data-locator="card-rate">
                    </div>
                </div>*@
            
        </aside>
        <!-- Sidebar Section -->
        @*<div class="page-content col-sm-4">
                <div class="table-responsive">
                    <table class="table text-left thead-inverse" id="branches">
                        <thead>
                            <tr>
                                <th>Branches</th>
                            </tr>
                        </thead>
                        <tbody id="locs">
                           <tr id="loc" data-locid="1">
                                <td>
                                    <p class="p-br"><strong>Boudl Olaya</strong></p> <p class="p-br"> Some text address, City, Districts </p>
                                    <a style="background-image:linear-gradient(to left ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">Book Now</a> &nbsp; <a style="background-image:linear-gradient(to right ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">View Branch</a>
                                </td>
                            </tr>
                            <tr id="loc" data-locid="2">
                                <td>
                                    <p class="p-br"><strong>Boudl Qurtuba</strong></p> <p class="p-br"> Some text address, City, Districts </p>
                                    <a style="background-image:linear-gradient(to left ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">Book Now</a> &nbsp; <a style="background-image:linear-gradient(to right ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">View Branch</a>
                                </td>
                            </tr>
                            <tr id="loc" data-locid="3">
                                <td>
                                    <p class="p-br"><strong>Boudl Abha</strong></p> <p class="p-br"> Some text address, City, Districts </p>
                                    <a style="background-image:linear-gradient(to left ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">Book Now</a> &nbsp; <a style="background-image:linear-gradient(to right ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">View Branch</a>
                                </td>
                            </tr>
                            <tr id="loc" data-locid="4">
                                <td>
                                    <p class="p-br"><strong>Boudl Dammam</strong></p> <p class="p-br"> Some text address, City, Districts </p>
                                    <a style="background-image:linear-gradient(to left ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">Book Now</a> &nbsp; <a style="background-image:linear-gradient(to right ,#7b2382,#9c2e78); color:#fff; padding:3px;" href="#">View Branch</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>*@
        <!-- Sidebar Section -->
        @*<div  >
            </div>*@
        <div class="col-sm-12" id="exploredata">
            <div class="col-sm-12">

                <hr />
                <div class="col-sm-4">
                    <label>Select City</label>
                    @Html.DropDownList("HotelList", (IEnumerable<SelectListItem>)ViewBag.CoutrList, "Select City", new { @Id = "ddlHotel" })
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <label>Select Hotel Amenity</label>
                    @Html.DropDownList("HotelAmenities", (IEnumerable<SelectListItem>)ViewBag.HotelAmenities, "Select Hotel Amenities", new { @Id = "ddlAmenity", @onchange = "ddlAmty()" })
                </div>
            </div>
            <div class="col-sm-12" id="divhotelcities">



                <!-- /.modal-content -->
                @*@if (ViewBag.countries != null)
                    {
                        foreach (var item in ViewBag.countries)
                        {
                            <h3>@item.NameEn</h3><hr />
                            if (ViewBag.cities != null)
                            {
                                foreach (var citem in ViewBag.cities)
                                {
                                  if (citem.CountryId == item.Id)
                                  {
                                      <h5><strong>@citem.NameEn</strong></h5>
                                      <br />
                                      if (ViewBag.BranchList != null)
                                      {
                                          foreach (var bitem in ViewBag.BranchList)
                                          {
                                              if (bitem.CityId == citem.Id)
                                              {
                                                 if (bitem.HotelId == 7)
                                                 {
                                                     <a href="http://boudl.com/branches/@bitem.NameEn.ToLower().Replace(" ", "-")" target="_blank"><span>@bitem.NameEn</span></a><br />
                                                 }
                                                 else if (bitem.HotelId == 8)
                                                 {
                                                     <a href="http://boudl.com/brairadev/branches/@bitem.NameEn.ToLower().Replace(" ", "-")" target="_blank"><span>@bitem.NameEn</span></a><br />
                                                 }
                                                 else if (bitem.HotelId == 9)
                                                 {
                                                     <a href="http://boudl.com/aberdev/branches/@bitem.NameEn.ToLower().Replace(" ", "-")" target="_blank"><span>@bitem.NameEn</span></a><br />
                                                 }

                                              }


                                          }
                                      }
                                  }


                                }
                            }
                        }


                    }*@

            </div>

        </div>


    </div>
</div>
<br /><br />

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky trans-header contact type-1")
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    @*<script>
            $(document).ready(function () {
                var HotelId = null;
                var AmenityId = null;

            });
        </script>*@
    <script type="text/javascript">
        var map;
        var markers = [];
        var markers1 = [];
        var gmarkers1 = [];
        var umarkers2 = [];
        var ugmarkers2 = [];
        var lastinfowindow;
        var locIndex = [];
        var data;
        var res;
        var HotelId = "";
        var AmenityId = "";
        var infowindow;
        var url = "http://boudl.com/boudlgrouptest/Uploads/"
        $("#hoteldetails").hide();
        $('#exploredata').hide();
        $('#exploremap').show();
        $('#Map1').click(function () {
            $('#exploredata').hide();
            $('#exploremap').show();
        })
        $('#Data1').click(function () {
            $('#exploredata').show();
            $('#exploremap').hide();
        })

        $('#ddlHotel').change(function () {
            HotelId = $(this).val();
            //alert(HName);
            // Commented Temporarily
            var AmntId = AmenityId;
            @*var url = "@Url.Action("getData", "FindAHotel", new { HtId="_HtId_", para = "_AmtId_"})";
            var url2 = url.replace("_HtId_", HotelId);
            var url3 = url2.replace("_AmtId_", AmntId);
            window.location.href = "/boudldev/FindAHotel/getData?HtId=" + HotelId.toString() + "&para=" + AmntId.toString();*@

            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { HtId: HotelId, AmtId: AmenityId },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                    //$('#full').modal(options);
                    //$('#full').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        })
        function ddlAmty() {
            var hotelid = HotelId;

            var id = "" + $("#ddlAmenity").val() + "";

            @*var url = '@Url.Action("getData", "FindAHotel", new { HtId = "__HtId__", para = "__para__" })';
            var urlredirec = "FindAHotel/getData?HtId=" + 2 + "&para=" + id;
            window.location.href = "/boudldev/FindAHotel/getData?HtId=" + hotelid.toString() + "&para=" + id.toString();*@
            ////FindAHotel/getData?HtId=" + 75 + "&para=" + 2;
            var $buttonClicked = $(this);
            var testid = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { HtId: hotelid, para: id },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                    //$('#full').modal(options);
                    //$('#full').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

        }

        var Hdata = "@ViewData["HotelId"]";
        var Adata = "@ViewData["AmenityId"]";

        if (Hdata > 0) {
            $('#exploredata').show();
            $('#exploremap').hide();
            HotelId = Hdata;
            $('#ddlHotel option[value=' + Hdata + ']').attr("selected", true);
        }
        if (Adata > 0) {
            $('#exploredata').show();
            $('#exploremap').hide();
            AmenityId = Adata.toString();
            $('#ddlAmenity option[value=' + Adata + ']').attr("selected", true);
        }
        //Credit: MDN
        if (!Array.prototype.forEach) {
            Array.prototype.forEach = function (fn, scope) {
                for (var i = 0, len = this.length; i < len; ++i) {
                    fn.call(scope, this[i], i, this);
                }
            }
        }
        var array = [];
        //A utility function that translates a given type to an icon
        //function getIcon(type) {
        //    switch (type) {
        //        case 6: return "";
        //        case 7: return "http://boudl.com/assets/img/corporate/fav.png";
        //        case 8: return "http://boudl.com/brairadev/assets/img/fav.png";
        //        case 9: return "http://boudl.com/aberdev/assets/img/favicon.ico";
        //        case 10: return "http://boudl.com/boudlgroupdev/images/narcissus_favicon.ico";
        //        default: return "";
        //    }
        //}
        function getIcon(type) {
            switch (type) {
                case 6: return "";
                case 7: return "http://boudl.com/assets/img/Boudl.png";
                case 8: return "http://boudl.com/brairadev/assets/img/Braira.png";
                case 9: return "http://boudl.com/aberdev/assets/img/Aber.png";
                case 10: return "http://boudl.com/boudlgroupdev/images/MapIcons/Narcissus.png";
                default: return "";
            }
        }
        //var gmarkers1 = [];
        //var markers1 = [];
        //var infowindow = new google.maps.InfoWindow({
        //    content: ''url: '@Url.Action("getBranches","Offers")',
        //});
        var markerCluster;
        function initMap() {
            var mapOptions = {
                zoom: 3,
                center: { lat: 22.7224706, lng: 47.3357758 },
                mapTypeId: google.maps.MapTypeId.TERRAIN
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            infowindow = new google.maps.InfoWindow({
                content: ''
            });
            $.ajax({
                url: '@Url.Action("getAmenities","FindAHotel")',
                type: "POST",
                dataType: "text json",
                success: function (result, status, jqXHR) {
                    data = result;//data = JSON.stringify(result) ;
                    markers1 = data;
                    for (i = 0; i < markers1.length; i++) {
                        addMarker(markers1[i]);
                    }
                    //markerCluster = new MarkerClusterer(map, gmarkers1, {
                    //    imagePath: 'https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m'
                    //});

                    loadmpa(map, gmarkers1);
                },
                error: function (res) {
                }
            });
        }
        function loadmpa(_map, gmarkers1) {
            //markerCluster.clearMarkers();
            //markerCluster.addMarkers(newmarkers);
            markerCluster = new MarkerClusterer(map, gmarkers1, {
                imagePath: 'https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m'
            });
        }
        function addMarker(marker) {
            var category = marker.AmenityIds;
            var title = marker.BranchNameEn;
            var pos = new google.maps.LatLng(parseFloat(marker.Lat), parseFloat(marker.Lng));
            var icons = getIcon(marker.HotelId);
            var BranchImage = marker.BranchImage;
            var link = marker.BookingURL;

            //var content = "<div style='width:300px;height:100px'><h3>" + marker.BranchNameEn + "</h3>" + marker.AddressEn + "</div><div> <a href='" + marker.BookingURL;
            //var content = "<div style='width:200px;height:80px; '><div><strong>" + marker.BranchNameEn + "</strong> - " + marker.AddressEn + "</div><div><br/><a  style='background:#504742; color:#fff; padding:3px;' href='" + marker.BookingURL + "' target='_blank'>Book Now </a> &nbsp;  </div></div>";
            var content = "";
            marker1 = new google.maps.Marker({
                title: title,
                position: pos,
                category: category,
                icon: icons,
                map: map,
                image: BranchImage,
                link: link
            });

            //var ourMarker = getMarker(title)
            //google.maps.event.trigger(ourMarker, 'click');

            gmarkers1.push(marker1);
            // Marker click listener
            google.maps.event.addListener(marker1, 'click', (function (marker1, content) {
                return function () {
                    // console.log('Gmarker 1 gets pushed');
                    infowindow.setContent('');

                    infowindow.setContent(content);
                    //infowindow.open(map, marker1);
                    //map.panTo(this.getPosition());
                    //map.setZoom(5);
                    showdata(marker1);
                }
            })(marker1, content));
        }
        function showdata(marker1) {
            $("#hoteldetails").show();
            $("#imgmap").attr("src", url + marker1.image);
            $("#mapdivtitle").text(marker1.title);
            //$("#mapdivtitle").append(marker1.title);
            $("#maplink").attr("href", marker1.link);

        }
        //
        filterMarkers = function (category) {
            var newmarkers = [];
            var checked = $("input[type=checkbox]:checked");
            var selTypes = [];
            for (var i = 0, len = checked.length; i < len; i++) {
                selTypes.push($(checked[i]).val());
            }
            //var cc = $('input[type=checkbox]').prop('checked');
            
            for (i = 0; i < markers1.length; i++) {
                marker = gmarkers1[i];
                var aaa = selTypes;
                var bb = aaa.map(Number);
                var selLen = bb.length;
                var typeList = marker.category;
                var markerTypeArr = marker.category.split(" ").join('');
                //debugger;
                //var b = markerTypeArr.split(',');
                var c = markerTypeArr.split(',').map(Number);
                var commonTypes = $.grep(bb, function (element) {
                    return $.inArray(element, c) !== -1;
                });
                if (bb.length == 0) {
                    if (c.indexOf(parseInt(bb)) < 0) {
                        marker.setVisible(true);
                        //newmarkers.push(marker);
                    }
                }
                else {
                    if (commonTypes.length == selLen) {
                        marker.setVisible(true);
                        //newmarkers.push(marker);
                    }
                    else
                        marker.setVisible(false);
                }
                newmarkers.push(marker);
            }
          
           
            //markerCluster.redraw()
            //markerCluster.clearMarkers();
            //markerCluster.removeMarker(newmarkers);
            //markerCluster.resetViewport();
            
            //markerCluster = new MarkerClusterer(map, gmarkers1, {});
            //markerCluster.setMap(null);
            //loadmpa(map, newmarkers)
            //initMap();
        }
        //google.maps.event.addDomListener(window, "load", initialize);

        $(document).ready(function () {
            $("input.cbamenity").on('change', function () {
                console.log("changed");

            });
            @*$.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { HtId: HotelId, AmtId: AmenityId },
                url: '@Url.Action("View")',
                dataType: "json",
                success: function (data) {
                    alert(data);
                    $("#divhotelcities").html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                    $("#divhotelcities").html("");
                }
            })*@
            var HotelId = "";
            var AmenityId = "";
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { HtId: HotelId, AmtId: AmenityId },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                    //$('#full').modal(options);
                    //$('#full').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

    </script>
    <script>
        //$(function () {
        //    //$("#Data1").click(function () {
        //    //    var HotelId = "";
        //    //    var AmenityId = "";

        //    //});
        //});
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M&callback=initMap">
    </script>
    @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>

        <script>
            $(document).ready(function () {
                initialize();
            });
            var map;
            var markers = [];
            var lastinfowindow;
            var locIndex;
            var data;
            var urlPrepend = '@ViewData["urlPrepend"]';

            //Credit: MDN
            if ( !Array.prototype.forEach ) {
                Array.prototype.forEach = function(fn, scope) {
                    for(var i = 0, len = this.length; i < len; ++i) {
                        fn.call(scope, this[i], i, this);
                    }
                }
            }

            //var data = [
            //  {
            //      "id": 39,
            //      "type": 7,
            //      "hotelEn": "Boudl",
            //      "hotelAr": "بودل",
            //      "addressEn": "al bahar",
            //      "addressAr": "al bahar arabic",
            //      "titleEn": "Al Woroud",
            //      "titleAr": "الورود",
            //      "countryEn": "Saudi Arabia",
            //      "countryAr": "Ar Saudi Arab",
            //      "cityEn": "Riyadh",
            //      "cityAr": "الرياض",
            //      "latitude": "24.786641",
            //      "longitude": "46.685387",
            //      "bookingURL": "http://worood.boudl.com/V8Client/Inquiry.aspx"
            //  },
            //  {
            //      "id": 66,
            //      "type": 8,
            //      "hotelEn": "Braira",
            //      "hotelAr": "بریرا",
            //      "addressEn": "Olaya",
            //      "addressAr": "العليا",
            //      "titleEn": "Olaya",
            //      "titleAr": "العليا",
            //      "countryEn": "Saudi Arabia",
            //      "countryAr": "Ar Saudi Arab",
            //      "cityEn": "Riyadh",
            //      "cityAr": "الرياض",
            //      "latitude": "24.685302",
            //      "longitude": "46.688793",
            //      "bookingURL": "http://olaya.boudl.com/V8Client/Inquiry.aspx"
            //  },
            //  {
            //      "id": 76,
            //      "type": 8,
            //      "hotelEn": "Braira",
            //      "hotelAr": "بریرا",
            //      "addressEn": "234-234/as , riad. hswedh-E",
            //      "addressAr": "Ar 234-234/as , riad. hswedh-E",
            //      "titleEn": "New branch-e",
            //      "titleAr": "New branch ar-e",
            //      "countryEn": "Saudi Arabia",
            //      "countryAr": "Ar Saudi Arab",
            //      "cityEn": "Dammam",
            //      "cityAr": "الدمام",
            //      "latitude": "17.436620",
            //      "longitude": "78.401120",
            //      "bookingURL": "http://boudl.com/BoudlGroupTest"
            //  },
            //  {
            //      "id": 78,
            //      "type": 7,
            //      "hotelEn": "Boudl",
            //      "hotelAr": "بودل",
            //      "addressEn": "ter",
            //      "addressAr": "ar ter",
            //      "titleEn": "bran",
            //      "titleAr": "ar bran",
            //      "countryEn": "Saudi Arabia",
            //      "countryAr": "Ar Saudi Arab",
            //      "cityEn": "Riyadh",
            //      "cityAr": "الرياض",
            //      "latitude": "4.54552",
            //      "longitude": "8.145545",
            //      "bookingURL": "http://boudl.com/BoudlGroupTest/Branches/ManageBranch"
            //  },
            //  {
            //      "id": 79,
            //      "type": 7,
            //      "hotelEn": "Boudl",
            //      "hotelAr": "بودل",
            //      "addressEn": "Braira Al - Azizya",
            //      "addressAr": "بریرا العزیزیة",
            //      "titleEn": "New Branch In Eng1",
            //      "titleAr": "New Branch in Ar",
            //      "countryEn": "Saudi Arabia",
            //      "countryAr": "Ar Saudi Arab",
            //      "cityEn": "Riyadh",
            //      "cityAr": "الرياض",
            //      "latitude": "24.251441",
            //      "longitude": "46.152214",
            //      "bookingURL": "http://www.boudl.com"
            //  },
            //  {
            //      "id": 80,
            //      "type": 7,
            //      "hotelEn": "Boudl",
            //      "hotelAr": "بودل",
            //      "addressEn": "Braira Al - Azizya",
            //      "addressAr": "بریرا العزیزیة",
            //      "titleEn": "Aber Hotel547",
            //      "titleAr": "Aber Hotel231",
            //      "countryEn": "Saudi Arabia",
            //      "countryAr": "Ar Saudi Arab",
            //      "cityEn": "Abha",
            //      "cityAr": "أبها",
            //      "latitude": "24.251441",
            //      "longitude": "46.152214",
            //      "bookingURL": "http://azizia.boudl.com/V8Client/Inquiry.aspx"
            //  },
            //  {
            //      "id": 81,
            //      "type": 7,
            //      "hotelEn": "Boudl",
            //      "hotelAr": "بودل",
            //      "addressEn": "265-retyer",
            //      "addressAr": "64576-df",
            //      "titleEn": "hitex branch123",
            //      "titleAr": "ar hitex",
            //      "countryEn": "Saudi Arabia",
            //      "countryAr": "Ar Saudi Arab",
            //      "cityEn": "Riyadh",
            //      "cityAr": "الرياض",
            //      "latitude": "0.546514",
            //      "longitude": "0.454554",
            //      "bookingURL": "http://boudl.com/"
            //  },
            //  {
            //      "id": 82,
            //      "type": 8,
            //      "hotelEn": "Braira",
            //      "hotelAr": "بریرا",
            //      "addressEn": "Mahi",
            //      "addressAr": "Ar Mahi",
            //      "titleEn": "test2",
            //      "titleAr": "Test 2Ar",
            //      "countryEn": "Saudi Arabia",
            //      "countryAr": "Ar Saudi Arab",
            //      "cityEn": "Al Taif",
            //      "cityAr": "الطائف",
            //      "latitude": "56.251441",
            //      "longitude": "21.401120",
            //      "bookingURL": "http://boudl.com/BoudlGroupTestAdmin"
            //  },
            //  {
            //      "id": 84,
            //      "type": 9,
            //      "hotelEn": "Aber Hotel",
            //      "hotelAr": "عابر",
            //      "addressEn": "olaya",
            //      "addressAr": "عابر العليا",
            //      "titleEn": "Aber Olaya ",
            //      "titleAr": "عابر العليا",
            //      "countryEn": "Saudi Arabia",
            //      "countryAr": "Ar Saudi Arab",
            //      "cityEn": "Riyadh",
            //      "cityAr": "الرياض",
            //      "latitude": "24.692320",
            //      "longitude": "46.665989",
            //      "bookingURL": "http://olaya.booking.com"
            //  },
            //  {
            //      "id": 85,
            //      "type": 9,
            //      "hotelEn": "Aber Hotel",
            //      "hotelAr": "عابر",
            //      "addressEn": "Qurtubah, 11211",
            //      "addressAr": "Qurtubah, 11211",
            //      "titleEn": "Aber 103",
            //      "titleAr": "Aber 103",
            //      "countryEn": "Saudi Arabia",
            //      "countryAr": "Ar Saudi Arab",
            //      "cityEn": "Riyadh",
            //      "cityAr": "الرياض",
            //      "latitude": "45.656562",
            //      "longitude": "43.232326",
            //      "bookingURL": "http://www.aberhotels.com/"
            //  }
            //];

            //A utility function that translates a given type to an icon
            //function getIcon(type) {
            //    switch(type) {
            //        case "6": return "new4_files/drugstore.png";
            //        case "7": return "new4_files/fav.png";
            //        case "8": return "new4_files/barber.png";
            //        case "9": return "new4_files/barber.png";
            //        default: return "new4_files/fav.png";
            //    }
            //}

            function initialize() {

                $.ajax({
                    url: "http://boudl.com/BoudlGroupAPITest/api/UserDeviceTokenAPI/FindHotelBrancheService/7",
                    type: "POST",
                    dataType: "text json",
                    success: function(result,status,jqXHR ){
                        data = result;//data = JSON.stringify(result) ;


                var latlng = new google.maps.LatLng(22.7224706, 25.3357758);
                var myOptions = {
                    zoom: 2,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById("map"), myOptions);

                geocoder = new google.maps.Geocoder();

                data.forEach(function (mapData, idx) {
                    var marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(mapData.latitude, mapData.longitude),
                        title: mapData.titleEn,
                        icon: "http://boudl.com/assets/img/corporate/fav.png"
                    });
                    var contentHtml = "<div style='width:200px;height:80px; '><div><strong>" + mapData.titleEn + "</strong> - " + mapData.addressEn + "</div><div><br/><a  style='background:#57114E; color:#fff; padding:3px;' href='" + mapData.bookingURL + "' target='_blank'>Book Now </a> &nbsp; <a  style='background:#57114E; color:#fff; padding:3px;' href=" + urlPrepend + "/branches/" + mapData.slug + " target='_blank'>View Branch</a> </div></div>";
                    var infowindow = new google.maps.InfoWindow({
                        content: contentHtml
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
                    marker.locid = idx + 1;
                    marker.infowindow = infowindow;
                    markers[markers.length] = marker;
                    var sideHtml = '<tr class="loc" data-locid="' + marker.locid + '"><td><p class="p-br" ><strong>' + mapData.titleEn + '</strong></p><p class="p-br">' + mapData.addressEn + ', ' + mapData.cityEn + ', ' + mapData.countryEn + '</p>';
                    sideHtml += '<a href="' + mapData.bookingURL + '" style="background:#57114E; color:#fff; padding:3px;" >Book Now</a> &nbsp; ';
                    sideHtml += '<a style="background:#57114E; color:#fff; padding:3px;" href="' + urlPrepend + '/branches/' + mapData.slug + '">View Branch</a>';
                    sideHtml += '</td></tr>';

                    $("#locs").append(sideHtml);

                    //Are we all done? Not 100% sure of this
                    //if (markers.length == data.length) doFilter();
                });

                $(document).on("click", ".loc", function () {
                    var thisloc = $(this).data("locid");
                    for (var i = 0; i < markers.length; i++) {
                        if (markers[i].locid == thisloc) {
                            //get the latlong
                            if (lastinfowindow instanceof google.maps.InfoWindow) lastinfowindow.close();
                            map.panTo(markers[i].getPosition());
                            markers[i].infowindow.open(map, markers[i]);
                            lastinfowindow = markers[i].infowindow;
                        }
                    }
                });

                //function doFilter() {
                //    if (!locIndex) {
                //        locIndex = {};
                //        //I reverse index markers to figure out the position of loc to marker index
                //        for (var x = 0, len = markers.length; x < len; x++) {
                //            locIndex[markers[x].locid] = x;
                //        }
                //    }

                //    //what's checked?
                //    var checked = $("input[type=checkbox]:checked");
                //    var selTypes = [];
                //    for (var i = 0, len = checked.length; i < len; i++) {
                //        selTypes.push($(checked[i]).val());
                //    }
                //    for (var i = 0, len = data.length; i < len; i++) {
                //        var sideDom = "p.loc[data-locid=" + (i + 1) + "]";

                //        //Only hide if length != 0
                //        if (checked.length != 0 && selTypes.indexOf(data[i].type) < 0) {
                //            $(sideDom).hide();
                //            markers[locIndex[i + 1]].setVisible(false);
                //        } else {
                //            $(sideDom).show();
                //            markers[locIndex[i + 1]].setVisible(true);
                //        }
                //    }
                //}

                        //$(document).on("click", "input[type=checkbox]", doFilter);
                $('#branches').DataTable({
                    "bLengthChange": false,
                    "pageLength": 5
                });

                    },
                    error(jqXHR, textStatus, errorThrown) {  }
                });

            }
            //});
        </script>

        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@

}
