﻿
@{
    ViewBag.Title = "Find Hotels by Location Map | Boudl Hotels Saudi Arabia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{


}   

<!-- End of Internal Page Header -->
<div id="welcome1" class="container">
    <!-- Heading box -->
    <div class="heading-box">
       <br /><br />Find Locations by <a href="javascript:;" id="Map1"><i class="fa fa-map-marker"></i> Map</a> |
        <a href="javascript:;" id="Data1"><i class="fa fa-th-list"></i> List</a>
    </div>
</div>
<div id="" class="pos-rel">
    <aside class="location-container" id="exploremap">
        <div class="container-fluid" id="divcheck">
            <div class="hotel__amenity__filter">
                <div class="filter__container">
                    <div class="heading"><h2>Filters <span class="pull-right filter_list_show">Show Filters</span></h2></div>
                    <div class="filter__container_list">
                        @if (ViewBag.HotelAmenities != null)
                        {
                            foreach (var item in ViewBag.HotelAmenities)
                            { //onchange = "filterMarkers(this.value);" me="AmenitiesIDs" title="@item.Text" value="@item.Value" style="margin-left:20px;" />
                                @*@item.Text*@

                                <label class="checkbox__container">
                                    @item.Text
                                    <input type="checkbox" id="amdId" name="AmenitiesIDs" title="@item.Text" value="@item.Value" />
                                    <span class="checkmark"></span>
                                </label>

                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="textwidget text-justify">
            <input type="hidden" value="" id="ZoomValue" />
            <input type="hidden" value="" id="latitude" />
            <input type="hidden" value="" id="longitude" />
            <div id="divmap">

            </div>
        </div>

    </aside>

    <div class="main-content container">        
        <!-- Page Content -->        
        <div class="row" id="exploredata">
            <div class="col-sm-12">
                <hr />
                <div class="col-sm-4">
                    <label>Select City</label>
                    @Html.DropDownList("HotelList", (IEnumerable<SelectListItem>)ViewBag.CoutrList, "Select City", new { @Id = "ddlHotel" })
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <label>Select Hotel Amenity</label>
                    @*@Html.DropDownList("HotelAmenities", (IEnumerable<SelectListItem>)ViewBag.HotelAmenities, "Select Hotel Amenities", new { @Id = "ddlAmenity", @onchange = "ddlAmty()" })*@
                    @Html.ListBox("HotelAmenities", (IEnumerable<SelectListItem>)ViewBag.HotelAmenities, new { @Id = "ddlAmenity", @onchange = "ddlAmty()", @placeholder = "Select Hotel Amenities" })
                </div>
            </div>
            <div class="col-sm-12" id="divhotelcities">               

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky trans-header contact type-1");
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

    <script type="text/javascript">
        $("#hoteldetails").hide();
        $('#exploredata').hide();
        $('#exploremap').show();
        $('#Map1').click(function () {
            $('#exploredata').hide();
            $('#exploremap').show();
        })
        $('#Data1').click(function () {
            $('#exploredata').show();
            $('#exploremap').hide();
        })
        //function filterMarkers(category) {
        //    alert('changed');
        //}
        var HotelId = "";
        var AmenityId = "";
        $(document).ready(function () {

            $(":checkbox[name='AmenitiesIDs']").change(function () {
                //var checkbox_Value = $(this).val();
                //alert(checkbox_Value);
                debugger;
                var checked = "";
                //var checked = $("input[type=checkbox]:checked").val();
                //$("input[name='AmenitiesIDs']:checked").each(function () {
                    //alert($(this).val());
                    //checked = $(this).val() + ",";
                    //"input[name='AmenitiesIDs']:checked"
                $("#divcheck input:checked").each(function () {
                    //chkArray.push($(this).val());
                    checked += $(this).val() + ",";
                //}
                    //
                    //alert(checked);
                    //});
                    //checked = $("input[name='AmenitiesIDs']:checked").val() + ",";

                });
                //alert($(this).val());
                //alert(checked);
                var LatLongZoom = "";
                var zoom =$("#ZoomValue").val();
                var latlong = $("#latitude").val();
                LatLongZoom = latlong + "," + zoom;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetMapByAmenity")',
                    //url:TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { AmenitiesIDs: checked, latlongzoom:LatLongZoom },
                    datatype: "json",
                    success: function (data) {
                        $("#divmap").empty();
                        $('#divmap').html(data);
                        //$('#full').modal(options);
                        //$('#full').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            })

        });
        $(document).ready(function () {
            //var $buttonClicked = $(this);
            //var id = $buttonClicked.attr('data-id');
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            //var options = { "backdrop": "static", keyboard: true };
             AmenityId = null;
            var LatLongZoom = null;

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapByAmenity")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { AmenitiesIDs: AmenityId,latlongzoom:LatLongZoom },
                datatype: "json",
                success: function (data) {
                    $('#divmap').html(data);
                    //$('#full').modal(options);
                    //$('#full').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { HtId: HotelId, AmtId: AmenityId },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        $('#ddlHotel').change(function () {
            HotelId = $(this).val();
            //alert(HName);
            // Commented Temporarily
            var AmntId = AmenityId;
              @*var url = "@Url.Action("getData", "FindAHotel", new { HtId="_HtId_", para = "_AmtId_"})";
            var url2 = url.replace("_HtId_", HotelId);
            var url3 = url2.replace("_AmtId_", AmntId);
            window.location.href = "/boudldev/FindAHotel/getData?HtId=" + HotelId.toString() + "&para=" + AmntId.toString();*@

            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { HtId: HotelId, AmtId: AmenityId },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                    //$('#full').modal(options);
                    //$('#full').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        })
        function ddlAmty() {
            var hotelid = HotelId;
            var id = ""
            $("#ddlAmenity option:selected").each(function () {

                //var id = "" + $("#ddlAmenity").val() + ",";
                id += $(this).val() + ",";
            });


            @*var url = '@Url.Action("getData", "FindAHotel", new { HtId = "__HtId__", para = "__para__" })';
            var urlredirec = "FindAHotel/getData?HtId=" + 2 + "&para=" + id;
            window.location.href = "/boudldev/FindAHotel/getData?HtId=" + hotelid.toString() + "&para=" + id.toString();*@
            ////FindAHotel/getData?HtId=" + 75 + "&para=" + 2;
            //var $buttonClicked = $(this);
            //var testid = $buttonClicked.attr('data-id');
            //var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { HtId: hotelid, para: id },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                    //$('#full').modal(options);
                    //$('#full').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

        }

        var Hdata = "@ViewData["HotelId"]";
        var Adata = "@ViewData["AmenityId"]";

        if (Hdata > 0) {
            $('#exploredata').show();
            $('#exploremap').hide();
            HotelId = Hdata;
            $('#ddlHotel option[value=' + Hdata + ']').attr("selected", true);
        }
        if (Adata > 0) {
            $('#exploredata').show();
            $('#exploremap').hide();
            AmenityId = Adata.toString();
            $('#ddlAmenity option[value=' + Adata + ']').attr("selected", true);
        }
            @*filterMarkers = function (category) {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            var AmenityId = ""
            var checked = $("input[type=checkbox]:checked");
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapByAmenity")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { AmenitiesIDs: AmenityId },
                datatype: "json",
                success: function (data) {
                    $('#divmap').html(data);
                    //$('#full').modal(options);
                    //$('#full').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        }*@

            //$('input[type=checkbox]:checked').change(function () {
            //    alert('changed');
                //debugger;
                //var checked = $("input[type=checkbox]:checked");
                //var $buttonClicked = $(this);
                //var id = $buttonClicked.attr('data-id');
                //var options = { "backdrop": "static", keyboard: true };
                //var AmenityId = ""
            //});


    </script>
    <script type="text/javascript">
        $(".filter__container_list").hide("slow");

        $(".filter_list_show").on('click', function () {
            if ($(".filter_list_show").html() == "Show Filters") {
                $(".filter__container_list").slideToggle();
                $(".filter_list_show").html("Hide Filters");
            }
            else {
                $(".filter__container_list").slideToggle();
                $(".filter_list_show").html("Show Filters");
            }
            
        });
    </script>
}
