﻿@model Boudl.Client.Mvc.FindAHotelDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <h4>FindAHotelDTO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.HotelId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HotelId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HotelNameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HotelNameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HotelNameAr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HotelNameAr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AddressEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AddressEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AddressAr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AddressAr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BranchNameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BranchNameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BranchNameAr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BranchNameAr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CountryEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CountryEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CountryAr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CountryAr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CityEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CityEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CityAr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CityAr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lng)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lng)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BookingURL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BookingURL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.slug)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.slug)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AmenityIds)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AmenityIds)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
