﻿@model BoudlHotel.CareerApplicationDTO
@{
    ViewBag.Title = "Careers at ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page about-header" data-parallax="scroll" data-image-src="http://csadms.com/boudl-apart/assets/img/headers/careers-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/">Home</a></li>
        <li class="active">Careers</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<div id="welcome1" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2><span>Careers</span></h2>
        <div class="subtitle">Apply online for a career in one of our Boudl branches</div>
        <!-- Title -->
    </div>
</div>
<div class="booking-title-box careers-bg">
    <div class="booking-title-box-inner container">
        <!-- Booking form --> 

        <form class="booking-form clearfix" action="#" method="post">
            @if (ViewBag.JobCatList != null)
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Job Category</label>
                    <div class="col-sm-4">
                        @*@Html.DropDownListFor(model => model.JobCategoryId, (IEnumerable<SelectListItem>)ViewBag.JobCatList, "Please Select Job Category", new { id = "ddlJobCat", @class = "chosen-select" })*@
                        @*@Html.DropDownListFor(model => model.JobCategoryId, new SelectList("", ""), "Please Select Job Category", new { id = "ddlJobCat", @class = "form-control" })*@
                        @*@Html.ValidationMessageFor(model => model.JobCategoryId, "", new { @class = "text-danger" })*@
                        <select class="form-control" id="ddlJobCat" required>
                            <option selected="selected">Select</option>
                        </select>
                    </div>
                    <div id="lbValidateJobCat"></div>
                </div>
            }
            @*@Html.DropDownListFor(model => model.JobCategoryId, (IEnumerable<SelectListItem>)ViewBag.cityList, "Please Select Job Category", new { id = "ddlJobCategory", @class = "chosen-select" })*@
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Position</label>
                <div class="col-sm-4">
                    @*@Html.DropDownListFor(model => model.PositionId, new SelectList("", ""), "Please Select Position", new { id = "ddlPosition", @class = "form-control" })*@
                    @*@Html.ValidationMessageFor(model => model.PositionId, "", new { @class = "text-danger" })*@
                    <select class="form-control" id="ddlPosition" required>
                        <option selected="selected">Select</option>
                    </select>
                </div>
                <div id="lbValidatePos"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-4">
                    @*@Html.DropDownListFor(model => model.CityId, new SelectList("", ""), "Please Select Location", new { id = "ddlLocation", @class = "form-control" })*@
                    @*@Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })*@
                    <select class="form-control" id="ddlLocation" required>
                        <option selected="selected">Select</option>
                    </select>
                </div>
                <div id="lbValidateLocation"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Applicant Name</label>
                <div class="col-sm-4">
                    @*@Html.DropDownListFor(model => model.Id, new SelectList("", ""), "Please Select Location1", new { id = "ddlHotels3", @class = "form-control" })*@
                    @*@Html.TextBoxFor(model => model.NameEn, new { id = "txtNameEn", @class = "form-control", @maxlength = 250, @placeholder = "Enter Branch Name in English" })*@
                    @Html.TextBoxFor(model=>model.FullName,new { id="txtFullName",@class="form-control",@maxlength=250,@placeHolder="Enter Full Name"})
                    @*@Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })*@
                </div>
                <div id="lbValidateFName"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Mobile Number</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.Phone, new {@type="tel", id = "txtPhoneNumber",@maxlength="12",@placeholder="Enter 12 Digits Phone Number", @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })*@
                </div>
                <div id="lbValidatePhone"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Email</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.Email, new {@type="Email", id = "txtEmail", @class = "form-control",@maxlength="150",@placeholder="Enter valid Email Id" })
                    @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                </div>
                <div id="lbValidateEmail"></div>
            </div>
            @*<div class="form-group row">
                <label class="col-sm-2">File Upload</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.Id, new SelectList("", ""), "Please Select Location2", new { id = "ddlHotels4", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
                <div id="lbValidateFile"></div>
            </div>*@
            

            <div class="booking-button-container">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <button id="btnSubmit" style="margin-left:150px;" onclick="validateDestination()" class="btn btn-default">Submit</button>
                    @*<a id="lnkBooking" target="_blank" onclick="validateDestination()" class="btn btn-default">Submit</a>*@
                </div>
                
                
            </div>
           
            
            
            <!-- Do Not remove the classes -->
            @*<div class="booking-fields col-sm-3">
                <input type="text" placeholder="Enter Keyword" />
            </div>*@
            @*<div class="booking-fields col-sm-3">
                <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                <select name="room-type" id="booking-field3">
                    <option value="">Categories</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                    <option value="1">Food &amp; Beverage - Restaurant &amp; Lounge</option>
                    <option value="2">Spa &amp; Fitness</option>
                    <option value="3">Rooms - Housekeeping</option>
                    <option value="4">Rooms - Front Office/Guest Services</option>
                    <option value="5">Food &amp; Beverage - Banquets</option>
                    <option value="6">Sales, Marketing, &amp; Public Relations</option>
                    <option value="7">Engineering / Maintenance / Grounds </option>
                    <option value="8">Stewarding</option>
                    <option value="9">Rooms - Laundry/Valet</option>
                    <option value="10">Food &amp; Beverage - Room Service</option>
                    <option value="11">Reservations &amp; Revenue</option>
                    <option value="12">Security &amp; Loss Prevention</option>
                    <option value="13">Accounting &amp; Finance</option>
                    <option value="14">Catering</option>
                    <option value="15">Human Resources &amp; Training</option>
                    <option value="16">Hotel Operations / Management</option>
                    <option value="17">Food &amp; Beverage Management</option>
                    <option value="18">Purchasing &amp; Procurement</option>
                    <option value="19">Information Technology</option>
                    <option value="20">Employee Dining</option>
                    <option value="21">Rooms Management</option>
                    <option value="22">Conference Planning</option>
                    <option value="23">Staff Housing</option>
                    <option value="24">Manager in Training</option>
                    <option value="25">Audio Visual</option>
                    <option value="26">Business Center</option>
                    <option value="27">Operations - Corporate</option>
                    <option value="28">Design &amp; Construction</option>
                    <option value="29">Legal</option>
                    <option value="30">Executive Managerial</option>
                    <option value="31">Development</option>
                    <option value="32">Food &amp; Beverage - Kitchen</option>
                </select>
                <!-- End of Select boxes -->
            </div>*@
            @*<div class="booking-fields col-sm-3">
                <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                <select name="room-type" id="booking-field2">
                    <option value="">Location</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                    <option value="2">Riyadh</option>
                    <option value="3">Dammam</option>
                    <option value="4">Khobar</option>
                    <option value="5">Jeddah</option>
                    <option value="6">Al Taif</option>
                    <option value="6">Qassim</option>
                    <option value="6">Hail</option>
                    <option value="6">Abha</option>
                    <option value="6">Hafr AlBatin</option>
                    <option value="6">Kuwait City</option>
                </select>
                <!-- End of Select boxes -->
            </div>*@
            @*<div class="booking-fields col-sm-3">
                <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                <button class="job-button">Search</button>
                <!-- End of Select boxes -->
            </div>*@
        </form>
    </div>
</div>
<!-- Welcome -->

<div id="welcome" class="container">
    <div class="main-content container">
        <!-- Page Content -->
        <aside class="sidebar right-sidebar col-sm-6">
            <!-- Text Widget -->
            <div class="widget widget_text">
                <div class="textwidget text-justify">
                    <p>
                        <strong class="purple">Working With Boudl:</strong>
                    </p>
                    <p>
                        At Boudl we are fully pleasant to hire, develop and retain people, who are interested of being a part of our company and who keen to start a career in the field of tourism &amp; hospitality.<br />
                        We pride ourselves on being the first national Hotels group in the kingdom of Saudi Arabia, we are full of passion to be number  one in the world and we won't without you, here you will be surrounded by smart and efficient people who will encourage  you always forward, with you we will change the concept of hospitality, don't hesitate to apply with us, search for your preferred job and attach your resume.
                    </p>
                </div>
            </div>
        </aside>
        <!-- Sidebar Section -->
        <div class="page-content col-sm-6">
            <!-- Rooms Container -->
            <div class="room-container room-grid clearfix">
                <!-- Room Boxes -->
                <div class="room-box col-xs-12">
                    <div class="img-container">
                        <img src="~/assets/img/corporate/careers-at-boudl.jpg" alt="Careers at Boudl Apart Hotel" />
                    </div>
                </div>
            </div>
            <!-- End of Rooms Container -->
        </div>
        <!-- Sidebar Section -->
    </div>
</div>
<!-- End of Welcome -->

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages room-details trans-header sticky")
    </script>
<script type="text/javascript">
    function validateDestination() {
        var JobCate = $("#ddlJobCat").val();
        var Position = $("#ddlPosition").val();
        var location = $("#ddlLocation").val();
        var FName = $("#txtFullName").val();
        var PhoneNum = $("#txtPhoneNumber").val();
        var TEmail = $("#txtEmail").val();
        //var Position = $("#").val();


        if (JobCate == "") {
            $("#lbValidateJobCat").html("*Please select Job Category");
            //$("#lbValidate").attr('style', 'color: #99003d !important');
            $("#lbValidateJobCat").attr('style', 'color: #99003d;font-size:25px');
        }
        else {
            $("#lbValidateJobCat").html("");
        }
        if (Position == "") {
            $("#lbValidatePos").html("*Please select Position");
            $("#lbValidatePos").attr('style', 'color: #99003d;font-size:25px');
        }
        else {
            $("#lbValidatePos").html("");
        }
        if (location == "") {
            $("#lbValidateLocation").html("*Please select Job Location");
            $("#lbValidateLocation").attr('style', 'color: #99003d;font-size:25px');
        }
        else {
            $("#lbValidateLocation").html("");
        }
        if (FName == "") {
            $("#lbValidateFName").html("*Enter Applicant Full Name");
            $("#lbValidateFName").attr('style', 'color: #99003d;font-size:25px');
        }
        else {
            $("#lbValidateFName").html("");
        }
        if (PhoneNum == "") {
            $("#lbValidatePhone").html("*Enter Phone Number");
            $("#lbValidatePhone").attr('style', 'color: #99003d;font-size:25px');
        }
        else {
            $("#lbValidatePhone").html("");
        }
        if (TEmail == "") {
            $("#lbValidateEmail").html("*Enter Email Id");
            $("#lbValidateEmail").attr('style', 'color: #99003d;font-size:25px');
        }
        else {
            $("#lbValidateEmail").html("");
        }
    }
    //$("body").addClass("homepage trans-header sticky white-datepicker");
    $(document).ready(function () {
        var jobcat=null;
        var ctId=null;
        var loc=null;
        $("#ddlJobCat").empty();
        $("#ddlJobCat").append($('<option>', {
            value: 0
        }));
        var model = @Html.Raw(ViewBag.JobCatList);
        for(var i = 0; i < model.length; i++) {
            
                $('#ddlJobCat').append($('<option>', {
                    value: model[i].Id,
                    text: model[i].NameEn
                }))
            
        }
        $('#ddlJobCat').trigger("chosen:updated");
        $('#ddlJobCat').change(function () {
            //var value = $(this).val();
            jobcat=$(this).val();
            $("#ddlPosition").empty();
            $("#ddlPosition").append($('<option>', {
                value: 0
            }));
            var model = @Html.Raw(ViewBag.CityList);
            for(var i = 0; i < model.length; i++) {
                if (model[i].JobCategoryId == jobcat) {
                    $('#ddlPosition').append($('<option>', {
                        value: model[i].CityId,
                        text: model[i].NameEn
                    }))
                }
            }
            $('#ddlPosition').trigger("chosen:updated");
        });
        $('#ddlPosition').change(function () {
            //var value = $(this).val();
            //ctId=parseInt($(this).val());
            ctId=$(this).val();
            $("#ddlLocation").empty();
            $("#ddlLocation").append($('<option>', {
                value: 0
            }));
            var model = @Html.Raw(ViewBag.PositionList);
            for(var i = 0; i < model.length; i++) {
                if (model[i].JobCategoryId == jobcat && model[i].CityId==ctId) {
                    $('#ddlLocation').append($('<option>', {
                        value: model[i].Id,
                        text: model[i].PositionEn
                    }))
                }
            }
            $('#ddlLocation').trigger("chosen:updated");
        });
    });
</script>
}
