﻿@model BoudlHotel.CareerApplicationDTO
@{
    ViewBag.Title = "Careers at ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        .text-danger2{
            color:red;
        }
    </style>
}

<!-- Internal Page Header -->
<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/">Home</a></li>
        <li class="active">Careers</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<div id="welcome1" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2><span>Careers</span></h2>
        <div class="subtitle">Apply online for a career in one of our Boudl branches</div>
        <!-- Title -->
    </div>
</div>
@*<div class="booking-title-box careers-bg">*@
    <div class="booking-title-box ">
        <div class="booking-title-box-inner container">
            <!-- Booking form -->
            <br/>
            <form class="booking-form clearfix" method="post" enctype="multipart/form-data">
                @if (ViewData["Success"] != null)
                {
                    //Success
                    @Html.Raw(ViewData["Success"].ToString())

                }
                else
                {
                    if (ViewData["Error"] != null)
                    {
                        //failure
                        @Html.Raw(ViewData["Error"].ToString())
                    }

                    if (ViewBag.JobCatList != null)
                {
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Job Category</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="JobCategoryId" id="ddlJobCat" required>
                                    <option selected="selected" value="">Select</option>
                                </select>
                            </div>
                            <div id="lbValidateJobCat"></div>
                        </div>
                    }

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Position</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="PositionId" id="ddlPosition" required>
                                <option selected="selected" value="">Select</option>
                            </select>
                        </div>
                        <div id="lbValidatePos"></div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2">Applicant Name</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.FullName, new { id = "txtFullName", @class = "form-control", @maxlength = 250, @placeHolder = "Enter Full Name",@required="true" })
                        </div>
                        <div id="lbValidateFName"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Mobile Number</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Phone, new { @type = "tel", id = "txtPhoneNumber", @maxlength = "12", @placeholder = "Enter 12 Digits Phone Number", @class = "form-control", @required = "true"     })
                        </div>
                        <div id="lbValidatePhone"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Email</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Email, new { @type = "Email", id = "txtEmail", @class = "form-control", @maxlength = "150", @placeholder = "Enter valid Email Id", @required = "true" })
                        </div>
                        <div id="lbValidateEmail"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">File Upload</label>
                        <div class="col-sm-4">
                            <input name="fileUpload" id="DocUpload" accept="application/msword,application/pdf" type="file" required />
                            @Html.ValidationMessageFor(model => model.ProfilePath, "", new { @class = "text-danger2" })
                            <p id="fuError" style="color: red;"></p>
                        </div>
                        <div id="lbValidateFile"></div>
                    </div>
                    <div class="booking-button-container">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <button id="btnSubmit" style="margin-left:150px;" onclick="validateDestination()" class="btn btn-default">Submit</button>
                        </div>
                    </div>

                }
                
            </form>
        </div>
    </div>
    <!-- Welcome -->

    <div id="welcome" class="container">
        <div class="main-content container">
            <!-- Page Content -->
            <aside class="sidebar right-sidebar col-sm-6">
                <!-- Text Widget -->
                <div class="widget widget_text">
                    <div class="textwidget text-justify">
                        <p>
                            <strong class="purple">Working With Boudl:</strong>
                        </p>
                        <p>
                            At Boudl we are fully pleasant to hire, develop and retain people, who are interested of being a part of our company and who keen to start a career in the field of tourism &amp; hospitality.<br />
                            We pride ourselves on being the first national Hotels group in the kingdom of Saudi Arabia, we are full of passion to be number  one in the world and we won't without you, here you will be surrounded by smart and efficient people who will encourage  you always forward, with you we will change the concept of hospitality, don't hesitate to apply with us, search for your preferred job and attach your resume.
                        </p>
                    </div>
                </div>
            </aside>
            <!-- Sidebar Section -->
            <div class="page-content col-sm-6">
                <!-- Rooms Container -->
                <div class="room-container room-grid clearfix">
                    <!-- Room Boxes -->
                    <div class="room-box col-xs-12">
                        <div class="img-container">
                            <img src="~/assets/img/corporate/careers-at-boudl.jpg" alt="Careers at Boudl Apart Hotel" />
                        </div>
                    </div>
                </div>
                <!-- End of Rooms Container -->
            </div>
            <!-- Sidebar Section -->
        </div>
    </div>
    <!-- End of Welcome -->

    @section scripts{
        <script type="text/javascript">
            $("body").addClass("internal-pages room-details trans-header sticky")
            $("p").removeClass("p1");
        </script>
<script>
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode < 47 || charCode > 57))
                return false;
            return true;
        }
</script>
        <script type="text/javascript">
            function validateDestination() {
                var JobCate = $("#ddlJobCat").val();
                var Position = $("#ddlPosition").val();
                var location = $("#ddlLocation").val();
                var FName = $("#txtFullName").val();
                var PhoneNum = $("#txtPhoneNumber").val();
                var TEmail = $("#txtEmail").val();
                //var Position = $("#").val();


                if (JobCate == "" || JobCate == "0") {
                    $("#lbValidateJobCat").html("*Please select Job Category");
                    //$("#lbValidate").attr('style', 'color: #99003d !important');
                    $("#lbValidateJobCat").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidateJobCat").html("");
                }
                if (Position == "" || Position=="Select" || Position=="0") {
                    $("#lbValidatePos").html("*Please select Position");
                    $("#lbValidatePos").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidatePos").html("");
                }
                if (location == "") {
                    $("#lbValidateLocation").html("*Please select Job Location");
                    $("#lbValidateLocation").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidateLocation").html("");
                }
                if (FName == "") {
                    $("#lbValidateFName").html("*Enter Applicant Full Name");
                    $("#lbValidateFName").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidateFName").html("");
                }
                if (PhoneNum == "" || length(PhoneNum)!=12) {
                    $("#lbValidatePhone").html("*Enter 12 digit phone number with country code");
                    $("#lbValidatePhone").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidatePhone").html("");
                }
                if (TEmail == "") {
                    $("#lbValidateEmail").html("*Enter Email Id");
                    $("#lbValidateEmail").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidateEmail").html("");
                }
            }
            //$("body").addClass("homepage trans-header sticky white-datepicker");
            $(document).ready(function () {
                var jobcat=null;
                var ctId=null;
                var loc=null;
                //$("#ddlJobCat").empty();
                //$("#ddlJobCat").append($('<option>', {
                //    value: 0
                //}));
                var model = @Html.Raw(ViewBag.JobCatList);
                for(var i = 0; i < model.length; i++) {

                    $('#ddlJobCat').append($('<option>', {
                        value: model[i].Id,
                        text: model[i].NameEn
                    }))

                }
                $('#ddlJobCat').trigger("chosen:updated");
                $('#ddlJobCat').change(function () {
                    //var value = $(this).val();
                    jobcat=$(this).val();
                    $("#ddlPosition").empty();
                    $("#ddlPosition").append($('<option>', {
                        value: 0,
                        text:'Select'
                    }));
                    var model1 = @Html.Raw(ViewBag.PositionList);
                    for(var i = 0; i < model1.length; i++) {
                        if (model1[i].JobCategoryId == jobcat) {
                            $('#ddlPosition').append($('<option>', {
                                value: model1[i].Id,
                                text: model1[i].PositionEn
                            }))
                        }
                    }
                    $('#ddlPosition').trigger("chosen:updated");
                });
                @*$('#ddlPosition').change(function () {
            //var value = $(this).val();
            //ctId=parseInt($(this).val());
            ctId=$(this).val();
            $("#ddlLocation").empty();
            $("#ddlLocation").append($('<option>', {
                value: 0
            }));
            var model2 = @Html.Raw(ViewBag.PositionList);
            for(var i = 0; i < model2.length; i++) {
                if (model2[i].JobCategoryId == jobcat && model2[i].CityId==ctId) {
                    $('#ddlLocation').append($('<option>', {
                        value: model2[i].Id,
                        text: model2[i].PositionEn
                    }))
                }
            }
            $('#ddlLocation').trigger("chosen:updated");
        });*@
                //$('#DocUpload').click(function() {
                //    var ext = $('#DocUpload').val().split(".").pop().toLowerCase();
                //    if($.inArray(ext, ["doc","pdf",'docx']) == -1) {
                //        // false
                //    }else{
                //        // true
                //    }
                //});
                $('#DocUpload').on('change', function() {
                    myfile= $( this ).val();
                    var ext = myfile.split('.').pop().toLowerCase();
                    if(ext=="pdf" || ext=="docx" || ext=="doc")
                    {    
                        $("#btnSubmit").attr("disabled", false);
                        $(".text-danger2").text("");
                    } 
                    else
                    {                        
                        $(".text-danger2").text("Invalid File! You can upload only doc and pdf file.");
                        $("#btnSubmit").attr("disabled", true);
                    }
                });
            });
        </script>
    }
