﻿
@{
    ViewBag.Title = "جائزة الفخامة الفندقية العالمية";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
}
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/boudl-apart/assets/img/headers/News-Boudl.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/">الرئيسية</a></li>
        <li><a href="~/ar/news/">الأخبار</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <img src="~/assets/img/news/luxury-awards.jpg" class="post-img" alt=" جائزة الفخامة الفندقية العالمية" />
                <h3 class="post-title">جائزة الفخامة الفندقية العالمية</h3>
                <div class="post-desc">
                    <p>
                        للسنة الرابعة على التوالى يحصد فندق نارسيس الرياض جائزة الفخامة الفندقية العالمية  لسنة ٢٠١٧ لكونه أفخم فندق من حيث التصميم المعمارى و الديكور الداخلى فى الشرق الأوسط و إفريقيا. 
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">01 - Oct - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}
