﻿
@{
    ViewBag.Title = "Boudl Al Bondoqia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<div class="room-detail-page">
    <!-- Main Slider -->
    <div id="room-details-slider">
        <div class="items">
            <img src="~/assets/img/branches/AlBondokiya/1.jpg" alt="AlBondokiya 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlBondokiya/2.jpg" alt="AlBondokiya 2" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlBondokiya/3.jpg" alt="AlBondokiya 3" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlBondokiya/4.jpg" alt="AlBondokiya 4" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlBondokiya/5.jpg" alt="AlBondokiya 5" />
        </div>        
    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <div class="heading-box">
                <h2>Boudl <span>Al Bondoqia</span></h2><!-- Title -->
            </div>
            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-in" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-Out" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">Adult</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">Children</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default h-75" value="Book Now" type="submit" onClick="window.open('http://bondoqia.boudl.com/V8Client/Inquiry.aspx');" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                BOUDL AL BONDOQIA hotel is located on the Southern ring road- HAIL. This hotel by its classic design is deemed as the most
                prominent and easily distinguished among HAIL buildings as it offers fantastic options for enjoying vacations and performing
                work as well, and fortunately, BOUDL AL BONDOQIA hotel due to its amazing value, its options for staying there are numerous.
                That is not all, as it provides self-service residence places equipped with modern devices as well as reception office over
                twenty four hours period service besides rooms service. You will have free unlimited entry to the internet network through
                Wi-Fi service in all the hotel parts and presence of laundry.
            </p>
            <br />

        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/assets/img/branches/AlBondokiya/services.jpg" alt="Boudl AlBondokiya Services" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">Hotel Services</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-wifi"></i> Free Wifi</li>
                        <li><i class="fa fa-coffee"></i> Coffee Shop</li>
                        <li><i class="fa fa-bed"></i> 24H Reception</li>
                        <li><i class="fa fa-newspaper-o"></i> Journal</li>
                        <li><i class="fa fa-user"></i> Grooms Service</li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->
<div id="map" class="loc-map">

</div>

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var myLatLng = new google.maps.LatLng(27.535651, 41.660308);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/boudl-apart/assets/img/corporate/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


}