﻿
@{
    ViewBag.Title = "About Us";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}

@section styles{

}
<!-- Internal Page Header -->

<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="">Home</a></li>
        <li class="active">About Us</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Welcome -->
<div id="welcome" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>مرحبا بكم فى <span>بودل للشقق الفندقية</span></h2>
        <!-- Title -->
    </div>
    <!-- Inner section -->
    <div class="inner-content">
        @if (ViewBag.AboutusList != null)
        {
            foreach (var item in ViewBag.AboutusList)
            {
                <div class="img-frame">
                    <img src=@item.ImageAr />
                </div>
                <div class="desc text-left">
                    @Html.Raw(HttpUtility.HtmlDecode(item.ContentAr))
                </div>
            }
        }
    </div>
</div>
<!-- End of Welcome -->

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky")

    </script>
}












