﻿
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

}

<!-- Internal Page Header -->

<div class="internal-page-title about-page about-header @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="">Home</a></li>
        <li class="active">About Us</li>
    </ol>
</div>

@*<div class="internal-page-title about-page about-header" data-parallax="scroll" data-image-src="http://boudl.com/boudl-apart/assets/img/headers/about-us.jpg">
    <ol class="breadcrumb">
       
        <li><a href="">Home</a></li>
        <li class="active">About Us</li>
    </ol>
</div>*@
<!-- End of Internal Page Header -->
<!-- Welcome -->
<div id="welcome" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>Welcome to <span>Boudl Apart 'Hotel</span></h2>
        <!-- Title -->
    </div>
    <!-- Inner section -->
    <div class="inner-content">
        @if (ViewBag.AboutusList != null)
        {
            foreach (var item in ViewBag.AboutusList)
            {
                <div class="img-frame">
                    <img src=@item.ImageEn />
                </div>
                <div class="desc text-left">
                    @Html.Raw(HttpUtility.HtmlDecode(@item.ContentEn)) 
                </div>
            }
        }
        @*<div class="img-frame">            
            <img src="~/assets/img/corporate/boudl-about-us.jpg" alt="Welcome to Boudl Apart ''Hotel" />
        </div>
        <div class="desc text-left">
            <p>
                Boudl Hotel Apartments in Saudi Arabia and Kuwait are characterized by giving guests a sense of at home modern luxury while maintaining the deep
                rooted Saudi luxurious hospitality, for all suites consist of a separate kitchen, bedroom, sitting room, and a bathroom.<br />
                At Boudl Hotel Apartment, you feel at home after a long hard working or touristic day. <br /><br />
                The hotel is managed by a more than 30 year experienced team.<br /><br />
                <strong>“Boudl”</strong> brand is spread through more than 29 hotels in KSA and 2 in Kuwait; while Boudl group is planning to spread all over the Gulf area.
            </p>     <br /><br />
        </div>*@
    </div>
</div>
<!-- End of Welcome -->

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky")
        $("p").removeClass("p1");
    </script>
}